<div class="bulk-edit-container">
  <h3 class="bulk-edit-title">Bulk Update Collection</h3>
  <% if !params['alerts'].blank?  %>
    <div class="bulk-edit_errors-alert" role="alert" style="display: block;">
      <ul class="bulk-edit_errors-list">
        <% params['alerts'].each do |error| %>
          <li class="bulk-edit_error-item"><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= simple_form_for @collection,  html: { class: "bulk-edit_form"}, url: bulk_update_collection_path(@collection) do |f| %>
    <%= f.text_area :card_list, value: @card_list, class: 'bulk-edit_text-area'%>
    <p class="help-text">
      Enter your cards one line at a time with a number at the beginning specifying how many cards you have. Some valid samples are provided below:

      1x Acclaimed Contender
      All That Glitters
      2 Archon of Absolution
    </p>
    <%= f.submit 'Save Collection', class: 'bulk-edit_submit-btn' %>
  <% end %>
</div>
