<div id="edit-collections__wrapper">
  <div id="collections" class="collections__container">
    <input id="card-search" type="text" placeholder="" />
    <div id="search-help"></div>
    <div class="card-grid">
    </div>
  </div>
</div>
<script>

  var cardTemplate = function(card) {
      return `
      <div class="card-grid__card__wrapper">
      <div class="card-grid__card">
        <a class="card-grid__card--link" href="/cards/${card.id}">
          <div class="card-grid__card--placeholder">
              <p class="card-grid__card--attribute">${card.attributes.name}</p>
              <p class="card-grid__card--attribute">CMC: ${card.attributes.mana_cost}</p>
              <p class="card-grid__card--attribute">${card.attributes.type_line}</p>
          </div>
          <img class="card-grid__card--image" alt="${card.attributes.name}" title="${card.attributes.name}" src="${card.attributes.image_url}">
        </a>
        </div>
        <div class="card-grid__counter">
          <button type="button" class="card-grid__counter_decrement__btn" data-id="${card.attributes.id}"><i class="material-icons">indeterminate_check_box</i></button>
          <input type="number" id="${card.attributes.id}-count" data-id="${card.attributes.id}" readonly="readonly"class="card-grid_counter_count" value="${card.attributes.count_in_collection}", min="0">
          <button type="button" class="card-grid__counter_increment__btn" data-id="${card.attributes.id}"><i class="material-icons">add_box</i></button>
        </div>
      </div>
      `
    };


  var current_user = <%= current_user.id %> 
  var wishlist = []
  var current_user_cards = []

  var cardCount = function(id) {
    return current_user_cards[id] || 0;
  }

  $(function() {
    var token = $("meta[name='csrf-token']").attr("content");

    var populateGrid = function(res) {
      clearGrid();
      if (res.length > 0) {
        res.forEach(function(card) {
          $('.card-grid').append(cardTemplate(card));
        });
      } else {
        $('#search-help').text(Constants.card_search_no_results);
      }
    };

    var clearGrid = function() {
      $('.card-grid').empty();
      $('#search-help').empty();
    }

    var searchRequest = function(query) {
      xhrRequest('/cards/?query=' + query, "GET", function(res) { populateGrid(res.data) } )
    };

    var collectionRequest = function() {
      xhrRequest('/collections/' + current_user, "GET", function(res) { populateGrid(res.data) } )
    };

    current_user_cards = collectionRequest();

    document.getElementById("card-search").placeholder = Constants.card_search_placeholder;
    $('#card-search').keyup(debounce(function() {
      $('#search-help').empty();
      query = $(this).val();
      if (query.length >= Constants.min_query_length) {
        searchRequest(query);
      } else if (query.length === 0) {
        clearGrid();
        collectionRequest();
      } else {
        $('#search-help').text(Constants.card_search_placeholder);
      }
    }, 300));

    xhrRequest('/wishlists/' + current_user, 'GET', function(res) { wishlist = res; });
    xhrRequest('/cards/' + current_user, 'GET', function(res) { current_user_cards = res.data; });

    $(document).off('click', '.card-grid__counter_increment__btn');
    $(document).on('click', '.card-grid__counter_increment__btn', function() {
      id = $(this).attr('data-id');
      $(`input[type=number][data-id=${id}]`).val(function(i, val) {
        return parseInt(val) + 1
      });
    });

    $(document).off('click', '.card-grid__counter_decrement__btn');
    $(document).on('click', '.card-grid__counter_decrement__btn', function() {
      id = $(this).attr('data-id');
      $(`input[type=number][data-id=${id}]`).val(function(i, val) {
        if (val > 0) {
          return parseInt(val) - 1
        } else {
          return val
        }
      });
    });

    $(document).off('click', '.card-grid__counter_increment__btn, .card-grid_counter_decrement__btn');
    $(document).on('click', '.card-grid__counter_increment__btn, .card-grid_counter_decrement__btn', debounce(function(){
      id = $(this).attr('data-id');
      count = $(`input[type=number][data-id=${id}]`).val()
      xhrRequest('/collections/<%=@collection.id %>', "PUT", function(res){ current_user_cards[id] = count }, { id: <%= @collection.id %>, ownership: {count: count, card_id: id, collection_id: <%= @collection.id %>}});
    }, 200));
  
 });
</script>
