<div id="edit-collections__wrapper">
  <div id="collections" class="collections__container">
    <%= react_component("SimpleEdit", {
      user_id: current_user.id,
      collection_id: @collection.id
    }) %>
  </div>
</div>