<div id="edit-collections__wrapper">
  <div id="collections" class="collections__container">
    <%= react_component("SimpleEdit", {
      userId: current_user.id,
      collectionId: @collection.id
    }) %>
  </div>
</div>