
<div class="cycling-background" style="background: url('<%= get_random_bg_image %>') 50% 0% / cover no-repeat;">
</div>
<div class="user-list">
  <h3 class="user-list_title">Collections</h3>
  <ul>
    <% @collections.each do |collection| %>
      <li>
        <%= link_to collection.user.name, collection_path(collection.id), :class => "user-list_user-btn" %> 
      </li>
    <% end %>
  </ul>
</div>
