<div id="wishlist-table" class="container">

  <h3>Wishlist</h3>
   <div  class="wishlist alternating three-col table">
    <div class="row headings">
      <p>Card</p>
      <p></p>
    </div>

    </div>
</div>

  <script>

    var cardRow = function(card) {
      if (<%=current_user.id%>===<%= @user.id %>){
      return `
        <div class="row wishlist-item">
          <p>${card.name}</p>
          <div class="button-wrapper">
          <button data-id="${card.id}" class="remove-from-wishlist small btn" if policy(@user)?>Remove</button>
          </div>
        </div>
      `
      }
      else{
       return `
      <div class="row wishlist-item">
        <p>${card.name}</p>
      <div class="button-wrapper"></div>
      `
      }
    };

    $(function() {

      xhrRequest('/wishlists/<%= @user.id %>', 'GET', function(res){
        $('.wishlist-item').remove()
        res.forEach(function(card) {
          $('.wishlist.alternating').append(cardRow(card));
        });
      });

      $(document).off('click', '.remove-from-wishlist');
      $(document).on('click', '.remove-from-wishlist', function(){
        card_id = $(this).attr('data-id');
        that = this;
        $.ajax({
          url: '/wishlists/<%= @user.id %>',
          beforeSend: function (xhr) {
            xhr.setRequestHeader("X-CSRF-Token", token)
          },
          type: "PUT",
          data: { card_id: card_id },
          dataType: 'json',
          success: function(res) {
            $(that).closest('.row').remove();
          },
          error: function(res) {
          }
        });
      });
    });

  </script>
