<div id="wishlist-table" class="container">
  
  <h3>Wishlist</h3>
   <div  class="alternating three-col table">
    <div class="row headings">
      <p>Card</p>
      <p></p>
    </div>
   
    <div class="row">
      <p>Card Name</p>
      <div class="button-wrapper">
       <button class="small btn">Remove</button>
      </div>
    </div>
  
  </div>
</div>
