<div id="collection" class="dashboard_card-view active">
  <%= react_component("Dashboard/Collection", {
    currentUserId: current_user.id,
    user: user,
    edit: policy(user.collection).edit?,
    currentUserWishlist: @current_user_wishlist,
    collectionCards: @cards,
    tradables: @tradables,
    wishlist: @wishlist
  }) %>
</div>


