<div id="deck-table" class="container">
  
  <h3>Decks  <a href="/edit-collection.html"class="main-toggle btn">Edit Decks</a></h3>
  <div  class="alternating three-col table">
    <div class="row headings">
      <p>Deck</p>
      <p>Colors</p>
      <p></p>
    </div>
    <div class="row">
      <p>IzzWizzit</p>
      <p>Red/Blue</p>
      <p>
        <a class="small btn" href="/edit-deck.html">Edit</a>
      </p>
    </div>
    <div class="row">
      <p>ZomTown</p>
      <p>Black</p>
      <p>
        <a class="small btn" href="/edit-deck.html">Edit</a>
      </p>
    </div>
  </div>
</div>
