<div id="collection" class="dashboard_card-view active">
  <div class="dashboard_card-interface_action-bar">
    <div class="dashboard_card-interface_view-toggles">
      <div id="collection-table-toggle" class= "dashboard_card-interface_collection_toggle-card-view__btn active" onclick="Helpers.toggleElementById('collection-table', 'collection__togglable-view'), Helpers.toggleElementById('collection-table-toggle', 'dashboard_card-interface_collection_toggle-card-view__btn')">
        <i class="fas fa-list"></i>
      </div>
      <div id="collection-grid-toggle" class= "dashboard_card-interface_collection_toggle-card-view__btn" onclick="Helpers.toggleElementById('collection-grid', 'collection__togglable-view'), Helpers.toggleElementById('collection-grid-toggle', 'dashboard_card-interface_collection_toggle-card-view__btn')">
        <i class="fas fa-th-large"></i>
      </div>
    </div>
    <%= link_to 'Edit', edit_collection_path(user.collection.id), class: 'dashboard_card-interface_action__btn' if policy(user.collection).edit? %>
    <%= link_to 'Bulk Edit', bulk_edit_collection_path(user.collection.id), class: 'dashboard_card-interface_action__btn' if policy(user.collection).bulk_edit? %>
  </div>
  <div id="collection-table" class="dashboard_card-interface__table active collection__togglable-view">
    <div class="dashboard_card-view__row-headings">
      <div class="dashboard_card-view__cell">Card</div>
      <div class="dashboard_card-view__cell">Highlights</div> 
    </div>
  </div>
  <div id="collection-grid" class="card-grid collection__togglable-view">
  </div>
</div>


