<div class="dashboard-profile">
  <div class="dashboard-profile__user-details">
    <%= gravatar(user) %>
    <%= link_to 'Edit Account', [:edit, @user], class: 'dashboard-profile__edit-button button' if policy(@user).edit? %>
  </div>
  <%= react_component("TradeTracker", {
    user_id: @user.id,
    current_user_id: current_user.id,
    trades_data: @user.trades_received_and_allowed_by_rarity
  }, {:style => "width: 100%"}) %>
</div>
