<div id="wishlist" class="dashboard_wishlist dashboard_card-view">
  <h3>Wishlist</h3>
   <div  class="dashboard_wishlist-table">
    <div class="dashboard_wishlist-row-headings">
      <div class="dashboard_wishlist-cell">Card</div>
      <script>
        var cardRow = function(card) {
        if (<%=current_user.id%>===<%= @user.id %>){
        return `
          <div class="dashboard_wishlist-row wishlist-item">
            <div class="dashboard_wishlist-cell">
              ${card.name}
            </div>
            <div class="dashboard_wishlist-cell">
               <button data-id="${card.id}" class="dashboard_wishlist_remove-btn" if policy(@user)?>Remove</button>
            </div>
          </div>
         `
        }
       else{
       return `
          <div class="dashboard_wishlist-row wishlist-item">
            <div class="dashboard_wishlist-cell">${card.name}</div>
            <div class="dashboard_wishlist-cell"></div>
          </div>
        `
        }
     };

        $(function() {

          xhrRequest('/wishlists/<%= @user.id %>', 'GET', function(res){
            $('.wishlist-item').remove()
            res.forEach(function(card) {
              $('.dashboard_wishlist-table').append(cardRow(card));
            });
          });

          $(document).off('click', '.dashboard_wishlist_remove-btn');
          $(document).on('click', '.dashboard_wishlist_remove-btn', function(){
            card_id = $(this).attr('data-id');
            that = this;
            $.ajax({
              url: '/wishlists/<%= @user.id %>',
              beforeSend: function (xhr) {
                xhr.setRequestHeader("X-CSRF-Token", token)
              },
              type: "PUT",
              data: { card_id: card_id },
              dataType: 'json',
              success: function(res) {
                $(that).closest('.dashboard_wishlist-row').remove();
              },
              error: function(res) {
              }
            });
          });
        });
      </script>
    </div>
  </div>
</div>
