<div id="wishlist" class="dashboard_card-view">
   <%= react_component("Dashboard/Wishlist", {
    currentUserId: current_user.id,
    user: user,
    edit: policy(user.collection).edit?,
    currentUserWishlist: @current_user_wishlist,
    collectionCards: @cards,
    tradables: @tradables,
    wishlist: @wishlist
  }) %>
</div>
