<div class="section full-page">
  <div id="cards-wrapper">
    <div class="container">
      <h3>Your Decks</h3>
      <div id="deck-table" class="alternating table">
        <div class="row headings">
          <p>Deck</p>
          <p>Colors</p>
          <p></p>
        </div>
        <div class="row">
          <p>IzzWizzit</p>
          <p>Red/Blue</p>
          <p>
            <a class="small btn" href="/edit-deck.html">Edit</a>
          </p>
        </div>
        <div class="row">
          <p>ZomTown</p>
          <p>Black</p>
          <p>
            <a class="small btn" href="/edit-deck.html">Edit</a>
          </p>
        </div>
      </div>
    </div>
    <div class="container">
      <h3>Your Collection</h3>

      <a href="/edit-collection.html" class="btn">Edit Collection</a>
      <div id="collection-table" class="alternating table">
        <div class="row headings">
          <p>Card</p>
          <p>Amount</p>
          <p>Tradable</p>
        </div>
        <div class="row">
          <p>Adelize the Cinderwind</p>
          <p>3</p>
          <div class="checkbox-container">
            <div class="checkbox">
              <input type="checkbox" id="importedCardName">
              <label for="importedCardName"></label>
            </div>
          </div>
        </div>
        <div class="row">
          <p>Goblin Someduder</p>
          <p>1</p>
        </div>
        <div class="row">
          <p>Card Cardester</p>
          <p>1</p>
        </div>
        <div class="row">
          <p>Adelize the Cinderwind</p>
          <p>3</p>
        </div>
        <div class="row">
          <p>Goblin Someduder</p>
          <p>1</p>
        </div>
        <div class="row">
          <p>Card Cardester</p>
          <p>1</p>
        </div>
        <div class="row">
          <p>Adelize the Cinderwind</p>
          <p>3</p>
        </div>
        <div class="row">
          <p>Goblin Someduder</p>
          <p>1</p>
        </div>
        <div class="row">
          <p>Card Cardester</p>
          <p>1</p>
        </div>
        <div class="row">
          <p>Adelize the Cinderwind</p>
          <p>3</p>
        </div>
        <div class="row">
          <p>Goblin Someduder</p>
          <p>1</p>
        </div>
        <div class="row">
          <p>Card Cardester</p>
          <p>1</p>
        </div>
        <div class="row">
          <p>Adelize the Cinderwind</p>
          <p>3</p>
        </div>
        <div class="row">
          <p>Goblin Someduder</p>
          <p>1</p>
        </div>
        <div class="row">
          <p>Card Cardester</p>
          <p>1</p>
        </div>
        <div class="row">
          <p>Adelize the Cinderwind</p>
          <p>3</p>
        </div>
        <div class="row">
          <p>Goblin Someduder</p>
          <p>1</p>
        </div>
        <div class="row">
          <p>Card Cardester</p>
          <p>1</p>
        </div>
        <div class="row">
          <p>Adelize the Cinderwind</p>
          <p>3</p>
        </div>
        <div class="row">
          <p>Goblin Someduder</p>
          <p>1</p>
        </div>
        <div class="row">
          <p>Card Cardester</p>
          <p>1</p>
        </div>
        <div class="row">
          <p>Adelize the Cinderwind</p>
          <p>3</p>
        </div>
        <div class="row">
          <p>Goblin Someduder</p>
          <p>1</p>
        </div>
        <div class="row">
          <p>Card Cardester</p>
          <p>1</p>
        </div>
        <div class="row">
          <p>Adelize the Cinderwind</p>
          <p>3</p>
        </div>
        <div class="row">
          <p>Goblin Someduder</p>
          <p>1</p>
        </div>
        <div class="row">
          <p>Card Cardester</p>
          <p>1</p>
        </div>
        <div class="row">
          <p>Adelize the Cinderwind</p>
          <p>3</p>
        </div>
        <div class="row">
          <p>Goblin Someduder</p>
          <p>1</p>
        </div>
        <div class="row">
          <p>Card Cardester</p>
          <p>1</p>
        </div>
      </div>
    </div>
  </div>
</div>


