@import "./trades";
@import "./filters";

.dashboard {
    --tab-heading-color-hue-sat: var(--color-fill-neutral-hue-sat);
    --tab-heading-color-lightness: var(--neutral-lightness);
    &-header {
        display: flex;
        align-items: baseline;
        margin-bottom: 10px;

        @media only screen and (max-width: 850px) {
            flex-direction: column;
            align-items: center;

            &__title {
                text-align: center;
            }
        }

        &__title {
            margin: 0;
        }

        .toggle-switch {
            flex: 0 0 auto;
        }

        &__discord {
            max-width: 100%;
            margin-left: auto;
            font-size: 1.5rem;
            color: #7289da;
            display: flex;
            gap: 0.5rem;
            align-items: baseline;
            @media only screen and (max-width: 850px) {
                margin-left: 0;
            }

            &--username {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }

        &__pronouns {
            color: hsl(var(--color-text-inverse-hue-sat), 50%);
            font-size: 1.2rem;
            margin-left: 0.5rem;
        }
    }

    &-profile {
        display: flex;

        &__user-details {
            display: flex;
            flex-direction: column;
            flex: 0 0 20%;
            padding-right: var(--spacer-xl);
            //Height of trades table
            height: 192px;
            align-items: center;
            .user-image {
                //gravatar image forces hard height/widths 154px is current
                height: 154px;
                width: 154px;
                background-color: var(--color-fill-neutral);
            }
        }

        &__trades {
            width: 100%;

            .cell {
                flex: 1 1 33%;
                text-align: center;

                input {
                    text-align: center;
                }
            }
        }
        &__edit-button {
            margin: 0.25rem 0;
        }

        &__performance {
            display: flex;
            flex: 1 1 100%;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12),
                0 1px 5px 0 rgba(0, 0, 0, 0.2);

            .digit {
                font-size: 2.5rem;
                font-weight: 700;
            }

            .table {
                flex: 1 1 75%;
                display: flex;
                flex-direction: column;
                box-shadow: none;
            }

            .row {
                flex: 1 1 50%;
            }

            .cell {
                display: flex;
                align-items: center;
                font-size: 2.5rem;
            }

            &-points {
                flex: 1 1 25%;
                background: var(--color-fill-neutral);
                color: var(--color-text-neutral);
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-right: 3px solid hsl(var(--color-fill-theme-hue-sat), 70%);

                p {
                    margin: 0;
                    text-align: center;
                }

                & .digit {
                    font-size: 3.5rem;
                }
            }

            &-match-num {
                color: var(--color-text-inverse);
                font-size: 0.75rem;
            }
        }

        @media only screen and (max-width: 850px) {
            display: block;

            &__user-details {
                margin: 0 auto var(--spacer-xl);
                align-items: center;
                padding-right: 0;
            }

            &__trades {
                flex: 1 0 100%;
            }
        }
    }

    &__tab-wrapper {
        display: flex;
        background: transparent;
        border-bottom: var(--spacer-sm) var(--color-fill-neutral) solid;

        .notification {
            color: var(--color-fill-alert);
            position: relative;
            left: 0.25rem;
            font-size: 1.2rem;
        }

        .active {
            .notification {
                color: var(--color-fill-alert);
            }
        }
    }

    &__tab.button {
        --button-background-color-opacity: 0.6;
        --button-background-color: hsla(
            var(--button-background-color-hue-sat),
            var(--button-adjusted-lightness),
            var(--button-background-color-opacity)
        );
        color: var(--color-text-neutral);
        margin-right: var(--spacer-sm);
        margin-bottom: 0;
        margin-left: 0;
        width: 150px;
        border-bottom: 1px solid hsl(var(--color-fill-neutral), 0.15);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        &:last-child {
            margin-right: 0;
        }

        &:hover:not(:disabled) {
            --button-background-color-opacity: 1;
        }

        &.active.button {
            --button-background-color-opacity: 1;
        }

        @media only screen and (max-width: 850px) {
            flex-basis: 33%;

            &__title {
                align-self: start;
            }
        }
    }

    &__card-interface {
        border: 2px solid var(--color-fill-neutral);

        &-wrapper {
            margin: var(--spacer-xl) 0;
        }
    }

    &__action-bar {
        display: flex;
        background-color: hsl(var(--tab-heading-color-hue-sat), var(--tab-heading-color-lightness));
        align-items: center;
        justify-content: space-between;
        padding-inline: var(--spacer-sm);
        padding-block-end: var(--spacer-sm);
        // Temp fix until we redo the actions area
        .button {
            i {
                padding-block: 3px;
            }
        }
    }

    &__filter-action {
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
    }

    &__card-view-toggles {
        display: flex;
        flex-grow: 1;
        gap: var(--spacer-xs);
    }

    &__card-view {
        &__cell {
            justify-self: flex-end;
            flex: 0 0 50px;
            text-align: center;

            &:first-of-type {
                text-align: left;
                flex: 1 1 auto;
                overflow: hidden;
                text-overflow: ellipsis;
                flex-wrap: nowrap;
                justify-self: flex-start;
            }
        }

        .empty-card-view {
            grid-column: 1 / span 3;
            text-align: center;
            &__button {
                width: 200px;
                margin: 5px auto;
            }
            &__message {
                font-size: 20px;
            }
        }
    }

    &__card-grid-wrapper {
        // This should always be light
        background-color: hsl(var(--desaturated-hue-sat), 80%);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 14%), 0 3px 1px -2px rgba(0, 0, 0, 12%), 0 1px 5px 0 rgba(0, 0, 0, 20%);
    }

    &__reroll-action {
        margin-right: auto;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0 5px;

        &--btn {
            font-size: 1.5rem;
            padding: 0.5rem;
            margin: 0;

            &:disabled {
                background: var(--color-fill-neutral);
            }
        }

        &--text {
            color: var(--color-text-neutral);
        }
    }

    &__objectives {
        &-heading {
            align-items: start;
            justify-content: start;

            &--title {
                font-size: 2.5rem;
                padding-right: 0;
                display: flex;
            }

            &--info {
                display: inline-flex;
                align-items: start;
                button {
                    font-size: 1.5rem;
                    color: var(--color-text-neutral);
                    margin: 0;
                    background: none;
                    &:hover {
                        background: none;
                    }
                }
            }

            &--reroll {
                flex: 1 1 100%;
                text-align: right;
                align-self: end;
            }
        }

        &--description-cell {
            flex: 1 1 75%;
            .new {
                font-weight: 700;
                margin-right: 0.75rem;
                color: var(--color-fill-alert);
            }
        }

        &--actions-cell {
            align-self: flex-end;
            display: flex;
            justify-content: space-evenly;
            flex: 0 0 auto;
            gap: 1rem;

            .button {
                margin: 0;
                flex: 1 1 50%;
                max-width: 50px;
            }
        }

        &--date-cell {
            flex: 0 0 auto;
        }

        &--trophy-cell {
            font-size: 1.2rem;
            flex: 0 0 auto;
        }

        &--review-modal-description {
            font-weight: 900;
        }

        &--empty-msg {
            text-align: center;
            display: inline-block;
            width: 100%;
        }

        &--empty-btn {
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__no-filter-results {
        text-align: center;
    }
}

.quest-info {
    &__detail {
        text-align: left;
        max-width: 80vw;

        i {
            margin-right: 0.5rem;
            margin-left: 0.5rem;
        }
    }
}
