@import "./trades";

.dashboard {

    &-header {
        display: flex;
        align-items: baseline;
        gap: 1rem;
        margin-bottom: 10px;
        
        @media only screen and (max-width: 850px) {
            flex-direction: column;
            align-items: center;

            &__title {
                text-align: center;
            }
        }
        
        &__title {
            margin: 0;
        }

        .toggle-switch {
            flex: 0 0 auto;
        }
    }


    &-profile {
        display: flex;

        &__user-details {
            display: flex;
            flex-direction: column;
            flex: 0 0 20%;
            padding-right: $section-margin;
            //Height of trades table 
            height: 192px;
            align-items: center;

            .user-image {
                //gravatar image forces hard height/widths 154px is current
                height: 154px;
                width: 154px;
                background: $color-dark;
            }
        }

        &__trades {
            width: 100%;

            .cell {
                flex: 1 1 33%;
                text-align: center;

                input {
                    text-align: center;
                }
            }
        }
        &__edit-button {
                margin:0.25rem 0; 
        }

        @media only screen and (max-width: 850px) {
            display: block;

            &__user-details {
                margin: 0 auto $section-margin;
                align-items: center;
                padding-right: 0;

                &_edit__btn {
                    padding: 0 10px;
                    width: 200px;
                }
            }

            &__trades {
                flex: 1 0 100%;
            }

        }

    }

    &__tab-wrapper {
        display: flex;
        background: $color-light;

        .notification {
            color: #fe466e;
            position: relative;
            left: 0.25rem;
            font-size: 1.2rem;
        }

        .active {
            .notification {
                color: $color-highlight-urgent;
            }
        }
    }

    &__tab {
        color: $color-light;
        background: darken($color-nuetral, 35%);
        margin-right: 5px;
        margin-bottom:0;
        margin-left:0;
        width: 150px;
        border: 2px solid $color-dark;
        border-bottom: 1px solid rgba($color-dark, .15);
        ;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            background: rgba($color-dark, .8);
            color: $color-light;
        }

        &.active {
            background: $color-dark;

        }

        @media only screen and (max-width: 850px) {
            flex-basis: 33%;

            &__title {
                align-self: start;
            }

            &_edit__btn {
                margin-left: 0;
                margin-top: 10px;
                width: 200px;
                flex: 0 0 auto;
            }
        }
    }

    &__card-interface {
        border: 2px solid $color-dark;

        &-wrapper {
            margin: $section-margin 0;
        }

        @import 'filter';
    }

    &__action-bar {
        display: flex;
        background-color: $color-dark;
        align-items: center;
        justify-content: flex-end;
        height: 55px;
    }

    &__cards-action {
        margin: 5px; 
    }

    &__card-view-toggles {
        display: flex;
        margin-right: auto;
        flex-grow: 1;
    }

    &__card-view-toggle {
        margin: 5px;
    }


    &_card-view {   
        &__cell {
            justify-self: flex-end;
            flex: 0 0 50px;
            text-align: center;

            &:first-of-type {
                text-align: left;
                flex: 1 1 auto;
                overflow: hidden;
                text-overflow: ellipsis;
                flex-wrap: nowrap;
                justify-self: flex-start;
            }
        }

        .empty-card-view{
            grid-column: 1 / span 3;
            text-align: center;
            &__btn{
                width:200px; 
                margin:5px auto;
            }
            &__message {
                font-size: 20px;
            }
        }
    }

    &__card-grid-wrapper {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 14%), 0 3px 1px -2px rgba(0, 0, 0, 12%), 0 1px 5px 0 rgba(0, 0, 0,20%);
    }

    &__active-objectives {

        &--keep-cell {
            flex-basis: 15%;
        }

        &--description-cell {
            flex: 1 1 70%;
        }

        &--complete-cell {
            &-button {
                margin: 0;
            }
        }

        &--review-modal-description {
            font-weight: 900;
        }

        &--empty-msg {
            text-align: center;
        }

        &--empty-btn {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

