.trades-table {
    .row {
        @media only screen and (max-width: 850px) {
            flex-direction: column;
            &--headings {
                display: none;
            }
        }
        .cell:first-child {
            @media only screen and (max-width: 850px) {
                color: var(--color-text-neutral);
                background: var(--color-fill-neutral);
                width: 100%;
            }
        }
    }

    .cell {
        @media only screen and (max-width: 850px) {
            text-align: center;

            .fa-times {
                position: relative;
                top: 3px;
            }
        }
    }

    &-cell {
        &__date-status {
            flex-basis: 15%;
            display: flex;
            flex-direction: column;
            align-items: center;

            i {
                font-size: 1.5rem;

                &.approved {
                    color: var(--color-fill-positive);
                }
                &.rejected {
                    color: var(--color-fill-negative);
                }
                &.error {
                    color: var(--color-fill-negative);
                }
            }
        }

        &__card-list {
            flex-basis: 25%;
        }

        &__name {
            flex-basis: 20%;
        }
    }

    p {
        text-transform: uppercase;
    }

    .review-button {
        @media only screen and (max-width: 650px) {
            i {
                font-size: 0.8rem;
            }
        }
    }
}

.trade-review-modal {
    &__contents {
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        width: 75vw;
        @media only screen and (max-width: 850px) {
            flex-direction: column;
        }
    }

    &__exchange {
        width: 100%;

        li {
            overflow: hidden;
            text-overflow: ellipsis;
            text-wrap: nowrap;

            &.gives {
                color: var(--color-fill-negative);
            }

            &.receives {
                color: var(--color-fill-positive);
            }
        }
    }
}
