.rules-text {
  &__reminder{
    font-size: 0.75rem;
    font-style: italic;

    &--symbols-toggle {
      -webkit-appearance: none;
      border: none;
      background: none;
      padding: 0;
      color: var(--color-fill-theme);
      border-bottom: solid 1px var(--color-fill-theme);
      cursor: pointer;
    }
  }

  &__symbols-table {
    &--symbol {
      flex: 1 1 25%;
    }

    &--description {
      flex: 0 1 75%;
    }
  }
}

.card-type {
  &__select {
    &:focus {
      border-color: var(--color-fill-theme)
    }
  }
}