.bulk-edit{
  &-container {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
<<<<<<< HEAD
    height: calc(100vh - #{$nav-height} - #{$footer-height} - #{$title-height}); 
=======
    height: calc(100vh - #{$nav-height} - #{$footer-height}); 
>>>>>>> bf07cc8ca3fff89f136a611762e62563be1a5331
    min-height: 200px;
    @media only screen and (max-width: 850px) {
      width: 90%;
      height: calc(100vh - #{$nav-height} - #{$footer-height} - 15px); 
    }
  }

  &_error,
  &_form{
    flex: 1 0 auto;
  }

  &_error {
    &-list{
      margin: 0 5px;
    }

    &-item{
      color: $color-highlight-import;
    }
  }

  &_form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .help-text {
      white-space: pre-line;
      font-size: 80%;
      color: #333;
    }
  }
  &_text-area{
    flex: 1 0 auto;
  }

  &_submit-btn {
    margin-top: 10px;
    flex: 0 0 36px;
    justify-self: flex-end;
    align-self: flex-end;
  }
}