<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @to_user.name %>, <%= @from_user.name %> would like to trade you for your <%= @card.name %>.</h1>
    <p>
    If you are interested in trading, you can reply to this message and begin a conversation with <%= @to_user.name %>. You can also view their wishilist by going to www.list.com.
    </p>
  </body>
</html>
