.matches__container,
.admin_matches {
    &__cell {
        flex: 1 1 20%;
        &-date,
        &-time {
            flex: 0 0 150px;
        }
        &-id{
            flex: 0 0 50px;
        }
        &-delete,
        &-edit{
            flex: 0 0 80px;
        }
    }
    & .label-mobile{
        display:none;
    }


    @media only screen and (max-width: 850px) {
        
        .label-mobile{
            display:inline;
            font-weight: bold;
        }

        .row {
            display:block; 
            &--headings {
                display:none;
            }
        }
    
       .cell {
            text-align:center;
        }

        .cell:first-child{
            color: $color-light;
            background: $color-dark;
        }

        .button{
         width: 100px;
        }
    }
}

