.matches__container,
.admin-matches {
    &__cell {
        flex: 1 1 20%;
        &-date,
        &-time {
            flex: 0 0 150px;
        }
        &-id{
            flex: 0 0 50px;
        }
        &-delete,
        &-edit{
            flex: 0 0 80px;
        }
    }


    .matches__cell {
        &--date,
        &--time {
            flex: 0 0 150px;
        }
        &--player {
            flex: 1 1 auto;
        }
        &--id {
            flex: 0 0 50px;
        }
        &--admin-actions {
            display: flex;
            flex: 0 0 150px;
            .button {
                margin-left:0;
            }
        }
    
    }

    @media only screen and (max-width: 850px) {
        .row {
            display:block; 
        }     
    
        .matches__cell { 
            text-align:center;
            justify-items: center;
            &--admin-actions{
                .button {
                    margin: 1rem;
                }
            }
            &--date{
                color: $color-light;
                background: $color-dark;
            }
            &-label {
                font-weight: bold;
            }
        }
     
        
    }
}

