.dashboard {
    &-title {
        margin-top: 0;
    }

    &_profile {
        display: flex;

        &_user-details {
            display: flex;
            flex-direction: column;
            flex: 0 0 20%;
            padding-right: $section-margin;
            //Height of trades table 
            height: 192px;

            &_edit__btn {
                margin-top: 2px;
                flex: 0 0 36px;
            }

            .user-image {
                //gravatar image forces hard height/widths 154px is current
                flex: 1 0 auto;
                width: 154px;
                background: $color-dark;
            }
        }

        &_trades {
            flex: 1 0 auto;

            &__cell {
                flex: 1 1 30%;
                text-align: center;

                input {
                    text-align: center;
                }
            }
        }

        @media only screen and (max-width: 850px) {
            display: block;

            &_user-details {
                margin: 0 auto $section-margin;
                align-items: center;
                padding-right: 0;

                &_edit__btn {
                    padding: 0 10px;
                    width: 200px;
                }
            }

            &_trades {
                flex: 1 0 100%;
            }

        }

    }

    &_edit-user-details {
        &__title {
            width: 100%;
            border-bottom: 1px solid $color-highlight-import;
        }

        &__form {
            display: flex;

        }

        &__gravatar {
            flex: 0 0 154px;
            margin-right: $section-margin;

            img {
                background: $color-dark;
                width: 100%;
            }
        }

        &__fields {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            justify-content: space-between;
        }

        &_actions {
            display: flex;
            justify-content: space-between;
        }

        @media only screen and (max-width: 650px) {
            &__gravatar {
                flex: 0 0 122px;
                margin-right: 10px;
            }

            &_actions {
                flex-direction: column;
                align-items: center;

                &-submit__btn {
                    margin-top: 5px;
                }
            }
        }
    }

    &_card-interface {
        background: $color-nuetral;

        &__wrapper {
            margin: $section-margin 0;
        }

        &_tab__wrapper {
            display: flex;
            background: $color-light;
        }

        &_tab__btn {
            background: rgba($color-dark, .65);
            margin-right: 5px;
            width: 150px;
            border: 2px solid $color-dark;
            border-bottom: 1px solid rgba($color-dark, .15);
            ;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            &:hover {
                background: rgba($color-dark, .8);
            }

            &.active {
                background: $color-dark;

                &:hover {
                    background: $color-dark;
                }
            }

            @media only screen and (max-width: 850px) {
                flex-direction: column;
                margin-bottom: 10px;

                &-title {
                    align-self: start;
                }

                &_edit-btn {
                    margin-left: 0;
                    margin-top: 10px;
                    width: 200px;
                    flex: 0 0 auto;
                }
            }
        }

        &_action-bar {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            background-color: $color-dark;
        }

        &_action__btn {
            padding: 0 10px;
            font-size: 12px;
            margin: 5px;
        }

    }

    &_card-view {
        display: none;

        &__cell {
            justify-self: flex-end;
            flex: 0 0 100px;
            text-align: center;

            &:first-of-type {
                text-align: left;
                flex: 1 1 auto;
                overflow: hidden;
                text-overflow: ellipsis;
                flex-wrap: nowrap;
                justify-self: flex-start;
            }
        }

        &.active {
            display: block;
        }
    }
}

#wishlist {
    .dashboard_card-view__cell {
        .dashboard_wishlist__toggle {
            &:checked+label:after {
                font-size: calc(#{$checkbox-size}*.7);
                content: '\f00d';
            }
        }
    }
}