.dashboard {
    &__title {
        margin-top: 0;
    }

    &_profile {
        display: flex;

        &_user-details {
            display: flex;
            flex-direction: column;
            flex: 0 0 20%;
            padding-right: $section-margin;
            //Height of trades table 
            height: 192px;
            align-items: center;

            &_edit__btn {
                margin-top: 2px;
                width: 154px;
            }

            .user-image {
                //gravatar image forces hard height/widths 154px is current
                height: 154px;
                width: 154px;
                background: $color-dark;
            }
        }

        &_trades {
            flex: 1 0 auto;

            &__cell {
                flex: 1 1 30%;
                text-align: center;

                input {
                    text-align: center;
                }
            }
        }

        @media only screen and (max-width: 850px) {
            display: block;

            &_user-details {
                margin: 0 auto $section-margin;
                align-items: center;
                padding-right: 0;

                &_edit__btn {
                    padding: 0 10px;
                    width: 200px;
                }
            }

            &_trades {
                flex: 1 0 100%;
            }

        }

    }

    &_edit-user-details {
        &__title {
            width: 100%;
            border-bottom: 1px solid $color-highlight-import;
        }

        &__form {
            display: flex;

        }

        &__gravatar {
            flex: 0 0 154px;
            margin-right: $section-margin;

            img {
                background: $color-dark;
                width: 100%;
            }
        }

        &__fields {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            justify-content: space-between;
        }

        &_actions {
            display: flex;
            justify-content: space-between;
        }

        @media only screen and (max-width: 650px) {
            &__gravatar {
                flex: 0 0 122px;
                margin-right: 10px;
            }

            &_actions {
                flex-direction: column;
                align-items: center;

                &-submit__btn {
                    margin-top: 5px;
                }
            }
        }
    }

    &_card-interface {
        border: 2px solid $color-dark;

        &__wrapper {
            margin: $section-margin 0;
        }

        &_tab__wrapper {
            display: flex;
            background: $color-light;
        }

        &_tab__btn {
            background: darken($color-nuetral, 35%);
            margin-right: 5px;
            width: 150px;
            border: 2px solid $color-dark;
            border-bottom: 1px solid rgba($color-dark, .15);
            ;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            &:hover {
                background: rgba($color-dark, .8);
            }

            &.active {
                background: $color-dark;

                &:hover {
                    background: $color-dark;
                }
            }

            @media only screen and (max-width: 850px) {

                &__title {
                    align-self: start;
                }

                &_edit__btn {
                    margin-left: 0;
                    margin-top: 10px;
                    width: 200px;
                    flex: 0 0 auto;
                }
            }
        }

        &_action-bar {
            display: flex;
            align-items: center;
            background-color: $color-dark;
            justify-content: flex-end;
        }

        &_action__btn {
            padding: 0 10px;
            font-size: 12px;
            margin: 5px;  
        }

        &_view-toggles {
            display: flex;
            margin-right: auto;
        }

        &_collection_toggle-card-view__btn,
        &_wishlist_toggle-card-view__btn {
         width: 35px;
         margin: 5px;
         background: darken($color-nuetral, 35%);
            &.active{
                background: $color-highlight-import
            }
            &:hover{
                background: $color-highlight-mid-import;
            }
        }

    }

    &_card-view {
        display: none;

        &__cell {
            justify-self: flex-end;
            flex: 0 0 50px;
            text-align: center;

            &:first-of-type {
                text-align: left;
                flex: 1 1 auto;
                overflow: hidden;
                text-overflow: ellipsis;
                flex-wrap: nowrap;
                justify-self: flex-start;
            }
        }
        &_remove-from-wishlist__btn{
           width:25px;
           height:25px;
           line-height: 25px;
        }

        .empty-card-view{
            grid-column: 1 / span 3;
            text-align: center;
            &__btn{
                width:200px; 
                margin:5px auto;
            }
            &__message {
                font-size: 20px;
            }
        }

        &.active {
            display: block;
        }
    }
}


#collection-table,
#collection-grid,
#wishlist-table,
#wishlist-grid {
    &:not(.active) {
        display:none;
    }
}
