//Color Library
$Rose-Gold: #bd8c7d;
$Soft-Gold: #d1bfa7;
$Silver: #8e8e90;
$Onyx: #49494b;
$Light-Grey: #9e9e9e;
$Turquoise: #26a69a;
$Soft-Orange: #efab45;
$Crimson: #dc143c;
$Living-Coral: #ff6f61;
$Beluga: rgb(10, 8, 3);
$Forest-Biome: #184a45;
$Sunset-Orange: #fc4445;
$Cornflower: #97caef;
$Fountain-Blue: #55bcc9;
$Goldenrod-Yellow: #fbaf08;
$Lightning-Purple: #bf4aa8;
$Lightning-Blue: #51d0de;
$Wrinkle-White: #d9d9d9;
$Woodsmoke: #0b0c10;
$Caribbean-Green: #00d285;
$Ebony-Clay: #1f2833;
$Eucalytus: #27876f;
$Biloba-Flower: #cbbaed;
$Mulien-Teal: #91e5da;
$Mulien-White: #e5f1ef;
$Mulien-Black: #1a1b1d;
$Mulien-Purple: hsl(276, 17%, 11%);
$Mulien-Green: #42988c;
$Engineering-International-Orange: #bf200e;
$Organ-Blood: #5c1009;
$Orioles-Orange: #fa4113;
$Dark-Tangerine: #fe9b13;
$Mellow-Apricot: #efbd76;
$Eerie-Black: #191919;
$Very-Very-Light-Orange: #fffaf5;
$Persimon: #ec5800;

//Semantic Colors Names

$color-light: $Very-Very-Light-Orange;
$color-dark: $Eerie-Black;
$color-nuetral: $Light-Grey;
$color-highlight-mid-import: $Living-Coral;
$color-highlight-import: $Persimon;
$color-accent: $Goldenrod-Yellow;
$color-highlight-urgent: $Crimson;
$background-color: $color-light;
$ranking-border-color: $color-light;
