//Color Library
$Rose-Gold: #bd8c7d;
$Soft-Gold: #d1bfa7;
$Silver: #8e8e90;
$Onyx: #49494b;
$Light-Grey: #9e9e9e;
$Turquoise: #26a69a;
$Soft-Orange: #efab45;
$Crimson: #dc143c;
$Living-Coral: #ff6f61;
$Beluga: rgb(10, 8, 3);
$Forest-Biome: #184a45;
$Sunset-Orange: #fc4445;
$Cornflower: #97caef;
$Fountain-Blue: #55bcc9;
$Goldenrod-Yellow: #fbaf08;
$Lightning-Purple: #bf4aa8;
$Lightning-Blue: #51d0de;
$Wrinkle-White: #d9d9d9;
$Woodsmoke: #0b0c10;
$Caribbean-Green: #00d285;
$Ebony-Clay: #1f2833;
$Eucalytus: #27876f;
$Biloba-Flower: #cbbaed;
$Mulien-Teal: #91e5da;
$Mulien-White: #e5f1ef;
$Mulien-Black: #1a1b1d;
$Mulien-Purple: hsl(276, 17%, 11%);
$Mulien-Green: #42988c;
$Engineering-International-Orange: #bf200e;
$Organ-Blood: #5c1009;
$Orioles-Orange: #fa4113;
$Dark-Tangerine: #fe9b13;
$Mellow-Apricot: #efbd76;
$Eerie-Black: #191919;
$Very-Very-Light-Orange: #fffaf5;
$Very-Very-Light-Purple: #f9f5fc;
$Persimon: #ec5800;
$Veri-Peri:#6667AB;

//Semantic Colors Names

$color-light: white;
$color-dark: $Eerie-Black;
$color-nuetral: $Light-Grey;
$color-highlight-mid-import: $Veri-Peri;
$color-highlight-import: $Lightning-Blue;
$color-accent: $Veri-Peri;
$color-highlight-urgent: $Crimson;
$background-color: $color-light;
$ranking-border-color: $color-light;
// 



:root {
    --lightning-blue-hue-sat: 186, 68%;
    --lightening-blue-lightness: 59%;

    --white-hue-sat:  0, 0%;
    --white-lightness: 100%;

    --eerie-black-hue-sat: 0, 0%;
    --eerie-black-lightness: 10%;



    //Needed for various css calcs 

    --color-highlight-primary-hue-sat: var(--lightning-blue-hue-sat);
    --color-highlight-primary-lightness : var(--lightening-blue-lightness);

    --color-dark-hue-sat: var(--eerie-black-hue-sat);
    --color-dark-lightness : var(--eerie-black-lightness);

    --color-light-hue-sat: var(--white-hue-sat);
    --color-light-lightness : var(--white-lightness); 


    --color-highlight-primary: hsl(var(--color-highlight-primary-hue-sat),var(--color-highlight-primary-lightness));

    --color-light: hsl(var(--color-light-hue-sat),var(--color-light-lightness));

    --color-dark: hsl(var(--color-dark-hue-sat),var(--color-dark-lightness));



}
