//Color Library
$Rose-Gold: #bd8c7d;
$Soft-Gold: #d1bfa7;
$Silver: #8e8e90;
$Onyx: #49494b;
$Light-Grey: #9e9e9e;
$Turquoise: #26a69a;
$Soft-Orange: #efab45;
$Crimson: #DC143C;
$Living-Coral: #FF6F61;
$Beluga: rgb(10, 8, 3);
$Forest-Biome: #184A45;
$Sunset-Orange: #FC4445;
$Cornflower: #97CAEF;
$Fountain-Blue:#55BCC9;
$Goldenrod-Yellow: #fbaf08;
$Lightning-Purple: #bf4aa8;
$Lightning-Blue:#51d0de;
$Wrinkle-White:#d9d9d9;
$Woodsmoke: #0B0C10;
$Caribbean-Green: #00d285;
$Ebony-Clay:#1f2833;
$Eucalytus: #27876F;
$Biloba-Flower:#CBBAED;
$Mulien-Teal:#91e5da;
$Mulien-White:#e5f1ef;
$Mulien-Black: #1a1b1d;
$Mulien-Purple:hsl(276, 17%, 11%);
$Mulien-Green: #42988c;


//Semantic Colors Names

$color-light: white;
$color-dark: $Mulien-Purple;
$color-nuetral: $Light-Grey;
$color-highlight-mid-import: $Mulien-Green;
$color-highlight-import: $Mulien-Teal;
$color-accent: $Biloba-Flower;
$color-highlight-urgent: $Crimson;
$background-color: $color-light;
$ranking-border-color: $color-light;