.modal {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    border-radius: 2px;
    top: 0;
    left: 0;
    z-index: 99;
    padding-bottom: 2 rem;
    transition-duration: .51s;
    color: $color-dark;
    text-align: center;
    justify-content: center;
    align-items: center;
 

    &_content {
        position: relative;
        background: $color-light;
        vertical-align: middle;
        overflow: auto;
        padding: 30px;
        border-radius: 2px;
        display: table;
        z-index: 1px;
    }
    
    &-title {
        margin-top: 0;
    }

    &_close-button{
        right:-5px;
        top: -5px;
    }

    form {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &.active {
        display: flex;
    }
}