
<div class="cycling-background" style="background: url('<%= get_random_bg_image %>') 50% 0% / cover no-repeat;">
</div>
<div class="user-list">
  <h3 class="user-list_title">Tradable Cards</h3>
    <ul>
      <% @users.each do |user| %>
        <li>
        <%= link_to user.name, tradable_path(user.id), :class => "user-list_user__btn" %>
        </li>
      <% end %>
    </ul>
</div>
