<div class="admin_matches">
  <div class="admin_matche-container">
    <h2>Matches</h2>
    <div class="admin_matches-table">
      <div class="admin_matches-row-headings">
        <div class="admin_matches-cell-date">Date</div>
        <div class="admin_matches-cell-time">Time</div>              
        <div class="admin_matches-cell">Winner</div>         
        <div class="admin_matches-cell">Loser</div>         
        <div class="admin_matches-cell-id" >ID</div>
        <div class="admin_matches-cell-edit"></div>
        <div class="admin_matches-cell-delete"></div>
    </div>
    <%= render 'matches', matches: @matches %>
  </div>
</div>
  
</div>