<div id="trade-search__wrapper">
  <div class="trade__container">
    <%= react_component("AdvancedBrowser", {
      options: {
        cardTypes: @card_types,
        subTypes: @sub_types,
        sets: @sets
      }
    }) %>
  </div>
</div>