
<div id="user-wrapper" class="container">
<h3 class="color-blocked dark centered">Users</h3>
<div class="centered content">


<ul>
  <% @users.each do |user| %>
    <li>


      <button class="user btn"><%= link_to user.name, user_path(user) %></button>
    </li>
  <% end %>
</ul>
</div>
</div>
