
<div id="dashboard-wrapper">
  <div class="container">
    <h2><%= @user.name %></h2>
  </div>

  <%= render 'dashboard/user_trades', user: @user %>
  <%= render 'dashboard/user_wishlist', user: @user %>
  <%= render 'dashboard/user_collections', user: @user %>
</div>
