<div id="dashboard" class="dashboard">
  <div class="dashboard__container">
    <h2 class="dashboard__title"><%= @user.name %></h2>
    <%= render 'dashboard/user_profile', user: @user %>
    <%= react_component("Dashboard", {
      currentUserId: current_user.id,
      user: @user,
      edit: policy(@user.collection).edit?,
      currentUserWishlist: @current_user_wishlist,
      collectionCards: @cards,
      tradables: @tradables,
      wishlist: @wishlist,
      trades: @trades.select{ |trade|
        (trade.from.id == @user.id || trade.to.id == @user.id) && (current_user.id == @user.id || trade.status.eql?('approved'))
      }.map{ |trade| TradeSerializer.new(trade)}
    }) %>
  </div>
</div>
