<div id="dashboard" class="dashboard">
  <div class="dashboard__container">
    <h2 class="dashboard__title"><%= @user.name %></h2>
    <%= render 'dashboard/user_profile', user: @user %>
    <%= react_component("Dashboard", {
      currentUserId: current_user.id,
      user: @user,
      edit: policy(@user.collection).edit?,
      currentUserWishlist: @current_user_wishlist,
      collectionCards: @cards,
      tradables: @tradables,
      wishlist: @wishlist
    }) %>
  </div>
</div>
