.login {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    text-align: center;

    &-title {
        margin-top: 0;
    }

    &-content {
        width: 40%;
        min-width: 295px;
        max-width: 400px;
        background: rgba($color-light, .9);
        padding: $section-padding;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &_form-field {
        margin: 5px 0;

        input[type=checkbox]+label:before {
            margin-right: 5px;
            margin-top: -2px;
            margin-bottom: 2px;
        }
    }



    [class*="-btn"] {
        margin: 5px auto;
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            margin-right: 2px;
        }
    }

    &_link-btn {
        background: $color-nuetral;

        &:hover {
            background: darken($color-nuetral, 25%);
        }
    }
}