form.edit_user {
  width: 100%;
}

.dashboard_edit-user-details {

  &__title {
    font-weight: 600;
    color: $color-nuetral;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__gravatar {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      max-width: 250px;
      border-radius: 100%;
      border: .5rem solid white;
    }

    a {
      margin-left: 8rem;
      margin-top: -3rem;
      border-radius: 3rem;
      padding: 1rem;
      font-size: 2rem;
      display: flex;
    }
  }

  &__discord {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 3rem;
    margin: 1rem auto 1rem auto;
    align-items: center;
    font-size: 1.25rem;

    i {
      font-size: 2rem;
    }

    &.blank {
      color: #7289DA;
      background: none;
      border: 3px solid #7289DA;
    }

    &.linked {
      color: white;
      background: #7289DA;
    }
  }
}
