


<div id="cycling-background-container" style="background: url('<%= get_random_bg_image %>') 50% 0% / cover no-repeat;"></div>
  <div id="ranking-wrapper" class="container">
    <h1>Rankings</h1>
    <div id="ranking-board">
      <div id="ranking-border">
        <div class="vert left"></div>
        <div class="vert right"></div>
        <div class="horz top"></div>
        <div class="horz bottom"></div>
      </div>
      <div class="scroll-catcher">
        <div class="vert-centerer">
          <ul id="rankings">
            <% @rankings.each do |user| %>
            
             <%= link_to "#{user.name} (#{user.wins.count}-#{user.losses.count}) - #{user.ranking.round(2)}", user_path(user), :class => "btn user" %>
              
            
           
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>






<!--  Ranking Page Scripts-->
<!-- TO DO: STRIP THESE OUT INTO SEP FILES -->
<!--List animation cue-->
<script>
  var ul = document.getElementById("rankings");
var items = ul.getElementsByTagName("li");
for (var i = 0; i < items.length; i++) {

  items[i].style.animationDuration = .2 + (i / 3) + "s";
}
</script>

