<%= form_with(
  url: "/draffles",
  method: "post",
  local: false,
  class: "form draffle-form",
) do |f| %>
  <h2>You Are About To Create a Draffle!</h2>
  <div>
    By doing so, you will begin the setup process for inputing details, participants, and prizes for a brand new draffle. This will create a new "Draffle" link on the Homescreen. If users navigate to this link, they will see that a draffle is being created (helps to build some anticipation 😊).
  </div>
  <div>
    Enter a name and click below to begin!
  </div>
  <%= f.text_field :name, placeholder: 'Enter a name for you Draffle', required: true %>
  <%= f.submit "Create Draffle", class: "button lg" %>
<% end %>