.admin_users{
    &__cell{
        flex:0 0 25%;
        overflow:hidden;
        text-overflow: ellipsis;

        [class*="__btn"] {
            width:150px;
         }
    }

    &_lock__btn {
        background: $color-nuetral;
        width:400px;
        &:hover {
            background: darken($color-nuetral, 25%);
        }
    } 
    @media only screen and (max-width: 850px) {

        &__row {
            display:block; 
            &-headings {
                display:none;
            }
        }
    
        [class*="__cell"] {
            text-align:center;
        }

        &__cell{
            &-date{
                color: $color-light;
                background: $color-dark;
            }
        }

        [class*="__btn"]{
         width: 100px;
        }
    }
}