<% if @wiki.parent.present? %>
    <h1>Edit Section <p style="font-size: 1.25rem; margin: 0 0 0 1.25rem;">for <%= @wiki.parent.title %></p></h1>
<% else %>
    <h1>Edit Page</h1>
<% end %>

<div style='max-width: 1200px; margin-left: auto; margin-right: auto;'>
    <%= render 'form', wiki: @wiki %>
</div>