<h1>Editing Wiki</h1>

<div style='max-width: 1200px; margin-left: auto; margin-right: auto;'>
    <%= render 'form', wiki: @wiki %>


    <%= link_to 'Show', @wiki %> |
    <%= link_to 'Back', wikis_path %>
</div>