<p id="notice"><%= notice %></p>

<h1>Wikis</h1>
<% Wiki.where(parent: nil).each do |top_level_wiki| %>
<li>
    <%= link_to top_level_wiki.title, wiki_path(top_level_wiki) %>
</li>
<% end %>
<br>

<%= link_to 'New Wiki', new_wiki_path %>