<div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
  <h1>404</h1>
  <h2>Sorry!</h2>
  <div>
    Either you mistyped the url or we deleted the page. Either way... we can both agree this is on you.
  </div>
</div>