<div id="edit-collections-wrapper">
  <div id="collections" class="container">
    <input id="card-search" type="text" placeholder="Begin typing to find a card..."/>
    <div class="card-grid">
      
          <div class="card-wrapper for-trade">
            <%# ZACK I have it set up on the collections page%>
            <div class="wishlist-checkbox">
                <input id="checkbox-for-card-XYZ" type="checkbox" >
                <label for="checkbox-for-card-XYZ"></label>
            </div>

            <a class="card-grid-item" href="/cards/102">
            <img class="card" alt="Goblin Banneret" title="Goblin Banneret" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=452852&amp;type=card">
            </a>
            <div class="trade-proposal-request">
              
                <button type="button" class="btn " data-id="102"></button>
            </div>
        </div>
          <div class="card-wrapper  not-in-league">
            <div class="wishlist-checkbox">
                <input id="checkbox-for-card-XYA" type="checkbox" >
                <label for="checkbox-for-card-XYA"></label>
            </div>
            <a class="card-grid-item" href="/cards/102">
            <img class="card" alt="Goblin Banneret" title="Goblin Banneret" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=452852&amp;type=card">
            </a>
           <div class="trade-proposal-request">
                <button type="button" class="btn" data-id="102"></button>
            </div>
        </div>
          <div class="card-wrapper  not-for-trade">
            <div class="wishlist-checkbox">
                <input id="checkbox-for-card-XYb" type="checkbox" >
                <label for="checkbox-for-card-XYb"></label>
            </div>
            <a class="card-grid-item" href="/cards/102">
            <img class="card" alt="Goblin Banneret" title="Goblin Banneret" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=452852&amp;type=card">
            </a>
           <div class="trade-proposal-request">
                <button type="button" class="btn" data-id="102"></button>
            </div>
        </div>
    </div>
    </div>
</div>