.card-grid {
    display: inline-grid;
    grid-template-columns: repeat(4, 25%);
    width: 100%;

    &_card-wrapper {
        width: 100%;
        margin: 30px auto;
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    &_wishlist-toggle {
        top: -25px;
        right: 20px;
        opacity: 1;
        position: absolute;
        z-index: 2;
        

        input[type=checkbox] {
            $box-size:35px;
            + label {
                &:before {
                    width:$box-size;
                    height:$box-size;
                    line-height: calc(#{$box-size}*.8);
                    font-size: calc(#{$box-size}*.8);
                    border-radius: $box-size;
                    padding:2px;
                    cursor: pointer;
                    opacity: .4;
                    content: "\2665";
                    position: absolute;
                    color: $color-light;
                    //fix for mobile color issues;
                    color: transparent;  
                    text-shadow: 0 0 0 $color-light;
                    background-color: $color-highlight-mid-import;
                    @media only screen and (max-width: 500px) {
                        top: 0;
                    }
                }
            }

                &:checked+label::before {
                    opacity: 1;
                }
                
                &:checked+label::after {
                    content: "";
                    
                }


            }



        }

        &_card {
            width: 90%;
            text-align: center;
            position: relative;

            img {
                width: 100%;
                margin: 0;
            }
        }

        &_counter {
            display: flex;
            margin: 0 auto;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            width: 100%;
            background-color: $color-highlight-import;
            border-radius: 5px;

            [class*="-btn"] {
                font-weight: bolder;
                display: flex;
                justify-content: center;
            }

            input[type=number] {
                &:not(.browser-default) {
                    cursor: default;
                    text-align: center;
                    color: $color-light;
                    border-bottom: none;
                    height: 34px;
                    margin-bottom: 0;
                    //Dealing with the wheel space;
                    margin-right: -10px;
                    -moz-appearance: textfield;
                }

                &:-webkit-inner-spin-button,
                &:-webkit-outer-spin-button,
                &:-webkit-inner-adjust-hue-button,
                &:-webkit-outer-adjust-hue-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

            }

        }

        &_trade-proposal {
            width: 90%;
            margin: 0 auto;
            text-align: center;

            &-btn {
                width: 100%;

                span {
                    display: none;
                }

                &:after {
                    content: "Propose Trade";
                    font-size: 12px;
                }

                &.not-in-league {
                    background: $color-dark;
                    cursor: default;

                    &:after {
                        content: "Not in League";
                    }
                }

            }
        }

        @media only screen and (max-width: 800px) {
            grid-template-columns: repeat(3, 33.3%);
        }

        @media only screen and (max-width: 650px) {
            grid-template-columns: repeat(2, 50%);
        }

        @media only screen and (max-width: 500px) {
            display: block;

            &_card-wrapper {
                margin-bottom: 25px;
            }
        }
    }