.card-grid {
    display: inline-grid;
    grid-template-columns: repeat(4, 25%);
    width: 100%;

    &_card-wrapper {
        width: 100%;
        margin: 30px auto;
        position: relative;
    }

    &_wishlist-toggle {
        width: 36px;
        height: 36px;
        top: -25px;
        right: -10px;
        opacity: 1;
        position: absolute;
        z-index: 2;

        label {
            position: relative;

            &:before {
                cursor: pointer;
                opacity: .4;
                content: "\2665";
                position: absolute;
                color: white;
                font-size: 35px;
                background-color: $color-highlight-mid-import;
                padding: 6px;
                border-radius: 25px;
                line-height: 24px;
                -webkit-tap-highlight-color: transparent;
                transition: .25s;
            }

        }

        &_checkbox:checked+label::before {
            opacity: 1;
        }

    }

    &_card {
        width: 100%;
        text-align: center;

        img {
            width: 90%;
            margin: 0;
        }
    }

    &_counter {
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        width: 90%;

        [class*="-btn"] {
            font-weight: bolder;
            display: flex;
            align-items: center;
            text-align: center;
            padding: 5px;

            &:first-of-type {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                ;
            }

            &:last-of-type {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }

        input[type=number]{
            &:not(.browser-default) {
                cursor: default;
                text-align: center;
                color: $color-light;
                background-color: $color-highlight-import;
                border-bottom: none;
                height: 34px;
                margin-bottom: 0;
                -moz-appearance: textfield;
                //This is to center the number 
                padding-left: 15px;
            }

            &:-webkit-inner-spin-button,
            &:-webkit-outer-spin-button,
            &:-webkit-inner-adjust-hue-button,
            &:-webkit-outer-adjust-hue-button {
                -webkit-appearance: none;
                margin: 0;
            }

        }

    }

    &_trade-proposal {
        width: 90%;
        margin: 0 auto;
        text-align: center;

        &-btn {
            width: 100%;

            span {
                display: none;
            }

            &:after {
                content: "Propose Trade";
                font-size: 12px;
            }

            &.not-in-league {
                background: $color-dark;
                cursor: default;

                &:after {
                    content: "Not in League";
                }
            }

        }
    }
    
    @media only screen and (max-width: 800px) {
        grid-template-columns: repeat(3, 33.3%);
    }

    @media only screen and (max-width: 650px) {
        grid-template-columns: repeat(2, 50%);
    }

    @media only screen and (max-width: 400px) {
        display: block;

        &_card-wrapper {
            margin-bottom: 25px;
        }
    }
}