a.button,
.button {
    --button-text-color: var(--color-text-inverse);
    --button-background-color-opacity: 1;
    --button-lightness-shift: 0;
    --button-background-color-base: var(--color-fill-theme);
    --button-background-color: hsl(
        from var(--button-background-color-base) h s calc(l + var(--button-lightness-shift)) /
            var(--button-background-color-opacity)
    );
    -webkit-tap-highlight-color: transparent;
    align-items: center;
    background-color: var(--button-background-color);
    border-radius: 2px;
    border: none;
    box-sizing: border-box;
    color: var(--button-text-color);
    cursor: pointer;
    display: flex;
    font-weight: 400;
    gap: var(--spacer-xs);
    justify-content: center;
    letter-spacing: 0.5px;
    line-height: 1.5;
    outline: 0;
    overflow: hidden;
    padding-block: var(--spacer-md);
    padding-inline: var(--spacer-lg);
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: uppercase;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease-in-out;

    &--large {
        font-size: 1.2rem;
        padding-inline: var(--spacer-lg);
        padding-block: var(--spacer-xl);
    }

    &--small {
        font-size: 0.8rem;
        padding-inline: var(--spacer-md);
        padding-block: var(--spacer-sm);
    }

    &:hover:not(:disabled) {
        --button-lightness-shift: calc(15 * var(--color-lightness-shift-basis));
    }

    &:disabled {
        --button-background-color-opacity: 0.25;
    }
    &--secondary {
        --button-background-color-base: var(--color-fill-neutral);
        --button-text-color: var(--color-text-neutral);
    }

    &--inverse {
        --button-background-color-base: var(--color-fill-inverse);
        --button-text-color: var(--color-text-inverse);
    }

    &--ghost {
        --button-background-color-opacity: 0;
        --button-text-color: var(--color-text-inverse);
        &:hover,
        &:focus {
            --button-background-color-opacity: 0.25;
            --button-lightness-shift: calc(var(--button-text-color-lightness) + 25%);
        }
    }

    &--negative {
        --button-background-color-base: var(--color-fill-negative);
        // red colors don't show lightness as well, so we need to shift the background more to be lighter
        &:hover:not(:disabled) {
            --button-lightness-shift: calc(20 * var(--color-lightness-shift-basis));
        }
    }
    &--positive {
        --button-background-color-base: var(--color-fill-positive);
    }

    &--no-button {
        --button-text-color: var(--color-fill-theme);
        background: transparent;
        border-radius: 0;
        padding: 0;
        display: inline-flex;
        text-transform: none;
        text-decoration: underline;

        &:hover:not(:disabled) {
            --button-text-color: hsl(from var(--color-fill-theme) h s calc(15 * var(--color-lightness-shift-basis)));
            background: none;
        }
    }
}
