:root {
  //Current Theme Values
    --green-hue-sat: 149, 100%;
    --mustard-hue-sat: 47, 100%;
    --scarlet-hue-sat: 343, 100%;
    --plum-hue-sat:  265, 85%;
    --peacock-hue-sat:  217, 100%;

    --site-background: var(--color-fill-inverse);

    --inverse-hue-sat:  0, 0%;
    --inverse-lightness: 100%;

    --neutral-hue-sat: 0, 0%;
    --neutral-lightness: 0%;

    --saturated-fill-lightness: 25%;
    --color-shift-basis: 1;
    --desaturated-hue-sat: 0, 0%;

    //Derivative values 

    --color-fill-inverse-hue-sat: var(--inverse-hue-sat);
    --color-fill-inverse-lightness : var(--inverse-lightness); 
    --color-fill-inverse: hsl(var(--color-fill-inverse-hue-sat),var(--color-fill-inverse-lightness));
    
    --color-fill-neutral-hue-sat: var(--neutral-hue-sat);
    --color-fill-neutral-lightness: var(--neutral-lightness);
    --color-fill-neutral: hsl(var(--color-fill-neutral-hue-sat),var(--color-fill-neutral-lightness));
    
    --color-fill-theme-hue-sat: var(--peacock-hue-sat);
    --color-fill-theme-lightness: var(--saturated-fill-lightness);
    --color-fill-theme: hsl(var(--color-fill-theme-hue-sat),var(--color-fill-theme-lightness));
    
    --color-fill-theme-highlight-lightness: calc(var(--color-fill-theme-lightness) + 15%);
    --color-fill-theme-highlight: hsl(var(--color-fill-theme-hue-sat), var(--color-fill-theme-highlight-lightness)); 

    --color-fill-positive-hue-sat: 168, 76%;
    --color-fill-positive-lightness:var(--saturated-fill-lightness);
    --color-fill-positive: hsl(var(--color-fill-positive-hue-sat),var(--color-fill-positive-lightness));
    
    --color-fill-negative-hue-sat: 2, 100%;
    // currently negative is a red and reds need a slightly higher lightness to come through 
    --color-fill-negative-lightness: calc(var(--saturated-fill-lightness) + 20%);
    --color-fill-negative: hsl(var(--color-fill-negative-hue-sat),var(--color-fill-negative-lightness));
    
    --color-fill-alert-hue-sat: 25, 100%;
    // currently alert is a orange and reds need a slightly higher lightness to come through 
    --color-fill-alert-lightness: calc(var(--saturated-fill-lightness) + 25%);
    --color-fill-alert: hsl(var(--color-fill-alert-hue-sat),var(--color-fill-alert-lightness));
    

    --color-text-inverse-hue-sat: var(--color-fill-neutral-hue-sat);
    --color-text-inverse-lightness : var(--color-fill-neutral-lightness);
    --color-text-inverse: var(--color-fill-neutral);
    
    --color-text-neutral-hue-sat: var(--color-fill-inverse-hue-sat);
    --color-text-neutral-lightness : var(--color-fill-inverse-lightness);
    --color-text-neutral: var(--color-fill-inverse); 

    --color-text-theme-hue-sat: var(--color-fill-theme-hue-sat);
    --color-text-theme-lightness: 10%;
    --color-text-theme: hsl(var(--color-text-theme-hue-sat), var(--color-text-theme-lightness)); 
   

    --color-text-negative-hue-sat: var(--color-fill-negative-hue-sat);
    --color-text-negative-lightness: calc(var(--saturated-fill-lightness) + 15%);
    --color-text-negative: hsl(var(--color-text-negative-hue-sat), var(--color-text-negative-lightness)); 
   
}



