.slot {
  border: 2px solid  hsl(var(--color-text-theme-hue-sat), 20%); 
  border-radius: 1rem;
  overflow: hidden;

  &__header {
    background-color:var(--color-fill-neutral);
    color: $color-highlight-mid-import;
    &.pick {
      font-size: 1.2rem;
      font-weight: 600;
    }
    &.date {
      font-size: .8rem;
    }
  }

  &__user {
    font-size: 1.2rem;
    font-weight: 600;
    color: $color-highlight-import;
    padding: .5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__prize {
    padding: .5rem;
  }
}