.wiki-title {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.wiki-action {
    width: fit-content;
    display: inline;
    margin-left: auto;
}

.wiki-action-bar {
    display: none;
}

.wiki-main {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 850px) {
        display: flex;
        gap: 4rem;
    }
}

.wiki-page {
    flex-grow: 1;

    .hidden {
        display: none;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: rgba(225, 225, 225, 0.5);
            z-index: 200;
            pointer-events: none;
        }
    }

    &.admin-view {
        .wiki-action-bar {
            display: block;
        }

        .hidden {
            display: block;
        }
    }
}

.wiki-nav {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    position: fixed;
    top: 0;
    left: max(-85vw, -450px);
    width: min(85vw, 450px);
    height: 100vh;
    overflow-y: scroll;
    z-index: 100;
    background: white;
    padding: 1rem 1rem;
    gap: 0.5rem;
    transition-property: left;
    transition-duration: 300ms;
    transition-timing-function: ease-out;

    @media screen and (min-width: 850px) {
        position: relative;
        left: 0;
        height: fit-content;
        width: auto;
        padding-right: 6rem;
        border: 1px solid #aaa;
        border-radius: 8px;
        position: sticky;
        top: 1rem;
    }

    &.open {
        left: 0;
    }

    &__toggle {
        @media screen and (min-width: 850px) {
            display: none;
        }
        padding: 1rem;
    }

    &__link {
        &.child {
            margin-left: 0.5rem;
        }
    }

    &__child {
        margin-left: 0.5rem;
    }

    &__close {
        position: absolute;
        right: 1rem;
        top: 1rem;
        @media screen and (min-width: 850px) {
            display: none;
        }
    }

    &__isolation {
        display: none;
        position: fixed;
        z-index: 99;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        top: 0;
        left: 0;
        opacity: 0;
        transition-property: opacity;
        transition-duration: 300ms;
        transition-timing-function: ease-out;

        &.open {
            display: block;
            opacity: 1;
        }
    }
}

.trix-content {
    margin-bottom: 4rem;
    ul {
        list-style: disc;
    }
}

.wiki-content {
    margin-left: 1rem;
}

.wiki__more-links {
    margin-bottom: 1.5rem;
    background: #ddd;
    padding: 1rem;
    border-radius: 4px;
    display: flex;
    gap: 0.5rem;
}

.wiki-header {
    margin-bottom: 0.75rem;
    h2 {
        margin: 0;
    }
}

.wiki-subheader {
    position: sticky;
    top: 0;
    background: white;
    z-index: 100;
    padding: 0.75rem 0;
    h3 {
        margin: 0;
    }
}
