:root {
    --ranking-border-stroke-width: 2px;
}
.rankings {
    text-align: center;
    transition-property: opacity;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
    max-width: 350px;
    margin: 0 auto;

    &__controls-wrapper {
        margin-bottom: calc(var(--spacer-lg) + var(--ranking-border-stroke-width));
        overflow-x: hidden;

        &--slider {
            transition: transform 300ms ease-in;
            display: flex;
            gap: var(--spacer-sm);
            align-items: center;
            flex-wrap: nowrap;
            position: relative;

            &.slide {
                transform: translateX(calc(-350px + 3.25rem));
            }

            .player-search {
                position: absolute;
                left: calc(100% - 3.25rem);
                display: flex;
                gap: var(--spacer-sm);
                width: 100%;
                height: var(--controls-wrapper-height);

                button {
                    width: 3.25rem;
                }

                input[type="text"] {
                    flex: 1 1 auto;
                    color: white;
                    background: #44444466;
                    text-align: center;
                    box-sizing: border-box;
                }
            }
        }
    }
    &__date_form {
        display: flex;
        justify-content: center;
        transition-property: opacity;
        transition-duration: 100ms;
        transition-timing-function: ease-in-out;
        gap: var(--spacer-sm);
        #match_date_month {
            flex: 1 0 100px;
        }

        &--hidden {
            opacity: 0;
            pointer-events: none;
        }
    }

    &__border-wrapper {
        width: 100%;
        height: calc(100% + 2 * var(--ranking-border-stroke-width));
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        top: calc(-1 * var(--ranking-border-stroke-width));
        pointer-events: none;
    }

    &__border {
        background-color: var(--color-fill-inverse);
        position: absolute;
        animation-duration: 4s;
        animation-timing-function: ease-in-out;
        &--top,
        &--bottom {
            height: var(--ranking-border-stroke-width);
            width: 100%;
            animation-name: growHorz;
        }
        &--right,
        &--left {
            width: var(--ranking-border-stroke-width);
            height: 100%;
            animation-name: growVert;
        }
        &--right {
            right: 0;
            transform-origin: top right;
        }
        &--left {
            left: 0;
            transform-origin: bottom left;
        }
        &--top {
            top: 0;
            transform-origin: top left;
        }
        &--bottom {
            bottom: 0;
            transform-origin: bottom right;
        }
    }

    &__wrapper {
        box-sizing: border-box;
        height: calc(
            100vh - var(--nav-height) - var(--footer-height) - var(--draffle-button-height) -
                var(--controls-wrapper-height) - var(--spacer-section) - var(--spacer-section) - 6px
        );
        //last value is for minor calc rounding errors
        position: relative;
    }

    &__player-listing {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__player-bucket {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .rankings__user-button.button {
        color: var(--color-text-neutral);
        width: 100%;
        max-width: 300px;
        margin: var(--spacer-sm) 0;
        padding: var(--spacer-sm);
        height: auto;
        display: flex;
        font-size: 12px;
        animation-name: bigEntrance;
        -webkit-animation-name: bigEntrance;
        animation-duration: 1.6s;
        -webkit-animation-duration: 1.6s;
        animation-timing-function: ease-out;
        -webkit-animation-timing-function: ease-out;
        visibility: visible !important;
        transition-property: all;
        transition-duration: 500ms;
        transition-timing-function: ease-in-out;
        background-color: var(--color-fill-neutral);
        --rankings-button-lightness-shift: 0;
        --rankings-corner-color: hsl(
            from var(--color-fill-neutral) h s calc(l + 15 + var(--rankings-button-lightness-shift)) / 0.4
        );
        --rankings-central-color: hsl(
            from var(--color-fill-neutral) h s calc(l + var(--rankings-button-lightness-shift)) / 0.6
        );
        @supports (font: -apple-system-body) and (-webkit-appearance: none) {
            --rankings-button-lightness-shift: 0%;
            --rankings-corner-color: hsl(
                from var(--color-fill-neutral) h s calc(l + 15% + var(--rankings-button-lightness-shift)) / 0.4
            );
            --rankings-central-color: hsl(
                from var(--color-fill-neutral) h s calc(l + var(--rankings-button-lightness-shift)) / 0.6
            );
        }
        background: linear-gradient(
            56deg,
            var(--color-fill-neutral),
            var(--rankings-central-color) 20%,
            var(--rankings-central-color) 92%,
            var(--rankings-corner-color)
        );
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        &::before {
            content: "";
            background-color: var(--color-fill-theme);
            position: absolute;
            inset: 0;
            border-radius: inherit;
            opacity: 0;
            transition-property: opacity;
            transition-duration: 500ms;
            transition-timing-function: ease-in-out;
        }

        &:hover {
            &::before {
                opacity: 0.5;
            }
        }
    }
    .rankings__user-button.rankings__user-button--unranked.button {
        --rankings-central-color: hsl(
            from var(--color-fill-neutral) h s calc(l + var(--rankings-button-lightness-shift)) / 0.3
        );
        --rankings-corner-color: hsl(
            from var(--color-fill-neutral) h s calc(l + 15 + var(--rankings-button-lightness-shift)) / 0.2
        );
        @supports (font: -apple-system-body) and (-webkit-appearance: none) {
            --rankings-button-lightness-shift: 0%;
            --rankings-corner-color: hsl(
                from var(--color-fill-neutral) h s calc(l + 15% + var(--rankings-button-lightness-shift)) / 0.2
            );
        }
    }

    &__player {
        position: relative;
        line-height: 14px;
        text-align: left;
        display: flex;
        flex: 1 1 auto;
        flex-wrap: wrap;
        min-width: 0;
        align-items: center;

        &-position {
            position: relative;
            font-weight: bolder;
            font-size: 20px;
            align-self: center;
            flex: 0 0 35px;
            text-align: center;
        }

        &-name {
            flex: 1 1 100%;
            min-width: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &-overflow-boundary {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &--unranked {
                margin-left: 35px;
            }
        }

        &-stats {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        &-record {
            flex: 1 1 auto;
            text-align: right;
        }
    }

    &__divider {
        height: 2px;
        border: none;
        outline: none;
        width: 100%;
        overflow: hidden;
        background-color: var(--color-fill-inverse);
        margin: 5px auto;
    }

    &__scroll-catcher {
        height: 100%;
        width: calc(100% - 2 * var(--ranking-border-stroke-width));
        overflow-x: hidden;
        overflow-y: auto;
        scrollbar-width: thin;
        padding: 5px;

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: none;
            box-shadow: none;
            background-color: transparent;
        }

        &::-webkit-scrollbar {
            width: 5px;
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background-color: var(--color-fill-inverse);
        }
    }

    &__toggle-visbility-button {
        position: fixed;
        bottom: calc(var(--footer-height) + var(--spacer-md));
        right: var(--spacer-md);
        background-color: hsl(from var(--button-background-color) h s l / 0.3);
        backdrop-filter: blur(20px);
        &:hover {
            background-color: var(--button-background-color);
        }

        &--off {
            position: relative;
            bottom: unset;
            right: unset;
            animation: none;
        }
    }

    &--hidden {
        opacity: 0;
        pointer-events: none;
    }
}
