
.rankings {
  text-align: center;
  $ranking-board-heading: 60px;
  $month-selector: 45px;
  $border-stroke-width: 2px;
  transition-property: opacity;
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;


  &__title {
    font-size: 40px;
    margin: 0 auto 10px;
    font-variant: small-caps;
    font-weight: 700;
    text-transform: unset;
    color: $color-light;
  }

  &__date_form {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    transition-property: opacity;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;

    select {
      // 125px is the width of the month input on the longest months
      flex: 0 0 125px;
      margin: 0 5px;
    }

    &--hidden {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__border-wrapper {
    width: 100%;
    height: calc(100% + 2 * #{$border-stroke-width}); 
    position: absolute;
    transform: translateX(-50%);
    left:50%;
    top: -$border-stroke-width;
    pointer-events: none;
  }

  &__border {
    background-color: $color-light;
    position: absolute;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    &--top,
    &--bottom {
      height: $border-stroke-width;
      width:100%;
      animation-name: growHorz;
    }
    &--right, 
    &--left {
      width: $border-stroke-width;
      height:100%;
      animation-name: growVert;
    }
    &--right{
      right:0;
      transform-origin: top right;
    }
    &--left{
      left:0;
      transform-origin: bottom left;
    }
    &--top{
      top:0;
      transform-origin: top left;

    }
    &--bottom{
      bottom:0;
      transform-origin: bottom right;
    }
  }

  &__wrapper {
    box-sizing: border-box;
    margin: 10px auto;
    height: calc(100vh - #{$nav-height} - #{$footer-height} - #{$month-selector} - #{$ranking-board-heading} - (3*#{$section-padding}));
    position: relative;
    max-width:350px;
  }

  &__player-listing {
    display: flex;  
    flex-direction: column;
    justify-content: space-around;
  }

  &__player-bucket {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  &__user-button {
    color: $color-dark;
    width:100%;
    max-width: 300px;
    margin: 5px 0;
    padding: 5px 10px 5px 5px;
    height: auto;
    display: flex;
    font-size: 12px;
    animation-name: bigEntrance;
    -webkit-animation-name: bigEntrance;
    animation-duration: 1.6s;
    -webkit-animation-duration: 1.6s;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    visibility: visible !important;

    &:hover {
      background: lighten($color-highlight-import, 5%);
      color: $color-dark;
    }

    &--unranked {
      background: $color-highlight-mid-import;


      &:hover {
        background: lighten($color-highlight-mid-import, 5%);
        color: $color-dark;
      }

    }

  }

  &__player {
    line-height: 14px;
    text-align:left;
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    min-width: 0;
    align-items: center;

    &-position {
      font-weight: bolder;
      font-size: 20px;
      align-self: center;
      flex:0 0 35px;
      text-align: center;
    }

    &-name {
      flex: 1 1 100%;
      min-width: 0; 
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &-overflow-boundary {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
      }
      &--unranked {
        text-align: center;;
      }
    }

    &-stats {
      display:flex;
      justify-content: space-between;
      width:100%;
    }
  
    &-record {
      flex: 1 1 auto;
      text-align: right;
    }
  }

  &__divider {
    height: 2px;
    border: none;
    outline: none;
    width: 100%;
    overflow: hidden;
    background-color: $color-light;
    margin: 5px auto;
  }

  &__scroll-catcher {
    $contract-catch-by:calc(100% - 2 * #{$border-stroke-width}); 
    height: 100%;
    width: $contract-catch-by;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    padding: 5px;

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: none;
      box-shadow: none;
      background-color: transparent;
    }

    &::-webkit-scrollbar {
      width: 5px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: $color-light;
    }
  }
  
  &__toggle-visbility-button {
    position: fixed;
    bottom: 5%;
    right:5%;
    animation:  mtgBackgroundColorCycle 15s ease-in-out alternate-reverse infinite; 

  }

  &--hidden {
    opacity: 0;
    pointer-events: none;
  }

}