<div id="card-profile-wrapper">
    <div class="container">
        <img class="card" alt="Goblin Banneret" title="Goblin Banneret" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=452852&amp;type=card">
        <div id="league-details">      
             <p>Total In League Copies:<span>99</span></p>
             <p>Owned by:</ul>
                <ul>
                    <li>Ryan Branch</li>
                    <li>Ryan Branch</li>
                    <li>Ryan Branch</li>
                    <li>Ryan Branch</li>
                </ul>
            <button class="btn">Propose a Trade</button>       
        </div>
    </div>
</div>