.trades-table {
  &-cell {
    &__date-status {
      flex-basis: 15%;

      i {
        font-size: 1.5rem;
        
        &.approved {
          color: $color-accept;
        }
        &.rejected {
          color: $color-highlight-urgent;
        }
        &.waiting {
          color: $color-nuetral;
        }
      }

    }

    &__card-list {
      flex-basis: 25%;
    }

    &__name {
      flex-basis: 20%;
    }
  }

  p {
    text-transform: uppercase;
  }

  .review-button {
    margin: 0;
  }
}


.trade-review-modal__action-button{
  flex: 1 1 50%;
  margin: 1rem .5rem;
  font-weight: 700;

  &.reject {
    background-color: $color-highlight-urgent;
  }

  &.approve {
    background-color: $color-highlight-mid-import;
  }
}