//Color Library
$Rose-Gold: #bd8c7d;
$Soft-Gold: #d1bfa7;
$Silver: #8e8e90;
$Onyx: #49494b;
$Light-Grey: #8d8d8d;
$Turquoise: #26a69a;
$Soft-Orange: #efab45;
$Crimson: #DC143C;
$Living-Coral: #FF6F61;
$Beluga: rgb(10, 8, 3);
$Forest-Biome: #184A45;
$Sunset-Orange: #FC4445;
$Cornflower: #97CAEF;
$Fountain-Blue:#55BCC9;
$Goldenrod-Yellow: #fbaf08;
$Lightning-Purple: #bf4aa8;
$Lightning-Blue:#51d0de;
$Wrinkle-White:#d9d9d9;
$Woodsmoke: #0B0C10;
$Caribbean-Green: #00d285;
$Ebony-Clay:#1f2833;
$Eucalytus: #27876F;
$Biloba-Flower:#CBBAED;

//Semantic Colors Names

$color-light:white;
$color-dark: $Woodsmoke;
$color-highlight-mid-import: $Living-Coral;
$color-highlight-import: $Sunset-Orange;
$color-highlight-urgent: $Crimson;
$background-color: $color-light;
$ranking-border-color: $color-light;
