//Static Reused Numbers
$nav-height: 64px;
$footer-height: 32px;
$section-padding: 25px;
$animation-delay: 2s;

//Text Treatments
a {
  text-decoration: none;
}

html {
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
}

@media only screen and (min-width: 0) {
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 992px) {
  html {
    font-size: 14.5px;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 15px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.3;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: inherit;
}

h1 {
  font-size: 4.2rem;
  line-height: 110%;
  margin: 2.8rem 0 1.68rem 0;
}

h2 {
  font-size: 3.56rem;
  line-height: 110%;
  margin: 2.3733333333rem 0 1.424rem 0;
}

h3 {
  font-size: 2.92rem;
  line-height: 110%;
  margin: 1.9466666667rem 0 1.168rem 0;
}

h4 {
  font-size: 2.28rem;
  line-height: 110%;
  margin: 1.52rem 0 0.912rem 0;
}

h5 {
  font-size: 1.64rem;
  line-height: 110%;
  margin: 1.0933333333rem 0 0.656rem 0;
}

h6 {
  font-size: 1.15rem;
  line-height: 110%;
  margin: 0.7666666667rem 0 0.46rem 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: 500;
}

small {
  font-size: 75%;
}

ul {
  &.indented {
    padding-left: initial;
    margin-left: 16px;
  }

  &.bulleted {
    list-style-type: disc;

    li {
      list-style-type: disc;
    }

    ul {
      padding-left: 15px;
    }
  }
}

//General Site Structure

body,
html {
  height: 100%;

}

body {
  overflow-x: hidden;
  background: $background-color;
}


[class*="-section"],
.section
{
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  background: $background-color;
  padding: $section-padding;
  min-height: 600px;
  color: $color-dark;

  a {
    color: darken($color-highlight-import, 5%);

    &:hover {
      color: darken($color-highlight-import, 10%);
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    &.color-blocked {

      padding: 10px;
      margin: 10px 0 0;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

      &.highlight-main {
        color: $color-light;
        background: $color-highlight-import;
        border-bottom: 4px solid lighten($color-highlight-import, 10%);

      }

      &.highlight-mid {
        background: $color-highlight-mid-import;
        border-bottom: 4px solid lighten($color-highlight-mid-import, 10%);

      }

      &.dark {
        color: $color-light;
        background: $color-dark;
        border-bottom: 4px solid lighten($color-dark, 10%);

      }

      &.light {
        background: $color-light;
        border-bottom: 4px solid darken($color-light, 10%);

      }

      &~.content {
        margin-bottom: 25px;
        box-sizing: border-box;
        padding: 15px;
        background: $color-light;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

        p {
          &:first-of-type {
            margin-top: 0;
          }
        }
      }
    }
  }

  //Section Types 
  &.full-page {
    background: transparent;
    min-height: calc(100vh - #{$nav-height} - #{$footer-height});
  }
}

[class*="-container"],
.container {
  width: 70%;
  margin: 0 auto;

  .content {
    width: 100%;
  }

  .centered {
    text-align: center;

  }
}


//Tables 
[class*="-table"] {
  display: block;
  width: 100%;
  border: 2px solid $color-dark;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  background: $color-light;
}

[class*="-row"]{
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
  text-overflow: ellipsis;

  &:nth-child(even) {
    background: rgba($color-dark, .15);
  }

  &[class*="-headings"] {
    background: $color-dark;
    color: $color-light;
    border-bottom: 2px solid $color-highlight-mid-import;
  }
}

[class*="-cell"] {
  flex: 1 0 auto;
  height:100%;
  padding: 5px;
  text-align: left;

  &:first-of-type {
    justify-self: start;
  }
  &:last-of-type {
    justify-self: end;
  }
}

 


//Form and Input Elements
select:focus {
  outline: 1px solid $color-highlight-mid-import;
}

button:focus {
  outline: none;
  background-color: $color-highlight-mid-import;
  ;
}

label {
  font-size: 0.8rem;
  color: $color-nuetral;
}

select.browser-default {
  display: block;
}

select {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 5px;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  height: 3rem;
}

//Buttons 
[class*="-btn"],
.btn {
  text-decoration: none;
  text-align: center;
  letter-spacing: .5px;
  text-transform: uppercase;
  outline: 0;
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  background: $color-highlight-import;

  &:hover {
    background: lighten($color-highlight-import, 5%);
  }

  a {
    color: $color-light;
  }

  &.highlight-mid {
    background: lighten($color-highlight-mid-import, 5%);

    &:hover {
      background: lighten($color-highlight-mid-import, 10%);
    }
  }
}

//TODO refactor close buttons to work with other button classes
[class*="_close-button"] {
  position: absolute;
  top: 5px;
  right: 5px;
  color: $color-highlight-import;
  float: right;
  margin: 0;
  background: transparent;
  border: none;
  cursor: pointer;

  &:focus {
    background: none;
  }

  .material-icons {
    font-size: 30px;
  }
}

// Text Inputs + Textarea
::-webkit-input-placeholder {
  color: $color-nuetral;
}

::-moz-placeholder {
  color: $color-nuetral;
}

:-ms-input-placeholder {
  color: $color-nuetral;
}

::placeholder {
  color: $color-nuetral;
}

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default) {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $color-nuetral;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 16px;
  margin: 0 0 8px 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: border .3s, -webkit-box-shadow .3s;
  transition: border .3s, -webkit-box-shadow .3s;
  transition: box-shadow .3s, border .3s;
  transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid $color-highlight-mid-import;
  -webkit-box-shadow: 0 1px 0 0 $color-highlight-mid-import;
  box-shadow: 0 1px 0 0 $color-highlight-mid-import;
}

input:not([type]):disabled+label,
input:not([type])[readonly="readonly"]+label,
input[type=text]:not(.browser-default):disabled+label,
input[type=text]:not(.browser-default)[readonly="readonly"]+label,
input[type=password]:not(.browser-default):disabled+label,
input[type=password]:not(.browser-default)[readonly="readonly"]+label,
input[type=email]:not(.browser-default):disabled+label,
input[type=email]:not(.browser-default)[readonly="readonly"]+label,
input[type=url]:not(.browser-default):disabled+label,
input[type=url]:not(.browser-default)[readonly="readonly"]+label,
input[type=time]:not(.browser-default):disabled+label,
input[type=time]:not(.browser-default)[readonly="readonly"]+label,
input[type=date]:not(.browser-default):disabled+label,
input[type=date]:not(.browser-default)[readonly="readonly"]+label,
input[type=datetime]:not(.browser-default):disabled+label,
input[type=datetime]:not(.browser-default)[readonly="readonly"]+label,
input[type=datetime-local]:not(.browser-default):disabled+label,
input[type=datetime-local]:not(.browser-default)[readonly="readonly"]+label,
input[type=tel]:not(.browser-default):disabled+label,
input[type=tel]:not(.browser-default)[readonly="readonly"]+label,
input[type=number]:not(.browser-default):disabled+label,
input[type=number]:not(.browser-default)[readonly="readonly"]+label,
input[type=search]:not(.browser-default):disabled+label,
input[type=search]:not(.browser-default)[readonly="readonly"]+label,
textarea.materialize-textarea:disabled+label,
textarea.materialize-textarea[readonly="readonly"]+label {
  color: $color-nuetral;
}

//Repetitious Non Page Specific Elements 


#alert-container {
  width: 120%;
  left: -10%;
  top: $nav-height;
  position: absolute;
  color: $color-light;
  background-color: lighten($Soft-Orange, 5%);
  text-align: center;
  display: none;
  padding: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

  .close-button {
    position: relative;
    color: $color-light;
    margin-left: 10px;
    top: initial;
    right: initial;
    float: none;
  }

  &.active {
    display: block;


  }

  &.logged-out {
    top: 0;
  }

  &.urgent {
    background-color: $color-highlight-urgent;

  }
}

#cycling-background-container {
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  min-height: 500px;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  z-index: -1;
  -webkit-filter: saturate(2);
  filter: saturate(2);
  animation: fadeInBGFilter;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}



.card-grid {
  display: inline-grid;
  grid-template-columns: repeat(4, 25%);
  width: 100%;

  #legend {
    position: fixed;
    z-index: 99;
    bottom: $footer-height;
    right: -15px;
    padding: 5px;

    ul {
      margin: 0;
      padding: 0;
      background: transparent;

      li {
        border: 1px solid $color-light;
        color: $color-light;
        padding: 5px;
        width: 100px;
        margin: 2px auto;
        border-radius: 2px;
        font-size: 8px;

        &.mid-highlight {
          background: $color-highlight-mid-import;
        }

        &.highlight {
          background: $color-highlight-import;
        }

        &.dark {
          background: $color-dark;
        }
      }
    }
  }

  .card-wrapper {
    width: 100%;
    margin: 30px auto;
    position: relative;

    .wishlist-checkbox {
      width: 36px;
      height: 36px;
      top: -25px;
      right: -10px;
      opacity: 1;
      position: absolute;
      z-index: 2;

      label {
        position: relative;

        &:before {
          cursor: pointer;
          opacity: .4;
          content: "\2665";
          position: absolute;
          color: white;
          font-size: 35px;
          background-color: $color-highlight-mid-import;
          padding: 6px;
          border-radius: 25px;
          line-height: 24px;
          -webkit-tap-highlight-color: transparent;
          transition: .25s;
        }

      }

      input[type="checkbox"]:checked+label::before {
        opacity: 1;
      }

    }

    .card-grid-item {
      width: 100%;
      text-align: center;
      display: block;

      img {
        width: 90%;
        margin: 0;
      }
    }

    .card-count-component {

      margin: 0 auto;
      text-align: center;
      width: 90%;

      span {
        display: table;
        background: #26a69a;
        height: 35px;
        border-radius: 2px;

        .btn,
        input {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
        }

        .btn {
          font-weight: bolder;
          width: 36px;
          border-left: 2px solid $color-light;
          padding: 0;
          float: right;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;

          &:first-of-type {
            float: left;
            border-left: none;
            border-right: 2px solid $color-light;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
          }

        }

        input {
          border-radius: 2px;
          width: 30%;
          color: white;
          background-color: transparent;
          border: none;
          outline: none;
          font-size: 26px;
          line-height: 26px;
          font-weight: bold;
          text-overflow: ellipsis;
          vertical-align: bottom;
          overflow: hidden;

          &[type=number]::-webkit-inner-adjust-hue-button,
          &[type=number]::-webkit-outer-adjust-hue-button {
            -webkit-appearance: none;
            margin: 0;
          }

        }

      }

    }

    .trade-proposal-request {
      width: 90%;
      margin: 0 auto;
      text-align: center;

      .btn {
        width: 100%;

        span {
          display: none;
        }
      }
    }

    &.not-in-collection {
      .card-count-component {
        span {
          display: block;
          background: transparent;

          .remove-card.btn,
          input {
            display: none;
          }

          .add-card.btn {
            width: 100%;
            border-left: none;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
            background: $color-highlight-mid-import;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;

            &:hover {
              background: lighten($color-highlight-mid-import, 5%);
            }
          }

        }
      }
    }

    &.for-trade {
      .trade-proposal-request {
        .btn {
          background: $color-highlight-import;

          &:hover {
            background: lighten($color-highlight-import, 5%);
          }

          &:after {
            content: "Propose Trade";
          }

        }
      }
    }

    &.not-for-trade {
      .trade-proposal-request {
        .btn {
          background: $color-highlight-mid-import;

          &:hover {
            background: lighten($color-highlight-mid-import, 5%);
          }

          &:after {
            content: "Propose Trade";
            // content: "Make an Offer";
          }
        }
      }
    }

    &.not-in-league {
      .card-grid-item {
        opacity: .5;
      }

      .trade-proposal-request {
        .btn {
          background: $color-dark;
          cursor: auto;

          &:after {
            content: "Not in League";
          }

        }
      }
    }

  }
}

.card-view-nav {
  margin: 0 auto;
  text-align: center;



  a.btn {
    color: $color-light;
  }

}

.modal-wrapper {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: rgba($color-dark, .5);
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 99;
  padding-bottom: 2 rem;
  transition-duration: .51s;
  color: $color-dark;
  text-align: center;

  .background-click-container {
    width: 100%;
    height: 100vh;
    top: 0;
    position: absolute;
    z-index: -1;
  }

  .modal {
    position: relative;
    height: 50vh;
    width: 75%;
    margin: 25vh auto;
    background: $color-light;
    vertical-align: middle;
    overflow: auto;
    padding: 25px;
    border-radius: 2px;
    display: table;

    .content {
      display: table-cell;
      vertical-align: middle;

      h1,
      h2,
      h3,
      h4,
      p {
        margin-top: 0;
      }

    }
  }

  &.active {
    display: block;
  }

  &.narrow {
    .modal {
      width: 40%;
      min-width: 250px;
    }
  }
}


//TO DO: BREAK INTO OWN FILES 

//Specific Pages

//Dashboard Page 
#dashboard-wrapper {
  .container {
    margin: 50px auto;
  }

  #collection-table,
  #deck-table,
  #wishlist-table {
    .main-toggle {
      float: right;
      margin-top: 6px;

    }

    .btn {
      color: $color-light;
    }

    .row {
      p {
        &:nth-of-type(2) {
          text-align: center;
        }

        &:last-child {

          text-align: right;
          text-align: -webkit-right;

        }
      }

      .button-wrapper {
        &:last-of-type {
          text-align: right;

          .btn {
            margin-right: 0;
          }
        }
      }

    }

  }

  #user-and-trades {
    display: table;

    #trades-table,
    #user {
      display: table-cell;
      box-sizing: border-box;
      vertical-align: middle;
      position: relative;
    }

    #user {
      h3 {
        margin: 0;
      }

    }

    #user {
      text-align: center;
      padding-right: 10px;

      img {
        width: 100%;
        background: $color-dark;
        height: 207px;
        width: auto;

      }

      a.btn {
        width: 100%;
        margin: 0 auto;
        color: $color-light;
        display: block;
      }

      a.btn,
      img {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
      }
    }

    #trades-table {
      .table {

        input,
        p:last-child {
          text-align: center;
        }

        input {
          width: 90%;
          padding: 5px 0;

        }

        input[type=number]::-webkit-inner-adjust-hue-button,
        input[type=number]::-webkit-outer-adjust-hue-button {
          -webkit-appearance: auto;
          margin: 0;
        }
      }
    }
  }

  #collection-table,
  #deck-table,
  #wishlist-table {
    .main-toggle {
      float: right;
      margin-top: 6px;

    }

    .btn {
      color: $color-light;
    }

    .row {
      p {
        &:nth-of-type(2) {
          text-align: center;
        }

        &:last-child {

          text-align: right;
          text-align: -webkit-right;

        }
      }
    }

  }

  #deck-table {
    .row {
      p {
        &:last-of-type {
          a {
            width: 100px;
          }
        }
      }
    }
  }

  #collection-table {
    .row {
      .checkbox-container {
        $coll-table-check-width: 36px;
        display: table-cell;
        vertical-align: middle;
        text-align: right;
        padding-right: 29px;

        .checkbox {
          width: $coll-table-check-width;
          height: 36px;
          display: inline-block;
          position: relative;
          vertical-align: top;

          label {
            position: relative;
            color: $color-light;

            &:before {
              width: $coll-table-check-width;
              position: absolute;
              left: 0;
              content: "No";
              display: inline-block;
              text-decoration: none;
              color: $color-light;
              text-align: center;
              -webkit-transition: background-color .2s ease-out;
              transition: background-color .2s ease-out;
              cursor: pointer;
              background: lighten($color-highlight-mid-import, 4%);
              padding: 5px;
              border-radius: 2px;
              display: inline-block;
              height: 36px;
              line-height: 36px;
              padding: 0 5px;
              text-transform: uppercase;
              vertical-align: middle;
              -webkit-tap-highlight-color: transparent;
              transition: .25s;

            }

            &:hover {
              &:before {
                background: lighten($color-highlight-mid-import, 8%);
              }
            }
          }

          input[type="checkbox"]:checked+label::before {
            background-color: $color-highlight-import;
            content: "Yes";

          }

        }
      }
    }
  }

}

//Log in

#log-in-wrapper {
  display: table;
  width: 40%;
  margin: 0 auto;

  .container {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    background: $color-light;
    height: calc(100vh - (2*#{$section-padding}));
    padding: $section-padding;
    text-align: center;

    .field {
      margin: 5px 0;
    }

    input[type="checkbox"] {
      position: relative;
      opacity: 1;
      pointer-events: fill;
      margin: 5px 0;
      vertical-align: middle;
    }

    .btn {
      margin: 5px 0;
      min-width: 250px;

      input {

        text-transform: uppercase;
        vertical-align: middle;
        border: none;
        padding: 0;

        &:active {
          outline: none;
        }
      }
    } 
  }
}

//Card Search
#card-search-wrapper {
  #search.container {
    white-space: nowrap;

    input {
      $fullWidthForCalcs: "100%";

      &[type=text] {
        width: calc(#{$fullWidthForCalcs} - 110px);
      }

      &[type=submit] {
        width: 100px;
        margin-left: 10px;
        border: none;
        color: $color-light;
        background-color: $color-highlight-import;
        box-sizing: border-box;

      }

    }
  }

  #easy-filter-tabs.container {

    position: relative;

    .checkbox {
      width: 100px;
      height: 36px;
      margin: 0 5px 5px;
      display: inline-block;
      position: relative;
      vertical-align: top;

      label {
        position: relative;
        color: $color-light;

        &:before {
          width: 100px;
          position: absolute;
          left: 0;
          content: "OWNED";
          display: inline-block;
          text-decoration: none;
          color: $color-light;
          text-align: center;
          letter-spacing: .5px;
          -webkit-transition: background-color .2s ease-out;
          transition: background-color .2s ease-out;
          cursor: pointer;
          background: rgba($color-highlight-mid-import, .5);
          padding: 5px;
          border-radius: 2px;
          display: inline-block;
          height: 36px;
          line-height: 36px;
          padding: 0 16px;
          text-transform: uppercase;
          vertical-align: middle;
          -webkit-tap-highlight-color: transparent;
          transition: .25s;
        }

      }

      &:first-of-type {
        margin-left: 0;
      }

      &#CB-trade {
        label {
          &:before {
            content: "For trade";
          }
        }

      }

      &#CB-league {
        label {
          &:before {
            content: "In League";
          }
        }

      }

      input[type="checkbox"]:checked+label::before {
        background-color: $color-highlight-import;
      }

      &.icon {
        width: 36px;

        label {
          &:before {
            content: "";
            width: 36px;
            background-color: transparent;
            background-image: url("../images/red.svg");
            padding: 0;
            border-radius: none;
            -webkit-filter: saturate(.0);
            opacity: .5;
            filter: saturate(.0);
            vertical-align: middle;
            -webkit-tap-highlight-color: transparent;
            transition: .25s;
          }
        }

        &#black {
          label {
            &:before {
              background-image: url("../images/black.svg");

            }
          }

        }

        &#black {
          label {
            &:before {
              background-image: url("../images/black.svg");

            }
          }

        }

        &#white {
          label {
            &:before {
              background-image: url("../images/white.svg");

            }
          }

        }

        &#green {
          label {
            &:before {
              background-image: url("../images/green.svg");

            }
          }

        }

        &#blue {
          label {
            &:before {
              background-image: url("../images/blue.svg");

            }
          }

        }

        &#colorless {
          label {
            &:before {
              background-image: url("../images/colorless.svg");

            }
          }

        }

        &#common {
          label {
            &:before {
              background-image: url("../images/common.svg");

            }
          }

        }

        &#uncommon {
          label {
            &:before {
              background-image: url("../images/uncommon.svg");

            }
          }

        }

        &#rare {
          label {
            &:before {
              background-image: url("../images/rare.svg");

            }
          }

        }

        input[type="checkbox"]:checked+label::before {
          background-color: transparent;
          -webkit-filter: saturate(1);
          filter: saturate(1);
          opacity: 1;

        }
      }

    }

  }
}

//Card Profile
#card-profile-wrapper {
  .container {
    white-space: nowrap;
    $card-width-and-margin-for-calc: 233px;

    h4 {
      margin-bottom: 10px;
    }

    #league-details,
    .card-wrapper {
      white-space: normal;
      display: inline-block;
      box-sizing: border-box;
      vertical-align: top;

    }

    .card-wrapper {
      img {
        width: 223px;
        //Card size from mtg api
        margin-right: 10px;
      }

      .btn {
        display: block;
        width: 200px;
        margin: 10px auto 0;
      }
    }

    #league-details {
      width: calc(100% - #{$card-width-and-margin-for-calc});

      .table {
        .row {
          p {
            &:last-of-type {
              text-align: center;
            }
          }
        }
      }

    }

  }
}

//Edit Account 
#edit-details-wrapper {
  .table {
    border: none;
    box-shadow: none;

    .flex-col {
      &#user {
        //gravatar width
        width: 170px;
        text-align: center;

        a,
        img,
        label {
          display: block;
          margin: 5px auto;
        }

        img {
          border: 2px solid $color-dark;
        }

        a {
          color: $color-light;
        }

      }

      &#detail-inputs {
        padding-left: 25px;

      }
    }
  }

  input[type="submit"],
  input[type="switch"] {
    margin: 25px auto 0;
    display: block;
  }
}

//View Individ. Collection{
#edit-collections-wrapper {
  #collections {
    text-align: center;

    a {
      &.btn {
        color: $color-light;
      }
    }
  }
}

//Admin  Pages
#admin-user-wrapper {
  .table {
    .row {
      .button-wrapper {
        display: inline-flex;
        align-items: middle;
        width: 100%;

        a {
          color: $color-light;
          font-size: .75rem;
          padding: 0;

          &.unlocked {
            background: $color-highlight-mid-import;
          }
        }
      }
    }
  }
}

#admin-settings-wrapper {

  //note for clarity: Hitting the simple forms class here, not the HTML element
  .input {
    display: flex;
    justify-content: center;
    align-items: center;

    //note for clarity: Here we are hitting the html element
    input {
      margin-left: 25px;
      flex: 0 1 25%;

      &.numeric,
      .date {
        text-align: center;
        max-width: 100px;
        min-width: 50px;
      }
    }

  }

  //note for clarity: Here we are hitting the html element
  input[type=submit] {
    margin-top: 25px;
  }
}

//Page Templates
//User list pages (users, collections etc...)  
#collection-wrapper,
#user-wrapper {
  .btn {
    color: $color-light;

    &.user {
      margin: 5px 0;
      width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  img.user-image {
    background-color: $color-dark;
  }

}

//Responsive Adjustments for whole site

//Cross browser fixes 
//FireFox
@-moz-document url-prefix() {
  .card-grid {
    .card-wrapper {
      .card-count-component {
        span {
          input {
            line-height: 34px;
            -moz-appearance: textfield;
          }
        }
      }

    }
  }

}

//Responsive Adjustments
@media only screen and (orientation : portrait) {
  #cycling-background-container {
    background-size: contain;
  }

}

@media only screen and (max-width: 800px) {
  .card-grid {
    grid-template-columns: repeat(3, 33.3%);
  }

}

@media only screen and (max-width: 720px) {
  #dashboard-wrapper {
    h2 {
      text-align: center;
      margin: 0;
      font-size: 2.1rem;
    }

    .container {
      margin: 10px auto;

      &:first-of-type {
        margin-top: 0;
      }

      &#user-and-trades {

        display: block;

        #trades-table,
        #user {
          display: block;

        }

        #user {
          margin-bottom: 20px;

          .btn {
            width: 207px;

          }
        }
      }

      &#collection-table,
      &#deck-table,
      &#wishlist-table {
        h3 {
          font-size: 2rem;

          .btn {
            &.main-toggle {
              width: 100px;
              margin-top: -1px;
              overflow: hidden;
            }
          }
        }
      }
    }
  }

  #admin-user-wrapper {
    .table {
      .row {
        &.headings {
          display: none;
        }

        p,
        a,
        .button-wrapper {
          display: block;
          margin: 0px auto;
        }

        .button-wrapper {
          width: 150px;
        }
      }
    }
  }
}

@media only screen and (max-width: 650px) {

  [class*="-section"],
  .section {
    .container {
      width: 90%;
      position: relative;
    }
  }

  #log-in-wrapper {
    width: 95%;

  }

  #edit-details-wrapper {
    .table {
      display: block;

      .flex-col {
        display: block;
        margin: 25px auto;

        &#detail-inputs {
          padding-left: 0;

        }
      }
    }

    input[type="submit"] {
      margin: 25px auto 0;
      display: block;
    }
  }

  .card-grid {
    grid-template-columns: repeat(2, 50%);

    #legend {
      right: -20px;
      padding: 2px;
      opacity: .8;

    }
  }

  .card-view-nav {
    h3 {
      font-size: 1.92rem;

    }

    a.btn {
      padding: 0 5px;
      font-size: 10px;

    }
  }

}

@media only screen and (max-width: 400px) {
  .card-grid {
    display: block;

    .card-wrapper {
      margin-bottom: 25px;
    }
  }

  [class*="-section"] {
    padding-left: 1px;
    padding-right: 1px;
  }

  .container {
    width: 100%;
  }

  #dashboard-wrapper {
    .container {
      width: 100%;

      .table {
        .row {
          p {
            padding: 5px;
          }
        }
      }

      &#collection-table {
        .checkbox-container {
          padding-right: 0;
          text-align: center;

          .checkbox {
            width: 100%;
          }

          input {
            display: none;
          }
        }
      }
    }
  }
}