//TODO: Break up Style Sheets
//Color Library
@Rose-Gold: #bd8c7d;
@Soft-Gold: #d1bfa7;
@Silver: #8e8e90;
@Onyx: #49494b;
@Light-Grey: #8d8d8d;
@Turquoise: #26a69a;
@Soft-Orange: #efab45;
@Crimson: #DC143C;

//Semantic Colors Names
@color-light: white;
@color-dark: @Onyx;
@color-highlight-mid-import: @Soft-Gold;
@color-highlight-import: @Turquoise;
@color-highlight-urgent: @Crimson;
@background-color: lighten(@Light-Grey, 44%);
@ranking-border-color: @color-light;

//Static Reused Numbers
@nav-height: 64px;
@footer-height: 32px;
@section-padding: 25px;
@animation-delay: 2s;

//General Site Structure Re-writes
//Top Nav
body,
html {
  height: 100%;

}

body {
  overflow-x: hidden;
  background: @background-color;
}

nav {
  position: relative;
  background: @color-light;
  height: @nav-height;
  box-sizing: border-box;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  z-index: 2;

  .nav-wrapper {
    width: 80%;

    #logo-container {
      height: 100%;
      width: auto;
      position: absolute;
      left: 0;

      img {
        width: auto;
        height: 100%;
        padding: 5px 0;
      }
    }

    a {
      text-transform: capitalize;
    }

    .menu,
    .mobile-menu {
      li {
        min-height: 0;
        position: relative;

        a {
          color: @color-highlight-import;
          font-size: 13px;
          padding: 0 10px;

          &:hover {
            background-color: fade(@color-highlight-mid-import, 25%);
            transition: .5s;

          }

        }

        .btn {
          margin-left: 5px;
          color: @color-light;

          padding: 0 5px;
          font-size: 12px;
          background: @color-highlight-import;
          color: @color-light;
          text-transform: uppercase;

          &a {
            color: @color-light;
          }

          &:hover {
            background: lighten(@color-highlight-import, 10%);
          }

        }
      }

      .dropdown-content {
        a {
          text-align: center;
          padding: 15px 10px;
        }
        display: none;
        position: absolute;
        top: 64px;
        transition: .25s;
        opacity: 1;
        background-color: #f9f9f9;
        right: 0;
        width: 125px;
        z-index: 99;
        -moz-box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

        &.active {
          display: block;
          height: initial;
        }

      }
    }

    .menu {
      text-align: center;
      float: right;

    }

    .mobile-menu {
      display: none;

      li {
        float: right;

        .btn {
          margin-left: 5px;
          margin-right: 0;

          &.drop-down-toggle {
            background-color: fade(@color-highlight-mid-import, 50%);
            font-size: 14px;
            color: @color-light;
            padding: 0 10px;

            &:hover {
              background: lighten(@color-highlight-mid-import, 5%);
            }
          }
        }

        .dropdown-content {
          top: 59px;
        }
      }
    }
  }

}

footer {
  box-sizing: border-box;
  box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

  &.page-footer {
    padding: 0;

    width: 100%;
    background: darken(@background-color, 10%);

    .container {
      height: @footer-height;
      width: 80%;
      margin: 0 auto;
      text-align: center;
      display: table;

      .copyright,
      p {
        display: table-cell;
        vertical-align: middle;
        font-size: 10px;
      }

      p {
        text-align: left;
      }

      .copyright {
        text-align: right;

        p {
          display: inline;
          text-align: right;
        }
      }
    }
  }
}

.section {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  background: @background-color;
  padding: @section-padding;
  min-height: 600px;
  color: @color-dark;

  a {
    color: darken(@color-highlight-import, 5%);

    &:hover {
      color: darken(@color-highlight-import, 10%);
    }
  }

  .btn {
    a {
      color: @color-light;
    }

    &.highlight-mid {
      background: lighten(@color-highlight-mid-import, 5%);

      &:hover {
        background: lighten(@color-highlight-mid-import, 10%);
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    &.color-blocked {

      padding: 10px;
      margin: 10px 0 0;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

      &.highlight-main {
        color: @color-light;
        background: @color-highlight-import;
        border-bottom: 4px solid lighten(@color-highlight-import, 10%);

      }

      &.highlight-mid {
        background: @color-highlight-mid-import;
        border-bottom: 4px solid lighten(@color-highlight-mid-import, 10%);

      }

      &.dark {
        color: @color-light;
        background: @color-dark;
        border-bottom: 4px solid lighten(@color-dark, 10%);

      }

      &.light {
        background: @color-light;
        border-bottom: 4px solid darken(@color-light, 10%);

      }

      & ~ .content {
        margin-bottom: 25px;
        box-sizing: border-box;
        padding: 15px;
        background: @color-light;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

        p {
          &:first-of-type {
            margin-top: 0;
          }
        }
      }
    }
  }

  .container {
    width: 70%;
    margin: 0 auto;

    ul {
      &.indented {
        padding-left: initial;
        margin-left: 16px;
      }

      &.bulleted {
        list-style-type: disc;

        li {
          list-style-type: disc;
        }

        ul {
          padding-left: 15px;
        }
      }
    }

    .table {
      display: table;
      table-layout: fixed;
      width: 100%;
      box-sizing: border-box;
      border: 2px solid @color-dark;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
      background: @color-light;

      .row {
        display: table-row;
        height: 46px;

        a,
        button,
        div,
        input,
        p {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin: 5px;
          display: table-cell;
          vertical-align: middle;
          padding: 5px 15px;

          &.btn {
            width: 100px;

          }

        }

        button {
          line-height: 26px;
        }

        &.headings {
          text-transform: uppercase;
          color: @color-light;
          background: @color-dark;
          border-bottom: 2px solid @color-highlight-import;

          p {
            padding-bottom: 2px;

          }
        }

        &:after {
          content: none;
        }
      }

      &.alternating {
        .row {
          &:nth-child(even) {
            background: fade(@color-dark, 15%);
          }
        }
      }

      &.three-col {
        .row {
          a,
          p {
            width: 33%;
          }

          &:first-child {
            width: 34%;
          }
        }
      }

      &.two-col {
        .row {
          a,
          p {
            width: 50%;
          }
        }

      }
    }

    .content {
      width: 100%;
    }

    .table {
      display: table;

      .flex-col {
        display: table-cell;
        vertical-align: middle;

        p {
          font-size: 8px;
        }

      }
    }

    .centered {
      text-align: center;

    }
  }
  //Section Types 
  &.full-page {
    background: transparent;

    min-height: ~"calc(100vh - @{nav-height} - @{footer-height})";

  }
}
//Repetitious Non Page Specific Elements 
#match-logger-container {
  position: fixed;

  height: 100vh;
  min-height: 662px;
  padding-bottom: 2 rem;
  width: 0;
  background-color: transparent;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 99;
  display: block;
  transition-duration: .51s;
  color: @color-dark;
  text-align: center;

  .background-click-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

  }

  .section {
    position: relative;
    z-index: 2;
    height: 100%;
    max-width: 300px;
    min-height: 662px;
    width: 75%;

    h3 {
      margin-top: 0;
    }

    p {
      margin: 25px 0;
      line-height: 1.25;
    }

    input {
      &[type="submit"] {
        margin-top: 25px;
        background: @color-highlight-import;
        border: none;
        outline: none;
        box-shadow: none;
        padding: 10px;
        color: @color-light;
        cursor: pointer;
        font-size: 25px;
        border-radius: 5px;
      }
    }

  }

  &.active {
    width: 100%;
    background-color: fade(@color-dark, 50%);

  }

}

#alert-container {
  width: 120%;
  left: -10%;
  top: @nav-height;
  position: absolute;
  color: @color-light;
  background-color: lighten(@Soft-Orange, 5%);
  text-align: center;
  display: none;
  padding: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

  .close-button {
    position: relative;
    color: @color-light;
    margin-left: 10px;
    top: initial;
    right: initial;
    float: none;
  }

  &.active {
    display: block;


  }

  &.logged-out {
    top: 0;
  }
  &.urgent{
    background-color: @color-highlight-urgent;
  
  }
}

#cycling-background-container {
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  min-height: 500px;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background: url("./images/bg-Unbridled-Growth.jpg");
  position: fixed;
  z-index: -1;
  -webkit-filter: saturate(2);
  filter: saturate(2);
  animation: fadeInBGFilter;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;

}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  color: @color-highlight-import;
  float: right;
  margin: 0;
  background: transparent;
  border: none;

  .material-icons {
    font-size: 30px;
  }
}

.card-grid {
  display: inline-grid;
  grid-template-columns: repeat(4, 25%);
  width: 100%;

  #legend {
    position: fixed;
    z-index: 99;
    bottom: @footer-height;
    right: -15px;
    padding: 5px;

    ul {
      margin: 0;
      padding: 0;
      background: transparent;

      li {
        border: 1px solid @color-light;
        color: @color-light;
        padding: 5px;
        width: 100px;
        margin: 2px auto;
        border-radius: 2px;
        font-size: 8px;

        &.mid-highlight {
          background: @color-highlight-mid-import;
        }

        &.highlight {
          background: @color-highlight-import;
        }

        &.dark {
          background: @color-dark;
        }
      }
    }
  }

  .card-wrapper {
    width: 100%;
    margin: 30px auto;
    position: relative;

    .wishlist-checkbox {
      width: 36px;
      height: 36px;
      top: -25px;
      right: -10px;
      opacity: 1;
      position: absolute;
      z-index: 2;

      label {
        position: relative;

        &:before {
          cursor: pointer;
          opacity: .4;
          content: "\2665";
          position: absolute;
          color: white;
          font-size: 35px;
          background-color: @color-highlight-mid-import;
          padding: 6px;
          border-radius: 25px;
          line-height: 24px;
          -webkit-tap-highlight-color: transparent;
          transition: .25s;
        }

      }

      input[type="checkbox"]:checked + label::before {
        opacity: 1;
      }

    }

    .card-grid-item {
      width: 100%;
      text-align: center;
      display: block;

      img {
        width: 90%;
        margin: 0;
      }
    }

    .card-count-component {

      margin: 0 auto;
      text-align: center;
      width: 90%;

      span {
        display: table;
        background: #26a69a;
        height: 35px;
        border-radius: 2px;

        .btn,
        input {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
        }

        .btn {
          font-weight: bolder;
          width: 36px;
          border-left: 2px solid @color-light;
          padding: 0;
          float: right;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;

          &:first-of-type {
            float: left;
            border-left: none;
            border-right: 2px solid @color-light;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
          }

        }

        input {
          border-radius: 2px;
          width: 30%;
          color: white;
          background-color: transparent;
          border: none;
          outline: none;
          font-size: 26px;
          line-height: 26px;
          font-weight: bold;
          text-overflow: ellipsis;
          vertical-align: bottom;
          overflow: hidden;

          &[type=number]::-webkit-inner-spin-button,
          &[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

        }

      }

    }

    .trade-proposal-request {
      width: 90%;
      margin: 0 auto;
      text-align: center;

      .btn {
        width: 100%;

        span {
          display: none;
        }
      }
    }

    &.not-in-collection {
      .card-count-component {
        span {
          display: block;
          background: transparent;

          .remove-card.btn,
          input {
            display: none;
          }

          .add-card.btn {
            width: 100%;
            border-left: none;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
            background: @color-highlight-mid-import;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;

            &:hover {
              background: lighten(@color-highlight-mid-import, 5%);
            }
          }

        }
      }
    }

    &.for-trade {
      .trade-proposal-request {
        .btn {
          background: @color-highlight-import;

          &:hover {
            background: lighten(@color-highlight-import, 5%);
          }

          &:after {
            content: "Propose Trade";
          }

        }
      }
    }

    &.not-for-trade {
      .trade-proposal-request {
        .btn {
          background: @color-highlight-mid-import;

          &:hover {
            background: lighten(@color-highlight-mid-import, 5%);
          }

          &:after {
            content: "Propose Trade";
            // content: "Make an Offer";
          }
        }
      }
    }

    &.not-in-league {
      .card-grid-item {
        opacity: .5;
      }

      .trade-proposal-request {
        .btn {
          background: @color-dark;
          cursor: auto;

          &:after {
            content: "Not in League";
          }

        }
      }
    }

  }
}

.card-view-nav {
  margin: 0 auto;
  text-align: center;



  a.btn {
    color: @color-light;
  }

}

.modal-wrapper {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: fade(@color-dark, 50%);
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 99;
  padding-bottom: 2 rem;
  transition-duration: .51s;
  color: @color-dark;
  text-align: center;

  .background-click-container {
    width: 100%;
    height: 100vh;
    top: 0;
    position: absolute;
    z-index: -1;
  }

  .modal {
    position: relative;
    height: 50vh;
    width: 75%;
    margin: 25vh auto;
    background: @color-light;
    vertical-align: middle;
    overflow: auto;
    padding: 25px;
    border-radius: 2px;
    display: table;

    .content {
      display: table-cell;
      vertical-align: middle;

      h1,
      h2,
      h3,
      h4,
      p {
        margin-top: 0;
      }

    }
  }

  &.active {
    display: block;
  }

  &.narrow {
    .modal {
      width: 40%;
      min-width: 250px;
    }
  }
}

//TO DO: BREAK INTO OWN FILES 

//Specific Pages
//Ranking Page

#ranking-wrapper {
  text-align: center;

  h1 {
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 10px;
    line-height: 1;
    font-variant: small-caps;
    font-weight: 700;
    color: @color-light;

  }

  #ranking-board {
    @ranking-board-heading: 60px;
    box-sizing: border-box;
    width: 35%;
    padding: 5px;
    margin: 0 auto;
    height: ~"calc(100vh - @{nav-height} - @{footer-height} - @{ranking-board-heading} - (4*@{section-padding}))";
    position: relative;
    min-width: 300px;

    .scroll-catcher {
      height: 100%;
      width: 100%;
      overflow-x: hidden;
      overflow-y: auto;

      &::-webkit-scrollbar-track {
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: transparent;
      }

      &::-webkit-scrollbar {
        width: 12px;
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: @color-light;
      }

      .vert-centerer {
        display: table;
        height: 100%;
        width: 100%;

      }
    }

    #rankings {
      display: table-cell;
      vertical-align: middle;
      margin: 0 auto;
      min-width: 275px;
      text-align: center;

      a {
        color: @color-light;
        width: 275px;
        margin: 5px auto;
        padding: 5px;
        height: auto;
        display: inline-block;
        font-size: 12px;
        background: #26a69a;
        animation-name: bigEntrance;
        -webkit-animation-name: bigEntrance;
        animation-duration: 1.6s;
        -webkit-animation-duration: 1.6s;
        animation-timing-function: ease-out;
        -webkit-animation-timing-function: ease-out;
        visibility: visible !important;
        position: relative;

        &:first-of-type {
          ::before {
            content: "\2726";
            position: absolute;
            left: 5px;
          }

          ::after {
            content: "\2726";
            position: absolute;
            right: 5px;
          }
        }

        &:hover {
          background: lighten(@color-highlight-import, 5%);
        }

      }
    }

    #ranking-border {
      width: 100%;
      height: ~"calc(100vh - @{nav-height} - @{footer-height} - @{ranking-board-heading} - (4*@{section-padding}))";
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      div {
        height: 2px;
        width: 2px;
        background: @ranking-border-color;
        position: absolute;
        animation-duration: 1s;

        &.vert {
          animation-name: growVert;
          height: 100%;
          left: 0;
          transform-origin: top;

          &.right {
            left: auto;
            left: initial;
            right: 0;
            transform-origin: bottom;

          }
        }

        &.horz {
          animation-name: growHorz;
          width: 100%;
          top: 0;
          transform-origin: right;

          &.bottom {
            top: auto;
            top: initial;
            bottom: 0;
            transform-origin: left;
          }
        }
      }

    }

    h2 {
      margin-top: 0;

    }

    .row {
      margin-bottom: 0;
    }

  }

}
//Dashboard Page 
#dashboard-wrapper {
  .container {
    margin: 50px auto;
  }

  #collection-table,
  #deck-table,
  #wishlist-table {
    .main-toggle {
      float: right;
      margin-top: 6px;

    }

    .btn {
      color: @color-light;
    }

    .row {
      p {
        &:nth-of-type(2) {
          text-align: center;
        }

        &:last-child {

          text-align: right;
          text-align: -webkit-right;

        }
      }

      .button-wrapper {
        &:last-of-type {
          text-align: right;

          .btn {
            margin-right: 0;
          }
        }
      }

    }

  }

  #user-and-trades {
    display: table;

    #trades-table,
    #user {
      display: table-cell;
      box-sizing: border-box;
      vertical-align: middle;
      position: relative;
    }

    #user {
      h3 {
        margin: 0;
      }

    }

    #user {
      text-align: center;
      padding-right: 10px;

      img {
        width: 100%;
        background: @color-dark;
        height: 207px;
        width: auto;

      }

      a.btn {
        width: 100%;
        margin: 0 auto;
        color: @color-light;
        display: block;
      }

      a.btn,
      img {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
      }
    }

    #trades-table {
      .table {
        input,
        p:last-child {
          text-align: center;
        }

        input {
          width: 90%;
          padding: 5px 0;

        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
          -webkit-appearance: auto;
          margin: 0;
        }
      }
    }
  }

  #collection-table,
  #deck-table,
  #wishlist-table {
    .main-toggle {
      float: right;
      margin-top: 6px;

    }

    .btn {
      color: @color-light;
    }

    .row {
      p {
        &:nth-of-type(2) {
          text-align: center;
        }

        &:last-child {

          text-align: right;
          text-align: -webkit-right;

        }
      }
    }

  }

  #deck-table {
    .row {
      p {
        &:last-of-type {
          a {
            width: 100px;
          }
        }
      }
    }
  }

  #collection-table {
    .row {
      .checkbox-container {
        @coll-table-check-width: 36px;
        display: table-cell;
        vertical-align: middle;
        text-align: right;
        padding-right: 29px;

        .checkbox {
          width: @coll-table-check-width;
          height: 36px;
          display: inline-block;
          position: relative;
          vertical-align: top;

          label {
            position: relative;
            color: @color-light;

            &:before {
              width: @coll-table-check-width;
              position: absolute;
              left: 0;
              content: "No";
              display: inline-block;
              text-decoration: none;
              color: @color-light;
              text-align: center;
              -webkit-transition: background-color .2s ease-out;
              transition: background-color .2s ease-out;
              cursor: pointer;
              background: lighten(@color-highlight-mid-import, 4%);
              padding: 5px;
              border-radius: 2px;
              display: inline-block;
              height: 36px;
              line-height: 36px;
              padding: 0 5px;
              text-transform: uppercase;
              vertical-align: middle;
              -webkit-tap-highlight-color: transparent;
              transition: .25s;

            }

            &:hover {
              &:before {
                background: lighten(@color-highlight-mid-import, 8%);
              }
            }
          }

          input[type="checkbox"]:checked + label::before {
            background-color: @color-highlight-import;
            content: "Yes";

          }

        }
      }
    }
  }

}
//Log in

#log-in-wrapper {
  display: table;
  width: 40%;
  margin: 0 auto;

  .container {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    background: @color-light;
    height: ~"calc(100vh - (2*@{section-padding}))";
    padding: @section-padding;
    text-align: center;

    .field {
      margin: 5px 0;
    }

    input[type="checkbox"] {
      position: relative;
      opacity: 1;
      pointer-events: fill;
      margin: 5px 0;
      vertical-align: middle;
    }

    .btn {
      margin: 5px 0;
      min-width: 250px;

      input {

        text-transform: uppercase;
        vertical-align: middle;
        border: none;
        padding: 0;

        &:active {
          outline: none;
        }
      }
    }
    // TO DO strip this out and just add the .btn class to Dustins Oauth buttons
    a,
    input[type="submit"] {
      outline: none;
      border: none;
      width: 250px;
      margin: 10px 0;
      text-decoration: none;
      color: @color-light;
      text-align: center;
      -webkit-transition: background-color .2s ease-out;
      transition: background-color .2s ease-out;
      cursor: pointer;
      background: fade(@color-dark, 50%);
      padding: 5px;
      border-radius: 2px;
      display: inline-block;
      height: 36px;
      line-height: 36px;
      padding: 0 16px;
      text-transform: uppercase;
      vertical-align: middle;
      -webkit-tap-highlight-color: transparent;
      transition: .25s;

      .google-icon {
        position: relative;
        top: 4px;
      }

      &:hover {
        background: fade(@color-dark, 60%);
      }
    }

    input[type="submit"] {
      background: @color-highlight-import;
      color: @color-light;

      &:active {
        outline: none;
      }

      &:hover {
        background-color: lighten(@color-highlight-import, 10%);

      }
    }
  }
}
//Card Search
#card-search-wrapper {
  #search.container {
    white-space: nowrap;

    input {
      @fullWidthForCalcs: "100%";

      &[type=text] {
        width: ~"calc(@{fullWidthForCalcs} - 110px)";
      }

      &[type=submit] {
        width: 100px;
        margin-left: 10px;
        border: none;
        color: @color-light;
        background-color: @color-highlight-import;
        box-sizing: border-box;

      }

    }
  }

  #easy-filter-tabs.container {

    position: relative;

    .checkbox {
      width: 100px;
      height: 36px;
      margin: 0 5px 5px;
      display: inline-block;
      position: relative;
      vertical-align: top;

      label {
        position: relative;
        color: @color-light;

        &:before {
          width: 100px;
          position: absolute;
          left: 0;
          content: "OWNED";
          display: inline-block;
          text-decoration: none;
          color: @color-light;
          text-align: center;
          letter-spacing: .5px;
          -webkit-transition: background-color .2s ease-out;
          transition: background-color .2s ease-out;
          cursor: pointer;
          background: fade(@color-highlight-mid-import, 50%);
          padding: 5px;
          border-radius: 2px;
          display: inline-block;
          height: 36px;
          line-height: 36px;
          padding: 0 16px;
          text-transform: uppercase;
          vertical-align: middle;
          -webkit-tap-highlight-color: transparent;
          transition: .25s;
        }

      }

      &:first-of-type {
        margin-left: 0;
      }

      &#CB-trade {
        label {
          &:before {
            content: "For trade";
          }
        }

      }

      &#CB-league {
        label {
          &:before {
            content: "In League";
          }
        }

      }

      input[type="checkbox"]:checked + label::before {
        background-color: @color-highlight-import;
      }

      &.icon {
        width: 36px;

        label {
          &:before {
            content: "";
            width: 36px;
            background-color: transparent;
            background-image: url("../images/red.svg");
            padding: 0;
            border-radius: none;
            -webkit-filter: saturate(.0);
            opacity: .5;
            filter: saturate(.0);
            vertical-align: middle;
            -webkit-tap-highlight-color: transparent;
            transition: .25s;
          }
        }

        &#black {
          label {
            &:before {
              background-image: url("../images/black.svg");

            }
          }

        }

        &#black {
          label {
            &:before {
              background-image: url("../images/black.svg");

            }
          }

        }

        &#white {
          label {
            &:before {
              background-image: url("../images/white.svg");

            }
          }

        }

        &#green {
          label {
            &:before {
              background-image: url("../images/green.svg");

            }
          }

        }

        &#blue {
          label {
            &:before {
              background-image: url("../images/blue.svg");

            }
          }

        }

        &#colorless {
          label {
            &:before {
              background-image: url("../images/colorless.svg");

            }
          }

        }

        &#common {
          label {
            &:before {
              background-image: url("../images/common.svg");

            }
          }

        }

        &#uncommon {
          label {
            &:before {
              background-image: url("../images/uncommon.svg");

            }
          }

        }

        &#rare {
          label {
            &:before {
              background-image: url("../images/rare.svg");

            }
          }

        }

        input[type="checkbox"]:checked + label::before {
          background-color: transparent;
          -webkit-filter: saturate(1);
          filter: saturate(1);
          opacity: 1;

        }
      }

    }

  }
}
//Card Profile
#card-profile-wrapper {
  .container {
    white-space: nowrap;
    @card-width-and-margin-for-calc: 233px;

    h4 {
      margin-bottom: 10px;
    }

    #league-details,
    .card-wrapper {
      white-space: normal;
      display: inline-block;
      box-sizing: border-box;
      vertical-align: top;

    }

    .card-wrapper {
      img {
        width: 223px;
        //Card size from mtg api
        margin-right: 10px;
      }

      .btn {
        display: block;
        width: 200px;
        margin: 10px auto 0;
      }
    }

    #league-details {
      width: ~"calc(100% - @{card-width-and-margin-for-calc})";

      .table {
        .row {
          p {
            &:last-of-type {
              text-align: center;
            }
          }
        }
      }

    }

  }
}
//Edit Account 
#edit-details-wrapper {
  .table {
    border: none;
    box-shadow: none;

    .flex-col {
      &#user {
        //gravatar width
        width: 170px;
        text-align: center;

        a,
        img,
        label {
          display: block;
          margin: 5px auto;
        }

        img {
          border: 2px solid @color-dark;
        }

        a {
          color: @color-light;
        }

      }

      &#detail-inputs {
        padding-left: 25px;

      }
    }
  }

  input[type="submit"],
  input[type="switch"] {
    margin: 25px auto 0;
    display: block;
  }
}
//View Individ. Collection{
#edit-collections-wrapper {
  #collections {
    text-align: center;

    a {
      &.btn {
        color: @color-light;
      }
    }
  }
}

//Match History 
#match-history-wrapper{
  .container{
    #match-history.table{
      .row{
        p{
          &:first-child{
            width:100px;
            text-align:center;
          }
        }
        .on-mobile{
          display:none;
        }
      }
    }
  }
}
//Page Templates
//User list pages (users, collections etc...)  
#collection-wrapper,
#user-wrapper {
  .btn {
    color: @color-light;

    &.user {
      margin: 5px 0;
      width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  img.user-image {
    background-color: @color-dark;
  }

}

//Responsive Adjustments for whole site

//Cross browser fixes 
//FireFox
@-moz-document url-prefix() {
  .card-grid {
    .card-wrapper {
      .card-count-component {
        span {
          input {
            line-height: 34px;
            -moz-appearance: textfield;
          }
        }
      }

    }
  }

}

//Responsive Adjustments
@media only screen and (orientation : portrait) {
  #cycling-background-container {
    background-size: contain;
  }

}
@media only screen and (max-width: 993px) {
  nav {
    .nav-wrapper {
      ul {
        &.menu {
          margin-right: -10%;
        }
      }
    }
  }
}
@media only screen and (max-width: 800px) {
  .card-grid {
    grid-template-columns: repeat(3, 33.3%);
  }

}
@media only screen and (max-width: 720px) {
  #dashboard-wrapper {
    h2 {
      text-align: center;
      margin: 0;
      font-size: 2.1rem;
    }

    .container {
      margin: 10px auto;

      &:first-of-type {
        margin-top: 0;
      }

      &#user-and-trades {

        display: block;

        #trades-table,
        #user {
          display: block;

        }

        #user {
          margin-bottom: 20px;

          .btn {
            width: 207px;

          }
        }
      }

      &#collection-table,
      &#deck-table,
      &#wishlist-table {
        h3 {
          font-size: 2rem;

          .btn {
            &.main-toggle {
              width: 100px;
              margin-top: -1px;
              overflow: hidden;
            }
          }
        }
      }
    }
  }

}
@media only screen and (max-width: 650px) {
  nav {
    .nav-wrapper {
      .menu {
        display: none;
      }

      .mobile-menu {
        display: block;
        float: right;
        margin-top: 5px;

        li {
          button.btn {
            &:last-child {
              margin-right: 0;
            }

          }
        }
      }

      #logo-container {
        display: block;
        left: 0;
        width: 30px;
        overflow: hidden;
        float: left;

      }
    }
  }

  .section {
    .container {
      width: 90%;
      position: relative;
    }
  }

  #log-in-wrapper {
    width: 95%;

  }

  #ranking-wrapper {
    width: 100%;
    min-width: 100px;

    #ranking-board {
      width: 100%;
      min-width: 100px;

      ul {
        width: 100%;
        text-align: center;
        min-width: 100px;

        li {
          width: 95%;
          padding: 5px 2px;
          margin: 2px auto;
        }
      }
    }
  }

  #edit-details-wrapper {
    .table {
      display: block;

      .flex-col {
        display: block;
        margin: 25px auto;

        &#detail-inputs {
          padding-left: 0;

        }
      }
    }

    input[type="submit"] {
      margin: 25px auto 0;
      display: block;
    }
  }
  #match-history-wrapper{
    .container{
      #match-history.table{
        display:block;
     
        height:auto;
        overflow:hidden;
        .row{
          text-align: center;
          display:block;
          height:auto;
          padding:0 0 20px 0;
          margin-bottom:0;
          &.headings{
            display:none;
          }
          p{
            
            display:inline-block;
            width:100%;
            white-space: normal;
           
            padding:0;
            .on-mobile{
              display:inline;
              font-weight:bold;
            }
            &:first-of-type{
              span{
                font-weight: normal;
               
              }
              margin-top:0;
              background:@color-dark;
              color:@color-light;
              text-transform: uppercase;
              display:block;
              text-align:center;
              width:101%;
              margin:0 0 10px 0
            }
            &:last-of-type{
              margin-bottom:0;
            }
         }
        }
      }
    }
  }

  .card-grid {
    grid-template-columns: repeat(2, 50%);

    #legend {
      right: -20px;
      padding: 2px;
      opacity: .8;

    }
  }

  .card-view-nav {
    h3 {
      font-size:1.92rem;
  
    }
    a.btn {
      padding: 0 5px;
      font-size: 10px;

    }
  }

}
@media only screen and (max-width: 400px) {
  .card-grid {
    display: block;

    .card-wrapper {
      margin-bottom: 25px;
    }
  }

  .container {
    width: 100%;
  }

}

//Animations
@keyframes slide-up-and-go {
  0%,
  99% {
    display: block;
  }

  90% {
    top: -100px;
  }
}
@keyframes growVert {
  0% {

    transform: scaleY(0);
  }

}
@keyframes growHorz {
  0% {

    transform: scaleX(0);
  }
}
@keyframes fadeInBGFilter {
  0% {
    -webkit-filter: saturate(.5);
    filter: saturate(.5);
  }

}
@keyframes bigEntrance {
  0% {
    transform: translateY(10px);
    opacity: .2;
  }

  30% {

    opacity: 1;
  }

  45% {

    opacity: 1;
  }

  60% {

    opacity: 1;
  }

  75% {

    opacity: 1;
  }

  90% {

    opacity: 1;
  }

  100% {

    opacity: 1;
  }
}
@-webkit-keyframes bigEntrance {
  0% {
    transform: translateY(10px);
    opacity: .2;
  }

  30% {

    opacity: 1;
  }

  45% {

    opacity: 1;
  }

  60% {

    opacity: 1;
  }

  75% {

    opacity: 1;
  }

  90% {

    opacity: 1;
  }

  100% {

    opacity: 1;
  }
}
