body,
html {
  height: 100%;
}
body {
  overflow-x: hidden;
  background: #fdfdfd;
}
nav {
  position: relative;
  background: white;
  height: 64px;
  box-sizing: border-box;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
nav .nav-wrapper {
  width: 80%;
}
nav .nav-wrapper #logo-container {
  height: 100%;
  width: auto;
  position: absolute;
  left: 0;
}
nav .nav-wrapper #logo-container img {
  width: auto;
  height: 100%;
  padding: 5px 0;
}
nav .nav-wrapper a {
  text-transform: capitalize;
}
nav .nav-wrapper .menu li,
nav .nav-wrapper .mobile-menu li {
  min-height: 0;
}
nav .nav-wrapper .menu li a,
nav .nav-wrapper .mobile-menu li a {
  color: #26a69a;
  font-size: 13px;
  padding: 0px 10px;
}
nav .nav-wrapper .menu li a:hover,
nav .nav-wrapper .mobile-menu li a:hover {
  background-color: rgba(209, 191, 167, 0.25);
  transition: .5s;
}
nav .nav-wrapper .menu li button.btn,
nav .nav-wrapper .mobile-menu li button.btn {
  color: white;
  height: 40px;
  margin-top: -5px;
  background: #26a69a;
  padding: 0 5px;
  font-size: 12px;
}
nav .nav-wrapper .menu li button.btn i,
nav .nav-wrapper .mobile-menu li button.btn i {
  margin-right: 3px;
  margin-bottom: 3px;
  vertical-align: middle;
}
nav .nav-wrapper .menu {
  float: right;
}
nav .nav-wrapper .mobile-menu {
  display: none;
}
nav .nav-wrapper .mobile-menu li {
  float: right;
}
nav .nav-wrapper .mobile-menu li button {
  margin-left: 5px;
  background: #26a69a;
}
nav .nav-wrapper .mobile-menu li button.drop-down-toggle {
  background-color: rgba(209, 191, 167, 0.5);
}
nav .nav-wrapper .mobile-menu li .dropdown-content {
  display: none;
  position: absolute;
  top: 64px;
  transition: .25s;
  opacity: 1;
  background-color: #f9f9f9;
  min-width: 160px;
  right: 0;
  width: 150px;
  left: 70%;
  z-index: 99;
  -moz-box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
nav .nav-wrapper .mobile-menu li .dropdown-content a {
  padding: 15px 10px;
}
nav .nav-wrapper .mobile-menu li .dropdown-content.active {
  display: block;
  height: initial;
}
footer {
  box-sizing: border-box;
  box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
footer.page-footer {
  padding: 0;
  height: 32px;
  width: 100%;
  background: #e4e4e4;
  display: table;
}
footer.page-footer .container {
  display: table-cell;
  vertical-align: middle;
  width: 95%;
}
footer.page-footer .container .footer-copyright {
  background: transparent;
  min-height: 25px;
  color: #49494b;
  float: right;
  text-align: right;
}
footer.page-footer .container .footer-copyright p {
  margin: 0;
}
.section {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  background: #fdfdfd;
  padding: 25px;
  min-height: 600px;
  color: #49494b;
}
.section a {
  color: #219187;
}
.section a:hover {
  color: #1c7d74;
}
.section h1.color-blocked,
.section h2.color-blocked,
.section h3.color-blocked,
.section h4.color-blocked,
.section h5.color-blocked {
  padding: 10px;
  margin: 10px 0 0 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.section h1.color-blocked.highlight-main,
.section h2.color-blocked.highlight-main,
.section h3.color-blocked.highlight-main,
.section h4.color-blocked.highlight-main,
.section h5.color-blocked.highlight-main {
  color: white;
  background: #26a69a;
  border: 2px solid #26a69a;
  border-bottom: none;
}
.section h1.color-blocked.highlight-main ~ .copy,
.section h2.color-blocked.highlight-main ~ .copy,
.section h3.color-blocked.highlight-main ~ .copy,
.section h4.color-blocked.highlight-main ~ .copy,
.section h5.color-blocked.highlight-main ~ .copy {
  border: 2px solid #26a69a;
}
.section h1.color-blocked.highlight-mid,
.section h2.color-blocked.highlight-mid,
.section h3.color-blocked.highlight-mid,
.section h4.color-blocked.highlight-mid,
.section h5.color-blocked.highlight-mid {
  background: #d1bfa7;
  border: 2px solid #d1bfa7;
  border-bottom: none;
}
.section h1.color-blocked.highlight-mid ~ .copy,
.section h2.color-blocked.highlight-mid ~ .copy,
.section h3.color-blocked.highlight-mid ~ .copy,
.section h4.color-blocked.highlight-mid ~ .copy,
.section h5.color-blocked.highlight-mid ~ .copy {
  border: 2px solid #d1bfa7;
}
.section h1.color-blocked.dark,
.section h2.color-blocked.dark,
.section h3.color-blocked.dark,
.section h4.color-blocked.dark,
.section h5.color-blocked.dark {
  color: white;
  background: #49494b;
  border: 2px solid #49494b;
  border-bottom: none;
}
.section h1.color-blocked.dark ~ .copy,
.section h2.color-blocked.dark ~ .copy,
.section h3.color-blocked.dark ~ .copy,
.section h4.color-blocked.dark ~ .copy,
.section h5.color-blocked.dark ~ .copy {
  border: 2px solid #49494b;
}
.section h1.color-blocked.light,
.section h2.color-blocked.light,
.section h3.color-blocked.light,
.section h4.color-blocked.light,
.section h5.color-blocked.light {
  background: white;
  border: 2px solid white;
  border-bottom: none;
}
.section h1.color-blocked.light ~ .copy,
.section h2.color-blocked.light ~ .copy,
.section h3.color-blocked.light ~ .copy,
.section h4.color-blocked.light ~ .copy,
.section h5.color-blocked.light ~ .copy {
  border: 2px solid white;
}
.section h1.color-blocked ~ .copy,
.section h2.color-blocked ~ .copy,
.section h3.color-blocked ~ .copy,
.section h4.color-blocked ~ .copy,
.section h5.color-blocked ~ .copy {
  box-sizing: border-box;
  padding: 15px;
  background: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.section h1.color-blocked ~ .copy p:first-of-type,
.section h2.color-blocked ~ .copy p:first-of-type,
.section h3.color-blocked ~ .copy p:first-of-type,
.section h4.color-blocked ~ .copy p:first-of-type,
.section h5.color-blocked ~ .copy p:first-of-type {
  margin-top: 0;
}
.section .container {
  width: 70%;
  margin: 0 auto;
}
.section .container .table {
  display: table;
  table-layout: fixed;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #49494b;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  background: white;
}
.section .container .table .row {
  display: table-row;
  height: 46px;
}
.section .container .table .row a,
.section .container .table .row input,
.section .container .table .row p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 5px;
  display: table-cell;
  vertical-align: middle;
  padding: 5px 15px;
}
.section .container .table .row a.btn,
.section .container .table .row input.btn,
.section .container .table .row p.btn {
  width: 100px;
}
.section .container .table .row.headings {
  text-transform: uppercase;
  color: white;
  background: #49494b;
  border-bottom: 2px solid #26a69a;
}
.section .container .table .row.headings p {
  padding-bottom: 2px;
}
.section .container .table.alternating .row:nth-child(even) {
  background: rgba(73, 73, 75, 0.15);
}
.section .container .table.three-col .row a,
.section .container .table.three-col .row p {
  width: 33%;
}
.section .container .table.three-col .row:first-child {
  width: 34%;
}
.section .container .table.two-col .row a,
.section .container .table.two-col .row p {
  width: 50%;
}
.section .container ul.indented {
  padding-left: initial;
  margin-left: 16px;
}
.section .container ul.bulleted {
  list-style-type: disc;
}
.section .container ul.bulleted li {
  list-style-type: disc;
}
.section .container ul.bulleted ul {
  padding-left: 15px;
}
.section.full-page {
  background: transparent;
  min-height: calc(100vh - 64px - 32px);
}
#match-logger-container {
  position: absolute;
  height: 100vh;
  min-height: 662px;
  padding-bottom: 2 rem;
  width: 0;
  background-color: transparent;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 99;
  display: block;
  transition-duration: .51s;
  color: #49494b;
  text-align: center;
}
#match-logger-container .close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #26a69a;
  float: right;
  margin: 0;
  background: transparent;
  border: none;
}
#match-logger-container .close-button .material-icons {
  font-size: 30px;
}
#match-logger-container .background-click-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#match-logger-container .section {
  position: relative;
  z-index: 2;
  height: 100%;
  max-width: 300px;
  min-height: 662px;
  width: 75%;
}
#match-logger-container .section h3 {
  margin-top: 0;
}
#match-logger-container .section p {
  margin: 25px 0;
  line-height: 1.25;
}
#match-logger-container .section input[type="submit"] {
  margin-top: 25px;
  background: #26a69a;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 10px;
  color: white;
  cursor: pointer;
  font-size: 25px;
  border-radius: 5px;
}
#match-logger-container.active {
  width: 100%;
  background-color: rgba(73, 73, 75, 0.5);
}
#cycling-background-container {
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  min-height: 500px;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background: url("images/bg-Unbridled-Growth.jpg");
  position: fixed;
  z-index: -1;
  -webkit-filter: saturate(2);
  filter: saturate(2);
  animation: fadeInBGFilter;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
#ranking-wrapper {
  text-align: center;
}
#ranking-wrapper h1 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1;
  font-variant: small-caps;
  font-weight: 700;
  color: white;
}
#ranking-wrapper #ranking-board {
  box-sizing: border-box;
  width: 35%;
  padding: 5px;
  margin: 0 auto;
  height: calc(100vh - 64px - 32px - 60px - (2*25px));
  position: relative;
  min-width: 300px;
}
#ranking-wrapper #ranking-board .scroll-catcher {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
#ranking-wrapper #ranking-board .scroll-catcher::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}
#ranking-wrapper #ranking-board .scroll-catcher::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}
#ranking-wrapper #ranking-board .scroll-catcher::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: white;
}
#ranking-wrapper #ranking-board .scroll-catcher .vert-centerer {
  display: table;
  height: 100%;
  width: 100%;
}
#ranking-wrapper #ranking-board ul {
  color: white;
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
  list-style: inside;
  min-width: 275px;
  padding-right: 5px;
  text-align: center;
}
#ranking-wrapper #ranking-board ul li {
  width: 275px;
  margin: 5px auto;
  padding: 5px;
  background: #26a69a;
  animation-name: bigEntrance;
  -webkit-animation-name: bigEntrance;
  animation-duration: 1.6s;
  -webkit-animation-duration: 1.6s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  visibility: visible !important;
  position: relative;
}
#ranking-wrapper #ranking-board ul li:first-of-type ::before {
  content: "\2726";
  position: absolute;
  left: 5px;
}
#ranking-wrapper #ranking-board ul li:first-of-type ::after {
  content: "\2726";
  position: absolute;
  right: 5px;
}
#ranking-wrapper #ranking-board #ranking-border {
  width: 100%;
  height: calc(100vh - 64px - 32px - 60px - (2*25px));
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#ranking-wrapper #ranking-board #ranking-border div {
  height: 2px;
  width: 2px;
  background: white;
  position: absolute;
  animation-duration: 1s;
}
#ranking-wrapper #ranking-board #ranking-border div.vert {
  animation-name: growVert;
  height: 100%;
  left: 0;
  transform-origin: top;
}
#ranking-wrapper #ranking-board #ranking-border div.vert.right {
  left: auto;
  left: initial;
  right: 0;
  transform-origin: bottom;
}
#ranking-wrapper #ranking-board #ranking-border div.horz {
  animation-name: growHorz;
  width: 100%;
  top: 0;
  transform-origin: right;
}
#ranking-wrapper #ranking-board #ranking-border div.horz.bottom {
  top: auto;
  top: initial;
  bottom: 0;
  transform-origin: left;
}
#ranking-wrapper #ranking-board h2 {
  margin-top: 0;
}
#ranking-wrapper #ranking-board .row {
  margin-bottom: 0;
}
#dashboard-wrapper .container {
  margin: 50px auto;
}
#dashboard-wrapper #user-and-trades {
  display: table;
}
#dashboard-wrapper #user-and-trades #trades-table,
#dashboard-wrapper #user-and-trades #user {
  display: table-cell;
  box-sizing: border-box;
  vertical-align: middle;
  position: relative;
}
#dashboard-wrapper #user-and-trades #user h3 {
  margin: 0;
}
#dashboard-wrapper #user-and-trades #user {
  text-align: center;
  padding-right: 10px;
}
#dashboard-wrapper #user-and-trades #user img {
  width: 100%;
  background: #49494b;
  height: 207px;
  width: auto;
}
#dashboard-wrapper #user-and-trades #user a.btn {
  width: 100%;
  margin: 0 auto;
  color: white;
  display: block;
}
#dashboard-wrapper #user-and-trades #user img,
#dashboard-wrapper #user-and-trades #user a.btn {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
#dashboard-wrapper #user-and-trades #trades-table .table input,
#dashboard-wrapper #user-and-trades #trades-table .table p:last-child {
  text-align: center;
}
#dashboard-wrapper #user-and-trades #trades-table .table input {
  width: 90%;
  padding: 5px 0;
}
#dashboard-wrapper #user-and-trades #trades-table .table input[type=number]::-webkit-inner-spin-button,
#dashboard-wrapper #user-and-trades #trades-table .table input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: auto;
  margin: 0;
}
#dashboard-wrapper #collection-table .main-toggle,
#dashboard-wrapper #deck-table .main-toggle {
  float: right;
  margin-top: 6px;
}
#dashboard-wrapper #collection-table .btn,
#dashboard-wrapper #deck-table .btn {
  color: white;
}
#dashboard-wrapper #collection-table .row p:nth-of-type(2),
#dashboard-wrapper #deck-table .row p:nth-of-type(2) {
  text-align: center;
}
#dashboard-wrapper #collection-table .row p:last-child,
#dashboard-wrapper #deck-table .row p:last-child {
  text-align: right;
  text-align: -webkit-right;
}
#dashboard-wrapper #deck-table .row p:last-of-type a {
  width: 100px;
}
#dashboard-wrapper #collection-table .row .checkbox-container {
  display: table-cell;
  vertical-align: middle;
  width: 100px;
  text-align: right;
}
#dashboard-wrapper #collection-table .row .checkbox-container .checkbox {
  width: 100px;
  height: 36px;
  display: inline-block;
  position: relative;
  vertical-align: top;
}
#dashboard-wrapper #collection-table .row .checkbox-container .checkbox label {
  position: relative;
  color: white;
}
#dashboard-wrapper #collection-table .row .checkbox-container .checkbox label:before {
  width: 100px;
  position: absolute;
  left: 0;
  content: "Not For Trade";
  text-decoration: none;
  color: white;
  text-align: center;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
  background: #d8c9b4;
  padding: 5px;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 5px;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  transition: .25s;
}
#dashboard-wrapper #collection-table .row .checkbox-container .checkbox label:hover:before {
  background: #dfd2c2;
}
#dashboard-wrapper #collection-table .row .checkbox-container .checkbox input[type="checkbox"]:checked + label::before {
  background-color: #26a69a;
  content: "For Trade";
}
#log-in-wrapper {
  display: table;
  width: 40%;
  margin: 0 auto;
}
#log-in-wrapper .container {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  background: white;
  height: calc(100vh - (2*25px));
  padding: 25px;
  text-align: center;
}
#log-in-wrapper .container .field {
  margin: 5px 0;
}
#log-in-wrapper .container input[type="checkbox"] {
  position: relative;
  opacity: 1;
  pointer-events: fill;
  margin: 5px 0;
  vertical-align: middle;
}
#log-in-wrapper .container .btn {
  margin: 5px 0;
  min-width: 250px;
}
#log-in-wrapper .container .btn input {
  background: transparent;
  color: white;
  text-transform: uppercase;
  vertical-align: middle;
  border: none;
  padding: 0;
}
#log-in-wrapper .container .btn input:active {
  outline: none;
}
#log-in-wrapper .container a {
  width: 250px;
  margin: 10px 0;
  text-decoration: none;
  color: white;
  text-align: center;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
  background: rgba(73, 73, 75, 0.5);
  padding: 5px;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  transition: .25s;
}
#log-in-wrapper .container a:hover {
  background: rgba(73, 73, 75, 0.6);
}
#card-search-wrapper #search.container {
  white-space: nowrap;
}
#card-search-wrapper #search.container input[type=text] {
  width: calc(100% - 110px);
}
#card-search-wrapper #search.container input[type=submit] {
  width: 100px;
  margin-left: 10px;
  border: none;
  color: white;
  background-color: #26a69a;
  box-sizing: border-box;
}
#card-search-wrapper #easy-filter-tabs.container {
  position: relative;
}
#card-search-wrapper #easy-filter-tabs.container .checkbox {
  width: 100px;
  height: 36px;
  margin: 0 5px 5px;
  display: inline-block;
  position: relative;
  vertical-align: top;
}
#card-search-wrapper #easy-filter-tabs.container .checkbox label {
  position: relative;
  color: white;
}
#card-search-wrapper #easy-filter-tabs.container .checkbox label:before {
  width: 100px;
  position: absolute;
  left: 0;
  content: "OWNED";
  text-decoration: none;
  color: white;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
  background: rgba(209, 191, 167, 0.5);
  padding: 5px;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  transition: .25s;
}
#card-search-wrapper #easy-filter-tabs.container .checkbox:first-of-type {
  margin-left: 0;
}
#card-search-wrapper #easy-filter-tabs.container .checkbox#CB-trade label:before {
  content: "For trade";
}
#card-search-wrapper #easy-filter-tabs.container .checkbox#CB-league label:before {
  content: "In League";
}
#card-search-wrapper #easy-filter-tabs.container .checkbox input[type="checkbox"]:checked + label::before {
  background-color: #26a69a;
}
#card-search-wrapper #easy-filter-tabs.container .checkbox.icon {
  width: 36px;
}
#card-search-wrapper #easy-filter-tabs.container .checkbox.icon label:before {
  content: "";
  width: 36px;
  background-color: transparent;
  background-image: url("../images/red.svg");
  padding: 0;
  border-radius: none;
  -webkit-filter: saturate(0);
  opacity: .5;
  filter: saturate(0);
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  transition: .25s;
}
#card-search-wrapper #easy-filter-tabs.container .checkbox.icon#black label:before {
  background-image: url("../images/black.svg");
}
#card-search-wrapper #easy-filter-tabs.container .checkbox.icon#black label:before {
  background-image: url("../images/black.svg");
}
#card-search-wrapper #easy-filter-tabs.container .checkbox.icon#white label:before {
  background-image: url("../images/white.svg");
}
#card-search-wrapper #easy-filter-tabs.container .checkbox.icon#green label:before {
  background-image: url("../images/green.svg");
}
#card-search-wrapper #easy-filter-tabs.container .checkbox.icon#blue label:before {
  background-image: url("../images/blue.svg");
}
#card-search-wrapper #easy-filter-tabs.container .checkbox.icon#colorless label:before {
  background-image: url("../images/colorless.svg");
}
#card-search-wrapper #easy-filter-tabs.container .checkbox.icon#common label:before {
  background-image: url("../images/common.svg");
}
#card-search-wrapper #easy-filter-tabs.container .checkbox.icon#uncommon label:before {
  background-image: url("../images/uncommon.svg");
}
#card-search-wrapper #easy-filter-tabs.container .checkbox.icon#rare label:before {
  background-image: url("../images/rare.svg");
}
#card-search-wrapper #easy-filter-tabs.container .checkbox.icon input[type="checkbox"]:checked + label::before {
  background-color: transparent;
  -webkit-filter: saturate(1);
  filter: saturate(1);
  opacity: 1;
}
@media only screen and (orientation: portrait) {
  #cycling-background-container {
    background-size: contain;
  }
}
@media only screen and (max-width: 993px) {
  nav .nav-wrapper ul.menu {
    margin-right: -10%;
  }
}
@media only screen and (max-width: 650px) {
  nav .nav-wrapper .menu {
    display: none;
  }
  nav .nav-wrapper .mobile-menu {
    display: block;
    float: right;
    margin-top: 5px;
  }
  nav .nav-wrapper .mobile-menu li button.btn:last-child {
    margin-right: 0;
  }
  nav .nav-wrapper #logo-container {
    display: block;
    left: 0;
    width: 30px;
    overflow: hidden;
    float: left;
  }
  .section .container {
    width: 90%;
  }
  #log-in-wrapper {
    width: 95%;
  }
  #ranking-wrapper {
    width: 100%;
    min-width: 100px;
  }
  #ranking-wrapper #ranking-board {
    width: 100%;
    min-width: 100px;
  }
  #ranking-wrapper #ranking-board ul {
    width: 100%;
    text-align: center;
    min-width: 100px;
  }
  #ranking-wrapper #ranking-board ul li {
    width: 95%;
    padding: 5px 2px;
    margin: 2px auto;
  }
}
@keyframes growVert {
  0% {
    transform: scaleY(0);
  }
}
@keyframes growHorz {
  0% {
    transform: scaleX(0);
  }
}
@keyframes fadeInBGFilter {
  0% {
    -webkit-filter: saturate(0.5);
    filter: saturate(0.5);
  }
}
@keyframes bigEntrance {
  0% {
    transform: translateY(10px);
    opacity: .2;
  }
  30% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes bigEntrance {
  0% {
    transform: translateY(10px);
    opacity: .2;
  }
  30% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
