body,
html {
  height: 100%;
}
body {
  overflow-x: hidden;
  background: white;
}
nav {
  position: relative;
  background: #0B0C10;
  height: 64px;
  box-sizing: border-box;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  z-index: 2;
}
nav .nav-wrapper {
  width: 80%;
}
nav .nav-wrapper #logo-container {
  height: 100%;
  width: auto;
  position: absolute;
  left: 0;
}
nav .nav-wrapper #logo-container svg {
  width: auto;
  height: 100%;
  padding: 5px 0 0 25px;
}
nav .nav-wrapper #logo-container svg .logo-fill {
  fill: #FF6F61;
}
nav .nav-wrapper #logo-container:hover svg .logo-fill {
  transition: 1s;
  animation: mtgColorCycle;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
nav .nav-wrapper a {
  text-transform: capitalize;
}
nav .nav-wrapper .menu li,
nav .nav-wrapper .mobile-menu li {
  min-height: 0;
  position: relative;
}
nav .nav-wrapper .menu li a,
nav .nav-wrapper .mobile-menu li a {
  color: #FC4445;
  font-size: 13px;
  padding: 0 10px;
}
nav .nav-wrapper .menu li a:hover,
nav .nav-wrapper .mobile-menu li a:hover {
  background-color: rgba(255, 111, 97, 0.25);
  transition: 0.5s;
}
nav .nav-wrapper .menu li .btn,
nav .nav-wrapper .mobile-menu li .btn {
  margin-left: 5px;
  color: #0B0C10;
  padding: 0 5px;
  font-size: 12px;
  background: #FC4445;
  text-transform: uppercase;
}
nav .nav-wrapper .menu li .btna,
nav .nav-wrapper .mobile-menu li .btna {
  color: #0B0C10;
}
nav .nav-wrapper .menu li .btn:hover,
nav .nav-wrapper .mobile-menu li .btn:hover {
  background: #fd7677;
}
nav .nav-wrapper .menu .dropdown-content,
nav .nav-wrapper .mobile-menu .dropdown-content {
  display: none;
  position: absolute;
  top: 64px;
  transition: 0.25s;
  opacity: 1;
  background-color: #f9f9f9;
  right: 0;
  width: 125px;
  z-index: 99;
  -moz-box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
nav .nav-wrapper .menu .dropdown-content a,
nav .nav-wrapper .mobile-menu .dropdown-content a {
  text-align: center;
  padding: 15px 10px;
}
nav .nav-wrapper .menu .dropdown-content.active,
nav .nav-wrapper .mobile-menu .dropdown-content.active {
  display: block;
  height: initial;
}
nav .nav-wrapper .menu {
  text-align: center;
  float: right;
}
nav .nav-wrapper .mobile-menu {
  display: none;
}
nav .nav-wrapper .mobile-menu li {
  float: right;
}
nav .nav-wrapper .mobile-menu li .btn {
  margin-left: 5px;
  margin-right: 0;
}
nav .nav-wrapper .mobile-menu li .btn.drop-down-toggle {
  background-color: rgba(255, 111, 97, 0.5);
  font-size: 14px;
  color: white;
  padding: 0 10px;
}
nav .nav-wrapper .mobile-menu li .btn.drop-down-toggle:hover {
  background: #ff867b;
}
nav .nav-wrapper .mobile-menu li .dropdown-content {
  top: 59px;
}
footer {
  box-sizing: border-box;
  box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
footer.page-footer {
  padding: 0;
  width: 100%;
  background: #e6e6e6;
}
footer.page-footer .container {
  height: 32px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  display: table;
}
footer.page-footer .container .copyright,
footer.page-footer .container p {
  display: table-cell;
  vertical-align: middle;
  font-size: 10px;
}
footer.page-footer .container p {
  text-align: left;
}
footer.page-footer .container .copyright {
  text-align: right;
}
footer.page-footer .container .copyright p {
  display: inline;
  text-align: right;
}
.section {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  background: white;
  padding: 25px;
  min-height: 600px;
  color: #0B0C10;
}
.section a {
  color: #fc2b2c;
}
.section a:hover {
  color: #fb1213;
}
.section .btn a {
  color: white;
}
.section .btn.highlight-mid {
  background: #ff867b;
}
.section .btn.highlight-mid:hover {
  background: #ff9d94;
}
.section h1.color-blocked,
.section h2.color-blocked,
.section h3.color-blocked,
.section h4.color-blocked,
.section h5.color-blocked {
  padding: 10px;
  margin: 10px 0 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.section h1.color-blocked.highlight-main,
.section h2.color-blocked.highlight-main,
.section h3.color-blocked.highlight-main,
.section h4.color-blocked.highlight-main,
.section h5.color-blocked.highlight-main {
  color: white;
  background: #FC4445;
  border-bottom: 4px solid #fd7677;
}
.section h1.color-blocked.highlight-mid,
.section h2.color-blocked.highlight-mid,
.section h3.color-blocked.highlight-mid,
.section h4.color-blocked.highlight-mid,
.section h5.color-blocked.highlight-mid {
  background: #FF6F61;
  border-bottom: 4px solid #ff9d94;
}
.section h1.color-blocked.dark,
.section h2.color-blocked.dark,
.section h3.color-blocked.dark,
.section h4.color-blocked.dark,
.section h5.color-blocked.dark {
  color: white;
  background: #0B0C10;
  border-bottom: 4px solid #20232e;
}
.section h1.color-blocked.light,
.section h2.color-blocked.light,
.section h3.color-blocked.light,
.section h4.color-blocked.light,
.section h5.color-blocked.light {
  background: white;
  border-bottom: 4px solid #e6e6e6;
}
.section h1.color-blocked ~ .content,
.section h2.color-blocked ~ .content,
.section h3.color-blocked ~ .content,
.section h4.color-blocked ~ .content,
.section h5.color-blocked ~ .content {
  margin-bottom: 25px;
  box-sizing: border-box;
  padding: 15px;
  background: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.section h1.color-blocked ~ .content p:first-of-type,
.section h2.color-blocked ~ .content p:first-of-type,
.section h3.color-blocked ~ .content p:first-of-type,
.section h4.color-blocked ~ .content p:first-of-type,
.section h5.color-blocked ~ .content p:first-of-type {
  margin-top: 0;
}
.section .container {
  width: 70%;
  margin: 0 auto;
}
.section .container ul.indented {
  padding-left: initial;
  margin-left: 16px;
}
.section .container ul.bulleted {
  list-style-type: disc;
}
.section .container ul.bulleted li {
  list-style-type: disc;
}
.section .container ul.bulleted ul {
  padding-left: 15px;
}
.section .container .table {
  display: table;
  table-layout: fixed;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #0B0C10;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  background: white;
}
.section .container .table .row {
  display: table-row;
  height: 46px;
}
.section .container .table .row a,
.section .container .table .row button,
.section .container .table .row div,
.section .container .table .row input,
.section .container .table .row p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 5px;
  display: table-cell;
  vertical-align: middle;
  padding: 5px 15px;
}
.section .container .table .row a.btn,
.section .container .table .row button.btn,
.section .container .table .row div.btn,
.section .container .table .row input.btn,
.section .container .table .row p.btn {
  width: 100px;
}
.section .container .table .row button {
  line-height: 26px;
}
.section .container .table .row.headings {
  text-transform: uppercase;
  color: white;
  background: #0B0C10;
  border-bottom: 2px solid #FF6F61;
}
.section .container .table .row.headings p {
  padding-bottom: 2px;
}
.section .container .table .row:after {
  content: none;
}
.section .container .table.alternating .row:nth-child(even) {
  background: rgba(11, 12, 16, 0.15);
}
.section .container .table.three-col .row a,
.section .container .table.three-col .row p {
  width: 33%;
}
.section .container .table.three-col .row:first-child {
  width: 34%;
}
.section .container .table.two-col .row a,
.section .container .table.two-col .row p {
  width: 50%;
}
.section .container .table.flex {
  display: block;
}
.section .container .table.flex .row {
  display: flex;
}
.section .container .table.flex .row p,
.section .container .table.flex .row .cell {
  text-align: center;
  flex: 1 0 auto;
  margin: 5px 0;
  box-sizing: border-box;
}
.section .container .table.flex .row p.fixed-width,
.section .container .table.flex .row .cell.fixed-width {
  flex: 0 0 15%;
}
.section .container .table.flex .row p.fixed-width.fifth.one,
.section .container .table.flex .row .cell.fixed-width.fifth.one,
.section .container .table.flex .row p.fixed-width.fifths.one,
.section .container .table.flex .row .cell.fixed-width.fifths.one {
  flex: 1 0 20%;
}
.section .container .table.flex .row p.fixed-width.tenth.one,
.section .container .table.flex .row .cell.fixed-width.tenth.one,
.section .container .table.flex .row p.fixed-width.tenths.one,
.section .container .table.flex .row .cell.fixed-width.tenths.one {
  flex: 1 0 10%;
}
.section .container .table.flex .row p.fixed-width.tenth.three,
.section .container .table.flex .row .cell.fixed-width.tenth.three,
.section .container .table.flex .row p.fixed-width.tenths.three,
.section .container .table.flex .row .cell.fixed-width.tenths.three {
  flex: 1 0 30%;
}
.section .container .content {
  width: 100%;
}
.section .container .table {
  display: table;
  border-collapse: collapse;
}
.section .container .table .flex-col {
  display: table-cell;
  vertical-align: middle;
}
.section .container .table .flex-col p {
  font-size: 8px;
}
.section .container .centered {
  text-align: center;
}
.section.full-page {
  background: transparent;
  min-height: calc(100vh - 64px - 32px);
}
#match-logger-container {
  position: fixed;
  bottom: 0%;
  top: 0%;
  left: 0;
  padding-bottom: 2 rem;
  width: 0;
  background-color: transparent;
  overflow: hidden;
  z-index: 99;
  display: block;
  transition-duration: 0.51s;
  color: #0B0C10;
  text-align: center;
}
#match-logger-container .background-click-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#match-logger-container .section {
  position: relative;
  z-index: 2;
  max-width: 300px;
  min-height: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  width: 75%;
}
#match-logger-container .section h3 {
  margin-top: 0;
}
#match-logger-container .section p {
  margin: 25px 0;
  line-height: 1.25;
}
#match-logger-container .section input[type="submit"] {
  margin-top: 25px;
  background: #FC4445;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 10px;
  color: white;
  cursor: pointer;
  font-size: 25px;
  border-radius: 5px;
}
#match-logger-container.active {
  width: 100%;
  background-color: rgba(11, 12, 16, 0.5);
}
#alert-container {
  width: 120%;
  left: -10%;
  top: 64px;
  position: absolute;
  color: white;
  background-color: #f1b65c;
  text-align: center;
  display: none;
  padding: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
#alert-container .close-button {
  position: relative;
  color: white;
  margin-left: 10px;
  top: initial;
  right: initial;
  float: none;
}
#alert-container.active {
  display: block;
}
#alert-container.logged-out {
  top: 0;
}
#alert-container.urgent {
  background-color: #DC143C;
}
#cycling-background-container {
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  min-height: 500px;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background: url("images/bg-Unbridled-Growth.jpg");
  position: fixed;
  z-index: -1;
  -webkit-filter: saturate(2);
  filter: saturate(2);
  animation: fadeInBGFilter;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #FC4445;
  float: right;
  margin: 0;
  background: transparent;
  border: none;
}
.close-button .material-icons {
  font-size: 30px;
}
.card-grid {
  display: inline-grid;
  grid-template-columns: repeat(4, 25%);
  width: 100%;
}
.card-grid #legend {
  position: fixed;
  z-index: 99;
  bottom: 32px;
  right: -15px;
  padding: 5px;
}
.card-grid #legend ul {
  margin: 0;
  padding: 0;
  background: transparent;
}
.card-grid #legend ul li {
  border: 1px solid white;
  color: white;
  padding: 5px;
  width: 100px;
  margin: 2px auto;
  border-radius: 2px;
  font-size: 8px;
}
.card-grid #legend ul li.mid-highlight {
  background: #FF6F61;
}
.card-grid #legend ul li.highlight {
  background: #FC4445;
}
.card-grid #legend ul li.dark {
  background: #0B0C10;
}
.card-grid .card-wrapper {
  width: 100%;
  margin: 30px auto;
  position: relative;
}
.card-grid .card-wrapper .wishlist-checkbox {
  width: 36px;
  height: 36px;
  top: -25px;
  right: -10px;
  opacity: 1;
  position: absolute;
  z-index: 2;
}
.card-grid .card-wrapper .wishlist-checkbox label {
  position: relative;
}
.card-grid .card-wrapper .wishlist-checkbox label:before {
  cursor: pointer;
  opacity: 0.4;
  content: "\2665";
  position: absolute;
  color: white;
  font-size: 35px;
  background-color: #FF6F61;
  padding: 6px;
  border-radius: 25px;
  line-height: 24px;
  -webkit-tap-highlight-color: transparent;
  transition: 0.25s;
}
.card-grid .card-wrapper .wishlist-checkbox input[type="checkbox"]:checked + label::before {
  opacity: 1;
}
.card-grid .card-wrapper .card-grid-item {
  width: 100%;
  text-align: center;
  display: block;
}
.card-grid .card-wrapper .card-grid-item img {
  width: 90%;
  margin: 0;
}
.card-grid .card-wrapper .card-count-component {
  margin: 0 auto;
  text-align: center;
  width: 90%;
}
.card-grid .card-wrapper .card-count-component span {
  display: table;
  background: #26a69a;
  height: 35px;
  border-radius: 2px;
}
.card-grid .card-wrapper .card-count-component span .btn,
.card-grid .card-wrapper .card-count-component span input {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.card-grid .card-wrapper .card-count-component span .btn {
  font-weight: bolder;
  width: 36px;
  border-left: 2px solid white;
  padding: 0;
  float: right;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.card-grid .card-wrapper .card-count-component span .btn:first-of-type {
  float: left;
  border-left: none;
  border-right: 2px solid white;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.card-grid .card-wrapper .card-count-component span input {
  border-radius: 2px;
  width: 30%;
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 26px;
  line-height: 26px;
  font-weight: bold;
  text-overflow: ellipsis;
  vertical-align: bottom;
  overflow: hidden;
}
.card-grid .card-wrapper .card-count-component span input[type=number]::-webkit-inner-spin-button,
.card-grid .card-wrapper .card-count-component span input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.card-grid .card-wrapper .trade-proposal-request {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.card-grid .card-wrapper .trade-proposal-request .btn {
  width: 100%;
}
.card-grid .card-wrapper .trade-proposal-request .btn span {
  display: none;
}
.card-grid .card-wrapper.not-in-collection .card-count-component span {
  display: block;
  background: transparent;
}
.card-grid .card-wrapper.not-in-collection .card-count-component span .remove-card.btn,
.card-grid .card-wrapper.not-in-collection .card-count-component span input {
  display: none;
}
.card-grid .card-wrapper.not-in-collection .card-count-component span .add-card.btn {
  width: 100%;
  border-left: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background: #FF6F61;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.card-grid .card-wrapper.not-in-collection .card-count-component span .add-card.btn:hover {
  background: #ff867b;
}
.card-grid .card-wrapper.for-trade .trade-proposal-request .btn {
  background: #FC4445;
}
.card-grid .card-wrapper.for-trade .trade-proposal-request .btn:hover {
  background: #fc5d5e;
}
.card-grid .card-wrapper.for-trade .trade-proposal-request .btn:after {
  content: "Propose Trade";
}
.card-grid .card-wrapper.not-for-trade .trade-proposal-request .btn {
  background: #FF6F61;
}
.card-grid .card-wrapper.not-for-trade .trade-proposal-request .btn:hover {
  background: #ff867b;
}
.card-grid .card-wrapper.not-for-trade .trade-proposal-request .btn:after {
  content: "Propose Trade";
}
.card-grid .card-wrapper.not-in-league .card-grid-item {
  opacity: 0.5;
}
.card-grid .card-wrapper.not-in-league .trade-proposal-request .btn {
  background: #0B0C10;
  cursor: auto;
}
.card-grid .card-wrapper.not-in-league .trade-proposal-request .btn:after {
  content: "Not in League";
}
.card-view-nav {
  margin: 0 auto;
  text-align: center;
}
.card-view-nav a.btn {
  color: white;
}
.modal-wrapper {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: rgba(11, 12, 16, 0.5);
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 99;
  padding-bottom: 2 rem;
  transition-duration: 0.51s;
  color: #0B0C10;
  text-align: center;
}
.modal-wrapper .background-click-container {
  width: 100%;
  height: 100vh;
  top: 0;
  position: absolute;
  z-index: -1;
}
.modal-wrapper .modal {
  position: relative;
  height: 50vh;
  width: 75%;
  margin: 25vh auto;
  background: white;
  vertical-align: middle;
  overflow: auto;
  padding: 25px;
  border-radius: 2px;
  display: table;
}
.modal-wrapper .modal .content {
  display: table-cell;
  vertical-align: middle;
}
.modal-wrapper .modal .content h1,
.modal-wrapper .modal .content h2,
.modal-wrapper .modal .content h3,
.modal-wrapper .modal .content h4,
.modal-wrapper .modal .content p {
  margin-top: 0;
}
.modal-wrapper.active {
  display: block;
}
.modal-wrapper.narrow .modal {
  width: 40%;
  min-width: 250px;
}
.btn,
.btn-large,
.btn-small {
  background: #FC4445;
}
.btn:hover,
.btn-large:hover,
.btn-small:hover {
  background: #fc5d5e;
}
#ranking-wrapper {
  text-align: center;
}
#ranking-wrapper h1 {
  font-size: 50px;
  margin-top: 15px;
  margin-bottom: 10px;
  line-height: 1;
  font-variant: small-caps;
  font-weight: 700;
  color: white;
}
#ranking-wrapper #ranking-board {
  box-sizing: border-box;
  width: 35%;
  padding: 5px;
  margin: 0 auto;
  height: calc(100vh - 64px - 32px - 60px - (4*25px));
  position: relative;
  min-width: 300px;
}
#ranking-wrapper #ranking-board .scroll-catcher {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  padding-right: 5px;
  padding-left: 5px;
}
#ranking-wrapper #ranking-board .scroll-catcher::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}
#ranking-wrapper #ranking-board .scroll-catcher::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
#ranking-wrapper #ranking-board .scroll-catcher::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: white;
}
#ranking-wrapper #ranking-board .scroll-catcher .vert-centerer {
  display: table;
  height: 100%;
  width: 100%;
}
#ranking-wrapper #ranking-board #rankings {
  display: flex;
  margin: 0 auto;
  min-width: 275px;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
#ranking-wrapper #ranking-board #rankings a {
  color: white;
  max-width: 275px;
  min-width: 200px;
  margin: 5px auto;
  padding: 5px;
  height: auto;
  display: block;
  font-size: 12px;
  background: #FC4445;
  animation-name: bigEntrance;
  -webkit-animation-name: bigEntrance;
  animation-duration: 1.6s;
  -webkit-animation-duration: 1.6s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  visibility: visible !important;
  position: relative;
}
#ranking-wrapper #ranking-board #rankings a:first-of-type ::before {
  content: "\2726";
  position: absolute;
  left: 5px;
}
#ranking-wrapper #ranking-board #rankings a:first-of-type ::after {
  content: "\2726";
  position: absolute;
  right: 5px;
}
#ranking-wrapper #ranking-board #rankings a:hover {
  background: #fc5d5e;
}
#ranking-wrapper #ranking-board #rankings a.unranked {
  background: #FF6F61;
}
#ranking-wrapper #ranking-board #rankings a.unranked:hover {
  background: #ff867b;
}
#ranking-wrapper #ranking-board #rankings .divider {
  height: 2px;
  border: none;
  outline: none;
  width: 100%;
  overflow: hidden;
  background-color: white;
}
#ranking-wrapper #ranking-board #ranking-border {
  width: 100%;
  height: calc(100vh - 64px - 32px - 60px - (4*25px));
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#ranking-wrapper #ranking-board #ranking-border div {
  height: 2px;
  width: 2px;
  background: white;
  position: absolute;
  animation-duration: 1s;
}
#ranking-wrapper #ranking-board #ranking-border div.vert {
  animation-name: growVert;
  height: 100%;
  left: 0;
  transform-origin: top;
}
#ranking-wrapper #ranking-board #ranking-border div.vert.right {
  left: auto;
  left: initial;
  right: 0;
  transform-origin: bottom;
}
#ranking-wrapper #ranking-board #ranking-border div.horz {
  animation-name: growHorz;
  width: 100%;
  top: 0;
  transform-origin: right;
}
#ranking-wrapper #ranking-board #ranking-border div.horz.bottom {
  top: auto;
  top: initial;
  bottom: 0;
  transform-origin: left;
}
#ranking-wrapper #ranking-board h2 {
  margin-top: 0;
}
#ranking-wrapper #ranking-board .row {
  margin-bottom: 0;
}
#dashboard-wrapper .container {
  margin: 50px auto;
}
#dashboard-wrapper #collection-table .main-toggle,
#dashboard-wrapper #deck-table .main-toggle,
#dashboard-wrapper #wishlist-table .main-toggle {
  float: right;
  margin-top: 6px;
}
#dashboard-wrapper #collection-table .btn,
#dashboard-wrapper #deck-table .btn,
#dashboard-wrapper #wishlist-table .btn {
  color: white;
}
#dashboard-wrapper #collection-table .row p:nth-of-type(2),
#dashboard-wrapper #deck-table .row p:nth-of-type(2),
#dashboard-wrapper #wishlist-table .row p:nth-of-type(2) {
  text-align: center;
}
#dashboard-wrapper #collection-table .row p:last-child,
#dashboard-wrapper #deck-table .row p:last-child,
#dashboard-wrapper #wishlist-table .row p:last-child {
  text-align: right;
  text-align: -webkit-right;
}
#dashboard-wrapper #collection-table .row .button-wrapper:last-of-type,
#dashboard-wrapper #deck-table .row .button-wrapper:last-of-type,
#dashboard-wrapper #wishlist-table .row .button-wrapper:last-of-type {
  text-align: right;
}
#dashboard-wrapper #collection-table .row .button-wrapper:last-of-type .btn,
#dashboard-wrapper #deck-table .row .button-wrapper:last-of-type .btn,
#dashboard-wrapper #wishlist-table .row .button-wrapper:last-of-type .btn {
  margin-right: 0;
}
#dashboard-wrapper #user-and-trades {
  display: table;
}
#dashboard-wrapper #user-and-trades #trades-table,
#dashboard-wrapper #user-and-trades #user {
  display: table-cell;
  box-sizing: border-box;
  vertical-align: middle;
  position: relative;
}
#dashboard-wrapper #user-and-trades #user h3 {
  margin: 0;
}
#dashboard-wrapper #user-and-trades #user {
  text-align: center;
  padding-right: 10px;
}
#dashboard-wrapper #user-and-trades #user img {
  width: 100%;
  background: #0B0C10;
  height: 207px;
  width: auto;
}
#dashboard-wrapper #user-and-trades #user a.btn {
  width: 100%;
  margin: 0 auto;
  color: white;
  display: block;
}
#dashboard-wrapper #user-and-trades #user a.btn,
#dashboard-wrapper #user-and-trades #user img {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
#dashboard-wrapper #user-and-trades #trades-table .table input,
#dashboard-wrapper #user-and-trades #trades-table .table p:last-child {
  text-align: center;
}
#dashboard-wrapper #user-and-trades #trades-table .table input {
  width: 90%;
  padding: 5px 0;
}
#dashboard-wrapper #user-and-trades #trades-table .table input[type=number]::-webkit-inner-spin-button,
#dashboard-wrapper #user-and-trades #trades-table .table input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: auto;
  margin: 0;
}
#dashboard-wrapper #collection-table .main-toggle,
#dashboard-wrapper #deck-table .main-toggle,
#dashboard-wrapper #wishlist-table .main-toggle {
  float: right;
  margin-top: 6px;
}
#dashboard-wrapper #collection-table .btn,
#dashboard-wrapper #deck-table .btn,
#dashboard-wrapper #wishlist-table .btn {
  color: white;
}
#dashboard-wrapper #collection-table .row p:nth-of-type(2),
#dashboard-wrapper #deck-table .row p:nth-of-type(2),
#dashboard-wrapper #wishlist-table .row p:nth-of-type(2) {
  text-align: center;
}
#dashboard-wrapper #collection-table .row p:last-child,
#dashboard-wrapper #deck-table .row p:last-child,
#dashboard-wrapper #wishlist-table .row p:last-child {
  text-align: right;
  text-align: -webkit-right;
}
#dashboard-wrapper #deck-table .row p:last-of-type a {
  width: 100px;
}
#dashboard-wrapper #collection-table .row .checkbox-container {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  padding-right: 29px;
}
#dashboard-wrapper #collection-table .row .checkbox-container .checkbox {
  width: 36px;
  height: 36px;
  display: inline-block;
  position: relative;
  vertical-align: top;
}
#dashboard-wrapper #collection-table .row .checkbox-container .checkbox label {
  position: relative;
  color: white;
}
#dashboard-wrapper #collection-table .row .checkbox-container .checkbox label:before {
  width: 36px;
  position: absolute;
  left: 0;
  content: "No";
  text-decoration: none;
  color: white;
  text-align: center;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
  background: #ff8275;
  padding: 5px;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 5px;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  transition: 0.25s;
}
#dashboard-wrapper #collection-table .row .checkbox-container .checkbox label:hover:before {
  background: #ff948a;
}
#dashboard-wrapper #collection-table .row .checkbox-container .checkbox input[type="checkbox"]:checked + label::before {
  background-color: #FC4445;
  content: "Yes";
}
#log-in-wrapper {
  display: table;
  width: 40%;
  margin: 0 auto;
}
#log-in-wrapper .container {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  background: white;
  height: calc(100vh - (2*25px));
  padding: 25px;
  text-align: center;
}
#log-in-wrapper .container .field {
  margin: 5px 0;
}
#log-in-wrapper .container input[type="checkbox"] {
  position: relative;
  opacity: 1;
  pointer-events: fill;
  margin: 5px 0;
  vertical-align: middle;
}
#log-in-wrapper .container .btn {
  margin: 5px 0;
  min-width: 250px;
}
#log-in-wrapper .container .btn input {
  text-transform: uppercase;
  vertical-align: middle;
  border: none;
  padding: 0;
}
#log-in-wrapper .container .btn input:active {
  outline: none;
}
#log-in-wrapper .container a,
#log-in-wrapper .container input[type="submit"] {
  outline: none;
  border: none;
  width: 250px;
  margin: 10px 0;
  text-decoration: none;
  color: white;
  text-align: center;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
  background: rgba(11, 12, 16, 0.5);
  padding: 5px;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  transition: 0.25s;
}
#log-in-wrapper .container a .google-icon,
#log-in-wrapper .container input[type="submit"] .google-icon {
  position: relative;
  top: 4px;
}
#log-in-wrapper .container a:hover,
#log-in-wrapper .container input[type="submit"]:hover {
  background: rgba(11, 12, 16, 0.6);
}
#log-in-wrapper .container input[type="submit"] {
  background: #FC4445;
  color: white;
}
#log-in-wrapper .container input[type="submit"]:active {
  outline: none;
}
#log-in-wrapper .container input[type="submit"]:hover {
  background-color: #fd7677;
}
#card-search-wrapper #search.container {
  white-space: nowrap;
}
#card-search-wrapper #search.container input[type=text] {
  width: calc(100% - 110px);
}
#card-search-wrapper #search.container input[type=submit] {
  width: 100px;
  margin-left: 10px;
  border: none;
  color: white;
  background-color: #FC4445;
  box-sizing: border-box;
}
#card-search-wrapper #easy-filter-tabs.container {
  position: relative;
}
#card-search-wrapper #easy-filter-tabs.container .checkbox {
  width: 100px;
  height: 36px;
  margin: 0 5px 5px;
  display: inline-block;
  position: relative;
  vertical-align: top;
}
#card-search-wrapper #easy-filter-tabs.container .checkbox label {
  position: relative;
  color: white;
}
#card-search-wrapper #easy-filter-tabs.container .checkbox label:before {
  width: 100px;
  position: absolute;
  left: 0;
  content: "OWNED";
  text-decoration: none;
  color: white;
  text-align: center;
  letter-spacing: 0.5px;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
  background: rgba(255, 111, 97, 0.5);
  padding: 5px;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  transition: 0.25s;
}
#card-search-wrapper #easy-filter-tabs.container .checkbox:first-of-type {
  margin-left: 0;
}
#card-search-wrapper #easy-filter-tabs.container .checkbox#CB-trade label:before {
  content: "For trade";
}
#card-search-wrapper #easy-filter-tabs.container .checkbox#CB-league label:before {
  content: "In League";
}
#card-search-wrapper #easy-filter-tabs.container .checkbox input[type="checkbox"]:checked + label::before {
  background-color: #FC4445;
}
#card-search-wrapper #easy-filter-tabs.container .checkbox.icon {
  width: 36px;
}
#card-search-wrapper #easy-filter-tabs.container .checkbox.icon label:before {
  content: "";
  width: 36px;
  background-color: transparent;
  background-image: url("../images/red.svg");
  padding: 0;
  border-radius: none;
  -webkit-filter: saturate(0);
  opacity: 0.5;
  filter: saturate(0);
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  transition: 0.25s;
}
#card-search-wrapper #easy-filter-tabs.container .checkbox.icon#black label:before {
  background-image: url("../images/black.svg");
}
#card-search-wrapper #easy-filter-tabs.container .checkbox.icon#black label:before {
  background-image: url("../images/black.svg");
}
#card-search-wrapper #easy-filter-tabs.container .checkbox.icon#white label:before {
  background-image: url("../images/white.svg");
}
#card-search-wrapper #easy-filter-tabs.container .checkbox.icon#green label:before {
  background-image: url("../images/green.svg");
}
#card-search-wrapper #easy-filter-tabs.container .checkbox.icon#blue label:before {
  background-image: url("../images/blue.svg");
}
#card-search-wrapper #easy-filter-tabs.container .checkbox.icon#colorless label:before {
  background-image: url("../images/colorless.svg");
}
#card-search-wrapper #easy-filter-tabs.container .checkbox.icon#common label:before {
  background-image: url("../images/common.svg");
}
#card-search-wrapper #easy-filter-tabs.container .checkbox.icon#uncommon label:before {
  background-image: url("../images/uncommon.svg");
}
#card-search-wrapper #easy-filter-tabs.container .checkbox.icon#rare label:before {
  background-image: url("../images/rare.svg");
}
#card-search-wrapper #easy-filter-tabs.container .checkbox.icon input[type="checkbox"]:checked + label::before {
  background-color: transparent;
  -webkit-filter: saturate(1);
  filter: saturate(1);
  opacity: 1;
}
#card-profile-wrapper .container {
  white-space: nowrap;
}
#card-profile-wrapper .container h4 {
  margin-bottom: 10px;
}
#card-profile-wrapper .container #league-details,
#card-profile-wrapper .container .card-wrapper {
  white-space: normal;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}
#card-profile-wrapper .container .card-wrapper img {
  width: 223px;
  margin-right: 10px;
}
#card-profile-wrapper .container .card-wrapper .btn {
  display: block;
  width: 200px;
  margin: 10px auto 0;
}
#card-profile-wrapper .container #league-details {
  width: calc(100% - 233px);
}
#card-profile-wrapper .container #league-details .table .row p:last-of-type {
  text-align: center;
}
#edit-details-wrapper .table {
  border: none;
  box-shadow: none;
}
#edit-details-wrapper .table .flex-col#user {
  width: 170px;
  text-align: center;
}
#edit-details-wrapper .table .flex-col#user a,
#edit-details-wrapper .table .flex-col#user img,
#edit-details-wrapper .table .flex-col#user label {
  display: block;
  margin: 5px auto;
}
#edit-details-wrapper .table .flex-col#user img {
  border: 2px solid #0B0C10;
}
#edit-details-wrapper .table .flex-col#user a {
  color: white;
}
#edit-details-wrapper .table .flex-col#detail-inputs {
  padding-left: 25px;
}
#edit-details-wrapper input[type="submit"],
#edit-details-wrapper input[type="switch"] {
  margin: 25px auto 0;
  display: block;
}
#edit-collections-wrapper #collections {
  text-align: center;
}
#edit-collections-wrapper #collections a.btn {
  color: white;
}
#match-history-wrapper .container #match-history.table .row p:first-child {
  width: 100px;
  text-align: center;
}
#match-history-wrapper .container #match-history.table .row .on-mobile {
  display: none;
}
#collection-wrapper .btn,
#user-wrapper .btn {
  color: white;
}
#collection-wrapper .btn.user,
#user-wrapper .btn.user {
  margin: 5px 0;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#collection-wrapper img.user-image,
#user-wrapper img.user-image {
  background-color: #0B0C10;
}
@-moz-document url-prefix() {
  .card-grid .card-wrapper .card-count-component span input {
    line-height: 34px;
    -moz-appearance: textfield;
  }
}
@media only screen and (orientation: portrait) {
  #cycling-background-container {
    background-size: contain;
  }
}
@media only screen and (max-width: 993px) {
  nav .nav-wrapper ul.menu {
    margin-right: -10%;
  }
}
@media only screen and (max-width: 800px) {
  .card-grid {
    grid-template-columns: repeat(3, 33.3%);
  }
}
@media only screen and (max-width: 720px) {
  #dashboard-wrapper h2 {
    text-align: center;
    margin: 0;
    font-size: 2.1rem;
  }
  #dashboard-wrapper .container {
    margin: 10px auto;
  }
  #dashboard-wrapper .container:first-of-type {
    margin-top: 0;
  }
  #dashboard-wrapper .container#user-and-trades {
    display: block;
  }
  #dashboard-wrapper .container#user-and-trades #trades-table,
  #dashboard-wrapper .container#user-and-trades #user {
    display: block;
  }
  #dashboard-wrapper .container#user-and-trades #user {
    margin-bottom: 20px;
  }
  #dashboard-wrapper .container#user-and-trades #user .btn {
    width: 207px;
  }
  #dashboard-wrapper .container#collection-table h3,
  #dashboard-wrapper .container#deck-table h3,
  #dashboard-wrapper .container#wishlist-table h3 {
    font-size: 2rem;
  }
  #dashboard-wrapper .container#collection-table h3 .btn.main-toggle,
  #dashboard-wrapper .container#deck-table h3 .btn.main-toggle,
  #dashboard-wrapper .container#wishlist-table h3 .btn.main-toggle {
    width: 100px;
    margin-top: -1px;
    overflow: hidden;
  }
}
@media only screen and (max-width: 650px) {
  nav .nav-wrapper .menu {
    display: none;
  }
  nav .nav-wrapper .mobile-menu {
    display: block;
    float: right;
    margin-top: 5px;
  }
  nav .nav-wrapper .mobile-menu li button.btn:last-child {
    margin-right: 0;
  }
  nav .nav-wrapper #logo-container {
    display: block;
    left: 0;
    width: 30px;
    overflow: hidden;
    float: left;
  }
  nav .nav-wrapper #logo-container svg {
    padding-left: 0;
  }
  nav .nav-wrapper #logo-container svg .logo-fill {
    display: none;
  }
  nav .nav-wrapper #logo-container svg .logo-fill.mtg-icon {
    display: block;
  }
  .section .container {
    width: 90%;
    position: relative;
  }
  #log-in-wrapper {
    width: 95%;
  }
  #ranking-wrapper {
    width: 100%;
    min-width: 100px;
  }
  #ranking-wrapper #ranking-board {
    width: 100%;
    min-width: 100px;
  }
  #ranking-wrapper #ranking-board ul {
    width: 100%;
    text-align: center;
    min-width: 100px;
  }
  #ranking-wrapper #ranking-board ul li {
    width: 95%;
    padding: 5px 2px;
    margin: 2px auto;
  }
  #edit-details-wrapper .table {
    display: block;
  }
  #edit-details-wrapper .table .flex-col {
    display: block;
    margin: 25px auto;
  }
  #edit-details-wrapper .table .flex-col#detail-inputs {
    padding-left: 0;
  }
  #edit-details-wrapper input[type="submit"] {
    margin: 25px auto 0;
    display: block;
  }
  #match-history-wrapper .container #match-history.table {
    display: block;
    height: auto;
    overflow: hidden;
  }
  #match-history-wrapper .container #match-history.table .row {
    text-align: center;
    display: block;
    height: auto;
    padding: 0 0 20px 0;
    margin-bottom: 0;
  }
  #match-history-wrapper .container #match-history.table .row.headings {
    display: none;
  }
  #match-history-wrapper .container #match-history.table .row p {
    display: inline-block;
    width: 100%;
    white-space: normal;
    padding: 0;
  }
  #match-history-wrapper .container #match-history.table .row p .on-mobile {
    display: inline;
    font-weight: bold;
  }
  #match-history-wrapper .container #match-history.table .row p:first-of-type {
    margin-top: 0;
    background: #0B0C10;
    color: white;
    text-transform: uppercase;
    display: block;
    text-align: center;
    width: 101%;
    margin: 0 0 10px 0;
  }
  #match-history-wrapper .container #match-history.table .row p:first-of-type span {
    font-weight: normal;
  }
  #match-history-wrapper .container #match-history.table .row p:last-of-type {
    margin-bottom: 0;
  }
  .card-grid {
    grid-template-columns: repeat(2, 50%);
  }
  .card-grid #legend {
    right: -20px;
    padding: 2px;
    opacity: 0.8;
  }
  .card-view-nav h3 {
    font-size: 1.92rem;
  }
  .card-view-nav a.btn {
    padding: 0 5px;
    font-size: 10px;
  }
}
@media only screen and (max-width: 400px) {
  .card-grid {
    display: block;
  }
  .card-grid .card-wrapper {
    margin-bottom: 25px;
  }
  .section {
    padding-left: 1px;
    padding-right: 1px;
  }
  .container {
    width: 100%;
  }
  #match-logger-container .section #match-logger h3 {
    font-size: 1.5rem;
  }
  #match-logger-container .section #match-logger p {
    margin: 15px 0 5px;
  }
  #dashboard-wrapper .container {
    width: 100%;
  }
  #dashboard-wrapper .container .table .row p {
    padding: 5px;
  }
  #dashboard-wrapper .container#collection-table .checkbox-container {
    padding-right: 0;
    text-align: center;
  }
  #dashboard-wrapper .container#collection-table .checkbox-container .checkbox {
    width: 100%;
  }
  #dashboard-wrapper .container#collection-table .checkbox-container input {
    display: none;
  }
}
@keyframes slide-up-and-go {
  0%,
  99% {
    display: block;
  }
  90% {
    top: -100px;
  }
}
@keyframes growVert {
  0% {
    transform: scaleY(0);
  }
}
@keyframes growHorz {
  0% {
    transform: scaleX(0);
  }
}
@keyframes fadeInBGFilter {
  0% {
    -webkit-filter: saturate(0.5);
    filter: saturate(0.5);
  }
}
@keyframes bigEntrance {
  0% {
    transform: translateY(10px);
    opacity: 0.2;
  }
  30% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes bigEntrance {
  0% {
    transform: translateY(10px);
    opacity: 0.2;
  }
  30% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mtgColorCycle {
  16% {
    fill: #00d285;
  }
  32% {
    fill: #55BCC9;
  }
  48% {
    fill: #3D4849;
  }
  64% {
    fill: whitesmoke;
  }
  82% {
    fill: #DC143C;
  }
  98% {
    fill: #FF6F61;
  }
}
@-webkit-keyframes mtgColorCycle {
  16% {
    fill: #00d285;
  }
  32% {
    fill: #55BCC9;
  }
  48% {
    fill: #3D4849;
  }
  64% {
    fill: whitesmoke;
  }
  80% {
    fill: #DC143C;
  }
  96% {
    fill: #FF6F61;
  }
}
