.nav {
    &_mobile-menu {
        display: none;

        li {
            float: right;

            .btn {
                margin-left: 5px;
                margin-right: 0;

                &.drop-down-toggle {
                    background-color: fade($color-highlight-mid-import, 50%);
                    font-size: 14px;
                    color: $color-light;
                    padding: 0 10px;

                    &:hover {
                        background: lighten($color-highlight-mid-import, 5%);
                    }
                }
            }
        }

        .dropdown-content {
            top: 59px;
            a {
                height:35px;
            }
        }

    }

}