.nav {
  position: relative;
  background: $color-dark;
  box-sizing: border-box;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  z-index: 2;
  color: $color-highlight-import;
  background-color: $color-dark;
  width: 100%;
  height: $nav-height;

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 100%;
  }

  &_logo {
    height: 100%;
    width: auto;
    left: 0;
    justify-content: start;

    svg {
      width: auto;
      height: 100%;

      .logo-fill {
        fill: $color-highlight-mid-import;
      }

    }

    &:hover {
      svg {
        .logo-fill {
          transition: 1s;
          animation: mtgColorCycle;
          animation-duration: 10s;
          animation-timing-function: ease-in-out;
          animation-iteration-count: infinite;
          animation-direction: alternate-reverse
        }

      }
    }
  }

  &_menu {
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
    text-align: center;


    &-link,
    &-list,
    &-mobile, 
    &-match-logger-toggle-wrapper {
      min-height: 0;
      position: relative;
      -webkit-transition: background-color .3s;
      transition: background-color .3s;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      height: 100%;
      text-transform: capitalize;
      cursor: default;
      margin-left: 15px;
    }

    &-mobile,
    &-match-logger-toggle-wrapper {

      color: $color-dark;

      & a {
        color: $color-dark;
      }

      [class*="-btn"] {
        padding: 0 10px;
        font-size: 12px;
      }
    }

    &-mobile {
      display: none;
    }

    .dropdown-content {
      background-color: $color-light;
      margin: 0;
      display: none;
      overflow-y: auto;
      position: absolute;
      top: $nav-height;
      z-index: 99;
      -moz-box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
      box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
      transition: .25s;
      max-height: calc(100vh - #{$nav-height} - (#{$footer-height}/2));

      li {
        width: 100%;
        clear: both;

        &:hover {
          background-color: rgba($color-nuetral, .25);
        }
      }

      a {
        text-align: center;
        padding: 15px 10px;
        display: block;
        font-size: 12px;
        width: 150px;
        cursor: pointer;
        color: $color-highlight-import;
        font-size: 14px;
       
        &:hover {
          background: none;
        }
      }

      &.active {
        display: block;
        height: initial;
      }

    }
  }


  @media only screen and (max-width: 850px) {
    &_menu {
      
      &-link,
      &-list {
        display: none;
      }

      &-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        .dropdown-content {
          li {
            a{ 
              padding: 8px 10px;
            }
          }
        }
      }
    }

    &_logo {
      width: 32px;
      overflow: hidden;

      svg {
        padding-left: 0;
      }
    }
  }
}