
  <div id="rules-wrapper">
    <div class="container">
       <h4 class="color-blocked highlight-main" id="collections">Collections &amp; Trades</h4>
        <div class="copy">
          <p>Collections are limited by the following contraints:</p>
      
          <ul class="indented bulleted">
          <li>Cards may only come from the <b>Guilds of Ravnica</b>, and <b>Core 2019</b> sets</li>
          <li>Cards come from 6 starting packs and 1 pack extra per following month</li>
          <ul>
          <li>Current total is <b>6 packs</b></li>
          <li>The leader at the end of each month may purchase an additional pack. <i>See the <a href="#rankings">ranking rules</a> for more details</i></li>
          </ul>
          <li>Players may trade league cards with other members.</li> 
          <li>Players may only trade at league events.</li>
            <ul>
              <li>We will having a standing Sunday evening meetup, 6-10, at <a href="https://www.tabletopgamecafe.com/">Tabletop Board Game Cafe</a>.</li>
              <li>This is a bendable rule, <a href="mailto:ogretheleaguening@gmail.com">email us</a> if you can't make events buts still want to trade</li>
          <li>Each player may <b>recieve up to 1 packs worth of cards</b> per month in trades.</li>     
          <ul>
              <li>More specifically:</li>
              <li><b>1 rare, or mythic rare</b></li>
              <li><b>3 uncommon</b></li>
              <li><b>11 common</b></li>
          </ul>
          </ul>
        
          <li>Players may trade any rarity of card for any other rarity, and in what ever amount they want, provided neither player recieves more than their alloted trade numbers.</li> 
          <li>Players may <b>trade away any amount</b> of cards</li> 
          </ul>
        </div>
        <h4 class="color-blocked dark" id="collections">Matches &amp; Ranking</h4>
        <div class="copy">
          <p>Ranking is determined as follows:</p>
      
          <ul class="indented bulleted">
          <li>Rank is caluclated using the <a href="https://en.wikipedia.org/wiki/Elo_rating_system">Elo Rating System</a></li>
            <ul>
            <li>This sytem uses difference in the ratings between two players to determine the points awarded the winner and detracted from the loser.</li>
            <li>Essentially a higher ranked player will score less for beating a lower ranked player, lose more for losing to a lower ranked player, and visa versa.</li>
            <li>This sytem requires a list of chronologically ordered matches, so please make sure you are loggin matches at the time you finish, or date them appropriately</li>
            </ul>
          </ul>
          <p>An offical league match:</p> 
          <ul class="indented bulleted"> 
          <li>Is a <b>single best of three round</b> between two members.</li>
          <li>May happen at any time, and <b>need not occur</b> at a league event</li>
          <li>Both players must agree that it is a league match, and not casual</li>
             <li> Is supposed to be fun, so <b> don't be hardnosed on the rules</b>, unless you are playing Pat, then give him hell.</li>
          </ul>
       
         
        </div>
    </div> 
  </div>



