
  <div id="rules-wrapper">
    <div class="container">
       <h4 class="color-blocked highlight-main" id="collections">Collections &amp; Trades</h4>
        <div class="content">
          <p>Collections are limited by the following constraints:</p>
      
          <ul class="indented bulleted">
          <li>Cards may only come from the <b>Core 2020</b> set, and any later set. Masters series are not allowed.</li>
          <li>Cards come from a 7 pack pool and 1 pack extra per following month.</li>
          <li>At the end of each month:</li>
          <ul>
          <li>The leader receives a pin or other laurel to mark their victory.</li>
          <li>Players with a 50-50 or below win-loss rate may buy an additional pack and receive a double trade allotment the next month. You must play at least 3 games in the month to qualify for this. 
          </li>
           </ul>
          <li>Players may trade league cards with other members.</li> 
          <li>Players may only trade at league events. We will having a standing :</li>
            <ul>
              <li>Sunday afternoon meetup, 12-5, at <a href="https://www.tabletopgamecafe.com/">Tabletop Board Game Cafe</a>.</li>
              <li>Tuesday evening meetup, 4-7, at Giant Eagle Market District (upstairs), in Grandview.</li>
              <li>This is a bendable rule, <a href="mailto:ogretheleaguening@gmail.com">email us</a> if you can't make events buts still want to trade.</li>
          <li>Each player may receive up to <b>1 pack's worth of rare or uncommon cards per month</b> in trades.</li>     
          <ul>
              <li>More specifically:</li>
              <li><b>1 rare, or mythic rare</b></li>
              <li><b>3 uncommon</b></li>
              <li><b>Common Trades are Free</b></li>
          </ul>
          </ul>
        
          <li>Players may trade any rarity of card for any other rarity, and in whatever amount they want, provided neither player receives more than their allotted trade numbers.</li> 
          <li>Players may trade away <b>any amount</b> of cards.</li> 
          <li>Trades roll over at the end of each month.</b>
          </ul>
        </div>
        <h4 class="color-blocked dark" id="collections">Matches &amp; Ranking</h4>
        <div class="content">
          <p>Ranking is determined as follows:</p>
      
          <ul class="indented bulleted">
          <li>Rank is calculated using the <a href="https://en.wikipedia.org/wiki/Elo_rating_system">Elo Rating System</a></li>
            <ul>
            <li>This system uses the difference in the ratings between two players to determine the points awarded the winner and detracted from the loser.</li>
            <li>Essentially, a higher ranked player will score less for beating a lower-ranked player, lose more for losing to a lower-ranked player, and visa-versa.</li>
            <li>This system requires a list of chronologically ordered matches, so please make sure you lg matches at the time you finish or date them appropriately.</li>
            </ul>
          </ul>
          <p>An official league match:</p> 
          <ul class="indented bulleted"> 
          <li>Is a <b>single best of three round</b> between two members.</li>
          <li>A two headed giant match between 4 league members. In this case, the highest ranked member of each team records the match as a match between themselves, and likewise for the lowest ranked member of each team.</li>
          <li>May happen at any time, and <b>need not occur</b> at a league event.</li>
          <li>Both players must agree that it is a league match, and not casual.</li>
             <li> Is supposed to be fun, so <b> don't be hard-nosed on the rules</b>, unless you are playing Pat, then give him hell.</li>
          </ul>
       
         
        </div>
    </div> 
  </div>



