<div id="trade-search-wrapper">
  <div class="container">
    <input id="card-search" type="text" placeholder="Begin typing to find a card..."/>
    <div class="card-grid">
        <div id="legend">
            <ul>
            <li class="highlight">Marked Tradable</li>
            <li class="mid-highlight">Not Marked Tradable</li>
            <li class="dark">Not in League</li>
            </ul>
        </div>
        <div class="card-wrapper for-trade">
        <%# ZACK I have it set up on the collections page%>
        <div class="wishlist-checkbox">
            <input id="checkbox-for-card-XYZ" type="checkbox" >
            <label for="checkbox-for-card-XYZ"></label>
        </div>

        <a class="card-grid-item" href="/cards/102">
        <img class="card" alt="Goblin Banneret" title="Goblin Banneret" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=452852&amp;type=card">
        </a>

        <div class="trade-proposal-request">
            <button type="button" onclick="idedElementToggle('trade-modal')" class="btn " data-id="102"></button>
        </div>
        </div>
          <div class="card-wrapper  not-for-trade">
            <div class="wishlist-checkbox">
                <input id="checkbox-for-card-XYb" type="checkbox" >
                <label for="checkbox-for-card-XYb"></label>
            </div>
            <a class="card-grid-item" href="/cards/102">
            <img class="card" alt="Goblin Banneret" title="Goblin Banneret" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=452852&amp;type=card">
            </a>
           <div class="trade-proposal-request">
                <button type="button" class="btn" data-id="102" onclick="idedElementToggle('trade-modal')"></button>
            </div>
        </div>
    </div>
    </div>
</div>


<div id="trade-modal" class="narrow modal-wrapper"  >
  <div class="background-click-container" onclick="idedElementToggle('trade-modal')"></div>
  <div id="trade-proposal" class="modal">
    <button class="close-button" href="#" class="match-log-close" onclick="idedElementToggle('trade-modal')">
      <i class="material-icons">cancel</i>
    </button>
    <div class="content">
      <h4> Trade Proposal</h4>
      <p>You are contacting:</p>
      <ul class="trade-partners">
        <li>Person</li>
        <li>Person</li>
      </ul>
      <p>To talk about trading for <span class="card-to-be-traded"></span></p>
      <button class="btn" onclick="idedElementToggle('trade-modal')">Send Message</button>
    </div>

  </div>
</div>

<script>
  var current_user_id = <%= current_user.id %>

  var cardTemplate = function(card) {
    return `
      <div class="card-wrapper ${leagueStatus(card)}">
        <div class="wishlist-checkbox">
            <input id="checkbox-for-card-${card.id}" type="checkbox" >
            <label for="checkbox-for-card-${card.id}"></label>
        </div>
        <a class="card-grid-item" href="/cards/${card.attributes.id}">
        <img class="card" alt="${card.attributes.name}" title="${card.attributes.name}" src="${card.attributes.image_url}">
        </a>
       <div class="trade-proposal-request">
            <button type="button" class="btn" data-id="${card.attributes.id}"></button>
        </div>
    </div>

    `
  }

  var onlyUserOwningCardTemplate = function(card) {
    return `
      <h4> Trade Proposal</h4>
      <p>You are the only user who owns this card. 😭</p>
    `
  }

  var cardModalTemplate = function(card) {
    return `
      <h4> Trade Proposal</h4>
      <p>You are contacting:</p>
      ` +
      card.attributes.users.data.filter(function(user){return user.id != current_user_id}).map(function(user) {
        return `
        <ul class="trade-partners">
        ${user.attributes.name}
        </ul>
        `
      }).join("\n")
      +
      `
      <p>To talk about trading for <span class="card-to-be-traded">${card.attributes.name}</span></p>
      <button class="btn" onclick="idedElementToggle('trade-modal')">Send Message</button>
    </div>
    `
  }

var leagueStatus = function(card) {
  console.log(card);
  if (card.attributes.users.data.length > 0)
    return 'for-trade'
  else
    return 'not-in-league'
}

var cards = []

$(function() {

  var clearGrid = function() {
    $('.card-grid').children('.card-wrapper').remove();
  }

  var populateGrid = function(res) {
    clearGrid();
    res.forEach(function(card) {
      $('.card-grid').append(cardTemplate(card));
    });
  };

  $('#card-search').keyup(debounce(function() {
    query = $(this).val();
    if (query.length > 0) {
      xhrRequest('/cards/?query=' + query, "GET", function(res) { cards = res.data; populateGrid(cards) } )
    } else {
      clearGrid();
    }
  }, 300));

  $(document).off('click', '.trade-proposal-request .btn');
  $(document).on('click', '.trade-proposal-request .btn', function(){ 
    $('.content').empty();
    id = $(this).attr('data-id');
    card = search('id', id, cards);
    users = card.attributes.users.data;
    if ((users.length > 1) || (users[0].id != current_user_id) )
      $('.content').append(cardModalTemplate(card));
    else
      $('.content').append(onlyUserOwningCardTemplate);

    $('#trade-modal').addClass('active');
  });
});

</script>
