<div id="trade-search__wrapper">
  <div class="trade__container">
    <%= react_component("CardBrowser", {
      current_user_id: current_user.id,
      wishlist: current_user.wishlist
    }) %>
  </div>
</div>