<div id="trade-search__wrapper">
  <div class="trade__container">
    <input id="card-search" type="text" placeholder="" />
    <div id="search-help"></div>
    <div class="card-grid">
    </div>
  </div>
</div>

<div id="trade-modal" class="modal"  >
  <div class="modal__overlay" onclick="Helpers.toggleElementById('trade-modal')"></div>
  <div class="modal__content">
  </div>
</div>
<script>
  var current_user_id = <%= current_user.id %>
  var wishlist = []

  xhrRequest('/wishlists/' + <%= current_user.id %>, 'GET', function(res) { wishlist = res; });
  $(document).off('click', '.card-grid_wishlist__toggle-checkbox');
  $(document).on('click', '.card-grid_wishlist__toggle-checkbox', function(){
    card_id = $(this).attr('data-id');
    xhrRequest('/wishlists/<%= current_user.id %>', "PUT", function(res) {wishlist=res;}, {card_id: card_id});
  });

  var cardTemplate = function(card) {
    console.log(card.attributes)
    return `
    <div class="card-grid__card__wrapper">
      <div class="card-grid__card">
          <div class="card-grid_browse-wishlist__toggle">
          <input class="card-grid_wishlist__toggle-checkbox" wish-list-id="${search('id', card.attributes.id, wishlist) === undefined ? -1 : search('id', card.attributes.id, wishlist).id}" data-id="${card.attributes.id}" id="wl-checkbox-for-${card.attributes.id}" type="checkbox" ${search('id', card.attributes.id, wishlist) === undefined ? '' : 'checked' }>
          <label class="card-grid_wishlist__toggle-label" for="wl-checkbox-for-${card.attributes.id}"></label>
        </div>
        <a href="/cards/${card.id}">
          <div class="card-grid__card__placeholder">
          </div>
          <img alt="${card.attributes.name}" title="${card.attributes.name}" src="${card.attributes.image_url}">
        </a>
      </div>
      <div class="card-grid_trade-proposal">
       <button type="button" class="card-grid_trade-proposal__btn ${leagueStatus(card)}" data-id="${card.attributes.id}"></button>
      </div>
    </div>
  `
  }

  var onlyUserOwningCardTemplate = function(card) {
    return `
      <button class="modal__close-button" href="#" onclick="Helpers.toggleElementById('trade-modal')">
      <i class="fas fa-times"></i>
      </button>
      <h4 class="modal__title">Oh no!</h4>
      <p>You are the only user who owns this card. 😭</p>
    `
  }

  var cardModalTemplate = function(card) {
    return `
      <button class="modal__close-button" href="#" onclick="Helpers.toggleElementById('trade-modal')">
      <i class="fas fa-times"></i>
      </button>
      <h4 class="modal__title" >Email Proposal</h4>
      <p>You are contacting:</p>
      ` +
      card.attributes.users.data.filter(function(user){return user.id != current_user_id}).map(function(user) {
        return `
        <ul class="trade-modal_partner-list">
        ${user.attributes.name}
        </ul>
        `
      }).join("\n")
      +
      `
      <p>To talk about trading for <span class="card-to-be-traded">${card.attributes.name}</span></p>
      <form action="/trades" method="post"> 
        <input type="hidden" name="authenticity_token" value="${token}">
        <input type="hidden" name="trade[card_id]" value="${card.id}"/>
        <button type="submit" class="trade-modal_send__btn">Send Message</button>
      </form>
    </div>
    `
  }

var leagueStatus = function(card) {
  if (card.attributes.users.data.length > 0)
    return 'for-trade'
  else
    return 'not-in-league'
}

var cards = []

$(function() {

  var clearGrid = function() {
    $('.card-grid').children('.card-grid__card__wrapper').remove();
    $('#search-help').empty();
  }

  var populateGrid = function(res) {
    clearGrid();
    if (res.length > 0) {
      res.forEach(function(card) {
        $('.card-grid').append(cardTemplate(card));
      });
    } else {
      $('#search-help').text(Constants.card_search_no_results);
    }
  };

  document.getElementById("card-search").placeholder = Constants.card_search_placeholder;
  $('#card-search').keyup(debounce(function() {
    $('#search-help').empty();
    query = $(this).val();
    if (query.length >= Constants.min_query_length) {
      xhrRequest('/cards/?query=' + query, "GET", function(res) { cards = res.data; populateGrid(cards) } )
    } else if (query.length === 0) {
      clearGrid();
    } else {
      $('#search-help').text(Constants.card_search_placeholder);
    }
  }, 300));

  $(document).off('click', '.card-grid_trade-proposal__btn');
  $(document).on('click', '.card-grid_trade-proposal__btn', function(){ 
    $('.modal__content').empty();
    id = $(this).attr('data-id');
    card = search('id', id, cards);
    users = card.attributes.users.data;
    if ((users.length > 1) || (users[0].id != current_user_id) )
      $('.modal__content').append(cardModalTemplate(card));
    else
      $('.modal__content').append(onlyUserOwningCardTemplate);

    $('#trade-modal').addClass('active');
  });
});

</script>
