.card-profile {
    &__container {
        display: flex;
        align-items: top;
        flex-wrap: wrap;
        @media only screen and (max-width: 900px) {
            flex-direction: column;
            justify-content: center;
            flex-wrap: nowrap;
        }
    }
    &__card {
        text-align: center;
        @media only screen and (max-width: 400px) {
            margin: 5px 0;
        }
    }
    &__image {
        max-width: 220px;
    }
    &__title {
        flex: 1 0 100%;
        @media only screen and (max-width: 900px) {
            text-align: center;
        }
    }
    &__details {
        flex: 1 1 auto;
        padding-left: 10px;
        @media only screen and (max-width: 900px) {
            padding-left: 0;
        }
        & .trade-proposal-button--small {
            width: auto;
            margin: 0;
        }
    }
    &__action-bar {
        text-align: right;
        @media only screen and (max-width: 900px) {
            text-align: center;
            margin: 10px 0 0 0;
        }
        @media only screen and (max-width: 550px) {
            margin: 0;
        }

        .button {
            font-size: 0.8rem;
            display: inline-block;
            @media only screen and (max-width: 550px) {
                min-width: 100%;
            }
            min-width: 170px;
            margin: 10px 0;

            .fa {
                margin-right: 0.2rem;
                font-size: 1rem;
            }
            &:nth-child(2) {
                @media only screen and (max-width: 550px) {
                    margin-left: 0;
                }
                margin-left: 10px;
            }
        }
    }
    &__cell {
        &--name {
            flex: 1 1 100%;
            min-width: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: left;
        }
        &--amount {
            flex: 0 0 75px;
            display: flex;
            text-align: left;
            align-items: center;

            .button {
                margin: 0;
                margin-left: auto;
                width: 38px;
                justify-self: flex-end;
            }
        }
        &--trade {
            flex: 0 0 50px;
        }
    }
    &__row--headings {
        .card-profile__cell--amount {
            flex-basis: 100px;
        }
    }
    &__table--ownership {
        margin-bottom: 15px;
    }
}

.ownership-table {
    margin-bottom: 15px;

    &__row {
        display: grid;
        grid-template-columns: auto 55px 55px;
        width: 100%;
        column-gap: 1rem;
        padding: 0.5rem;
        align-items: center;
    }

    &__quantity {
        text-align: right;
    }

    &__message {
        grid-row: 1 / span 2;
        button {
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__sets {
        grid-row: 2;
        grid-column: 1 / span 2;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 0.5rem;
        overflow: hidden;

        .set-tag {
            color: #aaa;
            border: none;
            background: none;
            padding: 0;
            cursor: pointer;
            &.current {
                color: var(--color-text-theme);
            }
        }
    }
}

.card-profile__image-carousel {
    margin-bottom: 1rem;
    .swiper-pagination {
        position: relative;
        margin-top: 1rem;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }

    .swiper-pagination-bullet {
        width: 36px;
        height: 36px;
        display: grid;
        place-items: center;
        line-height: 20px;
        font-size: 2rem;
        color: #aaa;
        opacity: 1;
        background: none;
    }

    .swiper-pagination-bullet-active {
        color: var(--color-text-theme);
    }
}
